@model banimo.ViewModel.MainFactorListVM

<p style="display:none" id="parentValue"></p>
<p style="display:none" id="factorValue"></p>
<style>
    td{
        padding:15px; 
        text-align:center;
        border : 1px solid #eee;

    }
</style>
<div class="modal fade" id="FsayerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                فرم ثبت سایر هزینه ها
            </div>
            <div class="modal-body">
              
              <input id="FparentID" hidden/>
                <div id="FsayerHolder"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:7px;">لغو</button>
                <button id="FconfirmSayer" type="button" class="btn btn-default" style="margin: 7px;">تایید</button>

                <script>
                    $("#FconfirmSayer").click(function () {
                        //$("#residModal").modal('hide');

                        var dPercent = $("#FdPercent").val();
                        var dPrice = $("#FdPrice").val();
                        var TPercent = $("#FTPercent").val();
                        var TPrice = $("#FTPrice").val();
                        var OPercent = $("#FOPercent").val();
                        var OPrice = $("#FOPrice").val();
                        var HPercent = $("#FHPercent").val();
                        var HPrice = $("#FHPrice").val();
                        var parentID = $("#FparentID").val();
                        if ($('#FTcheck').is(":checked")) {
                            var Tbaha = "1";
                        }
                        else {
                            var Tbaha = "0";
                        }
                        if ($('#FOcheck').is(":checked")) {
                            var Obaha = "1";
                        }
                        else {
                            var Obaha = "0";
                        }
                        if ($('#FHcheck').is(":checked")) {
                            var Hbaha = "1";
                        }
                        else {
                            var Hbaha = "0";
                        }
                        if ($('#Fdcheck').is(":checked")) {
                            var dbaha = "1";
                        }
                        else {
                            var dbaha = "0";
                        }
                       


                        $.ajax({
                            url: '/Core/setFactorSayer',
                            dataType: 'html',
                            data: {
                                dPercent: dPercent,
                                dPrice: dPrice,
                                TPercent: TPercent,
                                TPrice: TPrice,
                                OPercent: OPercent,
                                OPrice: OPrice,
                                HPercent: HPercent,
                                HPrice: HPrice,
                                ID: parentID,
                                dbaha: dbaha,
                                Hbaha: Hbaha,
                                Obaha: Obaha,
                                Tbaha: Tbaha,
                                isFroosh: "1"


                            },
                            success: function (data) {
                                if (data == "error") {
                                    toastr.options = {
                                        "debug": false,
                                        "positionClass": "toast-top-center",
                                        "onclick": null,
                                        "fadeIn": 300,
                                        "fadeOut": 1000,
                                        "timeOut": 5000,
                                        "extendedTimeOut": 1000
                                    }
                                    toastr.error('خطا')
                                }
                                else {
                                    toastr.options = {
                                        "debug": false,
                                        "positionClass": "toast-top-center",
                                        "onclick": null,
                                        "fadeIn": 300,
                                        "fadeOut": 1000,
                                        "timeOut": 5000,
                                        "extendedTimeOut": 1000
                                    }
                                    toastr.success('با موفقیت انجام شد')

                                    $("#FsayerModal").modal('toggle');

                                    //window.location.reload();
                                }


                            },
                            error: function () {
                                alert("nashod")
                            }
                        });
                    })

                </script>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div style="overflow-x:auto;padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> لیست فاکتورها    @*<i id="print" style="cursor:pointer; float:left" class="fa fa-print"></i>*@  @*<i style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus addNewResidHavale"></i>*@</h3>



            </div>
            @if (Model.mainFactor != null)
            {

                @*<script>
                        $("#print").click(function () {

                            var obj = @Html.Raw(@Json.Encode(Model.list.myProducts));
                            $("input[name=data]").val(JSON.stringify(obj));
                            $("input[name=id]").val('@Model.id');
                            $("#getPDF").submit();
                            $("#loading").fadeIn();
                            setInterval(function () { $("#loading").fadeOut(); }, 3000);



                        });
                    </script>*@
                <div class="panel-body">
                    <div id="morris-area-chart">
                        @{
                            int count = @Model.mainFactor.Count() + 1;

                            double sumf = Model.mainFactor.Sum(x => x.price * x.count);
                            double sum = Model.mainFactor.Sum(x => x.price);
                            double sumcount = Model.mainFactor.Sum(x => x.count);
                            <div style="overflow:auto">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                                                <tr>
                                                                    <th>ردیف</th>
                                                                    <th>شماره فاکتور</th>
                                                                    <th>نام انبار</th>
                                                                    <th>نوع سند</th>
                                                                    <th>طرف حساب</th>
                                                                    <th>زمان</th>
                                                                    <th>توضیحات</th>
                                                                    <th>نهایی</th>
                                                                    <th></th>

                                                                    <th></th>
                                                                    <th></th>

                                                                </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.mainFactor)
                                        {
                                            string image = "";
                                            int i = Model.mainFactor.IndexOf(item) + 1;
                                            string deleteid = item.ID;
                                        <tr  nodeID="@item.nodeID" id="@deleteid">

                                            <td>@i</td>
                                            <td class="Ffpnumber">@item.number</td>
                                            <td anbarID="@item.anbarID" class="Ffpanbar">@item.anbarTitle</td>
                                            <td>@item.typeTitle</td>

                                            <td class="Ffppartner" partnerID=" @item.partnerID">
                                                <span>@item.partnerTitle</span>
                                            </td>




                                            <td class="Ffptimestamp">@item.timestamp</td>
                                            <td class="Ffbdesc">@item.deliverName</td>
                                            <td class="FdaemHolder">
                                                @if (item.status != "1")
                                                {
                                                    <input type="checkbox" class="Fdaem" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" checked class="Fdaem" />
                                                }

                                            </td>
                                            <td>
                                                <div class="btn btn-success FviewItem ">مشاهده اقلام</div>


                                            </td>
                                            <td>
                                                <div class="btn btn-success FviewSayer ">مشاهده سایر</div>


                                            </td>
                                            <td>
                                                @if (item.status == "1")
                                                {
                                                    <div class="btn btn-danger FdeleteFactorParent">حذف</div>

                                                }
                                            </td>
                                            <td>
                                                @if (item.status == "1")
                                                {
                                                    <div class="btn btn-danger FeditFactorParent">ویرایش</div>

                                                }
                                            </td>

                                  
                                        </tr>
                                        }
                                    @*<tr>

                                        <td>@count.ToString()</td>
                                        <td>جمع </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> @sumcount</td>
                                        <td>
                                        </td>
                                        <td>
                                            @string.Format("{0:n0}", @sumf)
                                        </td>

                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>*@


                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<script>
    $(".addNewResidHavale").click(function () {

        $("#FaddNewResidHavaleModal").modal('toggle');
    })
    $(".FeditFactorParent").click(function () {
        var ele = $(this).parent().parent();
        var number = ele.find(".Ffpnumber").text();
        var ID = ele.attr('id');
        var nodeID = ele.attr('nodeID')
        var anbarID = ele.find(".Ffpanbar").attr('anbarID');
        var fppartner = ele.find(".Ffppartner").attr('partnerID');
        var timestamp = ele.find(".Ffptimestamp").text();
        var fpdesc = ele.find(".Ffbdesc").text();





        $("#FnodeIDAddParentM").val(nodeID);
        $("#FpartnerItemMM").val(fppartner.trim());
        $("#FanabrItemM").val(anbarID);
        $("#FrecieverM").val(fpdesc);
        $("#FfactorNumberM").val(number);
        $("#FnewFactorIDM").val(ID);

        $("#FeditPurchaseFactor").modal('toggle');


    })
</script>
<script>

    $(".Fdaem").click(function () {
       
        var iteCheck = $(this);
        if ($(this).is(':checked')) {
            var productValue = "1";
        }
        else {
            var productValue = "0";
        }
        $("#FfactorValue").text(productValue);
        var factorParentid = $(this).parent().parent().attr('id');
        $("#FparentValue").text(factorParentid);
        if (productValue == "0") {
            iteCheck.prop("checked", true)
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,


            }
            toastr.error("شما قادر به انجام عملیات نیستید")
        }
        else {
            $("#FdaemModal").modal('toggle');
        }

    })
    $(".FviewSayer").click(function () {

        $("#FsayerHolder").html("");
        //$(this).parent().parent().parent().find('tr').css("background-color", "")
        //$(this).parent().parent().css("background-color", "red");
        var factorParent = $(this).parent().parent().attr('id');
        $("#FparentID").val(factorParent);
        $.ajax({
            url: '/Core/FgetFactorSayer',
            dataType: 'html',
            data: {
                ID: factorParent,
            },
            success: function (data) {
                
                $("#FsayerHolder").html(data);
            }

        })
        $("#FsayerModal").modal('toggle');
      
        
        
    })
    $(".FviewItem").click(function () {
        $("#FcallFrom").val("0");
        $(this).parent().parent().parent().find('tr').css("background-color", "")
        $(this).parent().parent().css("background-color", "red")
       

        var factorParent = $(this).parent().parent().attr('id');
        $("#FnewFactorID").val(factorParent);
        $.ajax({
            url: '/Core/FreturnDraftListFactor',
            dataType: 'html',
            data: {
                parentID: factorParent,
            },
            success: function (data) {

                

                $("#kharidFactorListSection3").html(data);
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#kharidFactorListSection3").offset().top
                }, 1000);
            },
            error: function () {

            }
        });
    })

    $(".editItem").click(function () {
        $(this).parent().parent().find(".phase1").toggle();
        $(this).parent().parent().find(".phase2").toggle();

    })
    $(".editItemVerif").click(function () {


        var amani = $(this).parent().parent().find(".amanicheckbox").is(":checked");
        var factorPrice = $(this).parent().parent().find(".factorPrice").val();
        var factorPercent = $(this).parent().parent().find(".factorPercent").val();
        var id = $(this).parent().parent().attr("id");

        $.ajax({
            url: '/Core/editFactor',
            dataType: 'html',
            data: {
                amani: amani,
                factorPrice: factorPrice,
                factorPercent: factorPercent,
                id: id,
            },
            success: function (data) {

                $("#verifyCodeingTran").click();
            }

        })


    })

</script>