@model banimo.ViewModel.listPageVM
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}



@if (Model.orderList != null)
{
    foreach (var item in Model.orderList)
    {
        string color = item.transportaion_status == "1" ? "#f4fdf4" : "#fff";

        <div class="list-tile border shadow" style="background-color:@color">

            <div class=" list-title-child">
                <div>
                    <h4 class="list-tile-title">Order #@item.ID</h4>
                    <h6 class="list-tile-date">  @item.transportaion_date</h6>
                    <p class="list-tile-desc">
                        @item.transportaion_note
                    </p>
                </div>
                <div class="list-tile-icons">
                    <div class="list-tile-trailing bg-success">
                        <i class="bi bi-cash-coin"></i>
                    </div>
                    @if (item.payment_status != "1")
                    {
                        <small class="text-muted list-tile-price text-center">@string.Format("{0:n0}", decimal.Parse(@item.transportaion_price)) AED <br> Cash</small>
                    }
                    else
                    {
                        <small class="text-muted list-tile-price text-center">@string.Format("{0:n0}", decimal.Parse(@item.transportaion_price)) AED <br> PAID ONLINE</small>
                    }


                </div>
            </div>
            <div>
                @{
                    string sa = @item.sender_state + " - " + @item.sender_city + " - " + @item.sender_address + " " + @item.sender_building + " " + @item.sender_floor + " " + @item.sender_num;
                    string ra = @item.receiver_state + " - " + @item.receiver_city + " - " + @item.receiver_address + " " + @item.receiver_building + " " + @item.receiver_floor + " " + @item.receiver_num;
                }
                <p>
                    <b>sender Address:</b>
                    <img data-bs-toggle="modal" data-bs-target="#mapModal" style="width:25px" lat="@item.sender_lat" lon="@item.sender_lon" src="~/webAsset/deliver/app/Delivery/imgs/location.png" class="showMap" />
                </p>
                <p>
                    @sa
                </p>
            </div>
            <div>
                <p>
                    <b>Receiver Address:</b>
                    <img data-bs-toggle="modal" data-bs-target="#mapModal" style="width:25px" lat="@item.sender_lat" lon="@item.sender_lon" src="~/webAsset/deliver/app/Delivery/imgs/location.png" class="showMap" />
                </p>
                <p>
                    @ra
                </p>
            </div>
        </div>
    }
}







