
@model AdminPanelBoom.ViewModel.NewDatumm
@using Newtonsoft.Json;

@{
    Layout = "~/Views/Shared/_PartnerLayout.cshtml";
    ViewBag.Title = "Edit Product";
}


<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,

        plugins: [
            'code advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],

        toolbar: 'undo redo | formatselect | ' +
            ' bold italic backcolor | alignleft aligncenter ' +
            ' alignright alignjustify | bullist numlist outdent indent |' +
            ' removeformat | help| link image | code',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ]
    });
    //tinymce.activeEditor.execCommand('mceDirectionRTL');
</script>
<script>
     $.ajax({
            url: '/Partner/GetTheListOfItemsForEdit',
            data:
            {

                query: '@Model.title',

            },
            dataType: 'html',
            success: function (data) {

                $('#listOFItemsholder').html(data);
                $('#listOFItemsholder').css("display", "block");
            },
            error: function () {
                alert("nashod")
            }
        });
</script>

<p id="messageholder">@ViewBag.message</p>
<script>
    var message = $("#messageholder").text();

    if (message === "3") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.error('Color must be defferent')
    }

    else if (message === "2") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.error('Error')
    }
    else if (message === "1") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.success('Added Succeccfully')
    }
    else if (message === "4") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.error('Reapeted Item')
    }
</script>




<div id="addsonModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <style>
                    .itemform {
                        width: 200px;
                        margin: 0 10px;
                        border: 1px solid #ddd
                    }

                    .addpanel {
                        padding: 15px;
                        border: 1px solid #ddd;
                        margin: 0 20px;
                    }

                    .itemform label {
                        margin: 15px
                    }
                </style>
                <div id="addsonDataHolder" style="display:block;  ">

                    <div class="form-group " style="display:inline-block; width:100%">


                        <div>
                            <div class="addpanel" style="display:flex">
                                <input id="addsonItem" style="display:none" />
                                <div class="">
                                    <input id="addsonName" class="form-control" placeholder="Name " />
                                </div>

                                <div class="itemform">
                                    <label>@Resources.res.Multiple ?</label>
                                    <input id="addsonMultiple" type="checkbox" />
                                </div>
                                <div class="itemform">
                                    <label>@Resources.res.Required ?</label>
                                    <input id="addsonRequired" type="checkbox" />
                                </div>
                                <div class="">
                                    <button class="btn btn-success" id="setAddsOn">@Resources.res.OK</button>
                                </div>

                                <script>
                                  $("#setAddsOn").click(function () {
                                      var title = $("#addsonName").val();
                                      var multiple = "";
                                      var required = "";
                                      var addsonID = idtosend;// $("#addsonItem").val();
                                      if ($("#addsonMultiple").is(':checked')) {
                                          multiple = "on";
                                      }
                                      if ($("#addsonRequired").is(':checked')) {
                                          required = "on";
                                      }

                                      $.ajax({
                                          url: '/partner/setNewAddson',
                                          dataType: 'html',
                                          data: {
                                              title: title,
                                              multiple: multiple,
                                              required: required,
                                              productID: '@Model.ID',
                                              addsonID: addsonID
                                          },
                                          success: function (data) {
                                               $.ajax({
                                                  url: '/partner/getAddsonTitle',
                                                  dataType: 'html',
                                                  data: {
                                                      id: '@Model.ID',
                                                  },
                                                   success: function (data) {
                                                       //alert(data);
                                                      $("#addsonDataHolder").html(data);
                                                  },
                                                  error: function () {

                                                  }
                                              });
                                          },
                                          error: function () {

                                          }
                                      });
                                  })
                                </script>
                            </div>
                            <div class="tablepanel">

                                @if (Model.addson != null)
                                {
                                    <div class="row" style="padding:20px">
                                        <div class="panel-body">
                                            <div id="morris-area-chart">
                                                <div style="overflow:auto">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>

                                                                <th>
                                                                    @Resources.res.title
                                                                </th>
                                                                <th>
                                                                    @Resources.res.Multiple
                                                                </th>
                                                                <th>
                                                                    @Resources.res.Required
                                                                </th>
                                                                <th>

                                                                </th>

                                                                <th>

                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                if (Model.addson.adds != null)
                                                                {
                                                                    foreach (var item in Model.addson.adds)
                                                                    {

                                                                        <tr id="@item.ID">

                                                                            <td>
                                                                                <span class="tableTitle"> @Html.DisplayFor(modelItem => item.title)</span>

                                                                            </td>
                                                                            <td>
                                                                                @{
                                                                                    string ischecked = "";
                                                                                    if (item.isMultiple == "on")
                                                                                    {
                                                                                        ischecked = "checked";
                                                                                    }
                                                                                    <input type="checkbox" @ischecked class=" tableMultiple checkbox_animated check-it11" />
                                                                                }

                                                                            </td>
                                                                            <td>
                                                                                @{
                                                                                    ischecked = "";
                                                                                    if (item.isRquired == "on")
                                                                                    {
                                                                                        ischecked = "checked";
                                                                                    }
                                                                                    <input type="checkbox" @ischecked class=" tableRequired checkbox_animated check-it11" />
                                                                                }

                                                                            </td>
                                                                            <td style="text-align: center;">

                                                                                @{

                                                                                    <a class="btn btn-primary addsonDetailButton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;"> @Resources.res.detail</a>

                                                                                }

                                                                            </td>
                                                                            <td style="text-align: center;">

                                                                                @{
                                                                                    var ID = @item.ID;
                                                                                    <a class="btn btn-primary editAddson" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">@Resources.res.edit</a>

                                                                                }

                                                                            </td>
                                                                            <td style="text-align: center;">

                                                                                @{

                                                                                    <a class="btn btn-primary addsonRemove" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">@Resources.res.remove</a>

                                                                                }

                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }



                                                        </tbody>
                                                    </table>
                                                    <script>
                                                        var idtosend;
                                                        $(".addsonDetailButton").click(function () {
                                                            var addsonid = $(this).parent().parent().attr('id');
                                                            $("#addsonItem").val(addsonid);

                                                            $.ajax({
                                                                url: '/partner/getAddsonDetail',
                                                                dataType: 'html',
                                                                data: {
                                                                    id: addsonid,
                                                                },
                                                                success: function (data) {

                                                                    $("#addsonDetailHolder").html(data)
                                                                },
                                                                error: function () {

                                                                }
                                                            });
                                                        })
                                                        $(".editAddson").click(function () {
                                                            var addsonid = $(this).parent().parent().attr('id');
                                                            idtosend = addsonid;
                                                            var addsontitle = $(this).parent().parent().find(".tableTitle").text().trim();
                                                            var addsonRequired = $(this).parent().parent().find(".tableRequired").is(":checked");
                                                            var addsonMultiple = $(this).parent().parent().find(".tableMultiple").is(":checked");


                                                            $("#addsonName").val(addsontitle);
                                                            if (addsonMultiple == true) {
                                                                $("#addsonMultiple").attr("checked", "checked");
                                                            }
                                                            if (addsonRequired == true) {
                                                                $("#addsonRequired").attr("checked", "checked");
                                                            }
                                                        })
                                                        $(".addsonRemove").click(function () {
                                                            var addsonid = $(this).parent().parent().attr('id');
                                                            var parent = $(this).parent().parent();
                                                            $.ajax({
                                                                url: '/partner/removeAddsonTitle',
                                                                dataType: 'html',
                                                                data: {
                                                                    id: addsonid,
                                                                },
                                                                success: function (data) {
                                                                    parent.remove();
                                                                },
                                                                error: function () {

                                                                }
                                                            });

                                                        })
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>


                        <div id="addsonDetailHolder"></div>



                    </div>


                </div>
                <div class="row" id="filterholderforserver">

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn--no" data-bs-dismiss="modal" data-bs-original-title="" title="">@Resources.res.cancel</button>


            </div>
        </div>


    </div>
</div>

<input type="file" style="display:none" id="descriptionUpload" />



<div class="row">
    <div class="col-sm-12">
        <!-- Details Start -->

        <div class="card">
            <div class="card-body">
                <div class="title-header option-title">
                    <h5>@Resources.res.productVariation </h5>
                </div>
                <div class="row">
                    <div id="listOFItemsholder">

                    </div>
                </div>
            </div>

        </div>
       
        <!-- Details End -->

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!-- Details Start -->

        <div class="card">
            <div class="card-body">
                <div class="title-header option-title">
                    <h5>@Resources.res.productOptions  </h5>
                </div>
                <div class="row " style="padding-top:20px">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div style="display:inline-block; display:flex">
                            <button id="showFilterModal" style="margin:5px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                                @Resources.res.showFilter 
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       
                                        <p id="allfilterid" style="display:none"></p>
                                        <div class="modal-body" id="filterholderforproduct">




                                            @{

                                                <div style=" border-bottom:1px solid #ddd; padding:0px ; margin:0px;margin-bottom:10px; padding-bottom:10px">
                                                   
                                                    @if (Model.filters != null && Model.filters.Count() > 0)
                                                    {
                                                        foreach (var myitem in Model.filters)
                                                        {
                                                            if (myitem.filterdetailes != null)
                                                            {
                                                                string ID = myitem.ID;
                                                                string filterdetailtitle = "DEFfilterdetailtitle" + ID;
                                                                string filterdetaillist = "DEFfilterdetaillist" + ID;
                                                                string parentID = "parent" + ID;
                                                                if (myitem.filterkinde == "1")
                                                                {
                                                                    <div id=@parentID class="form-group  selectedfilter">
                                                                        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="">
                                                                            @myitem.filtername :
                                                                        </label>

                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <select id=@filterdetaillist name=filterdetaillist style="width:100%" class="filterselect">
                                                                                @if (myitem.filterdetailes != null)
                                                                                {
                                                                                    if (myitem.filterdetailes != null)
                                                                                    {
                                                                                        foreach (var detail in myitem.filterdetailes)
                                                                                        {
                                                                                            if (Model.productfilterlist != null)
                                                                                            {
                                                                                                if (Model.productfilterlist.Any(s => s.ID.Contains(detail.ID)))
                                                                                                {
                                                                                                    <option value=@detail.ID selected> @detail.detailname</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value=@detail.ID> @detail.detailname</option>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value=@detail.ID> @detail.detailname</option>
                                                                                            }



                                                                                        }
                                                                                    }

                                                                                }



                                                                            </select>


                                                                        </div>





                                                                    </div>
                                                                }

                                                                if (myitem.filterkinde == "2")
                                                                {

                                                                    <div id=@parentID class="form-group  SelectedAnbar">
                                                                        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="">
                                                                            @myitem.filtername :
                                                                        </label>

                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <select id=@filterdetaillist name=filterdetaillist style="width:100%" class="filterselect">
                                                                                @if (myitem.filterdetailes != null)
                                                                                {
                                                                                    if (myitem.filterdetailes != null)
                                                                                    {
                                                                                        foreach (var detail in myitem.filterdetailes)
                                                                                        {
                                                                                            if (Model.productfilterlist != null)
                                                                                            {
                                                                                                if (Model.productfilterlist.Any(s => s.ID.Contains(detail.detailname)))
                                                                                                {
                                                                                                    <option value=@detail.ID selected> @detail.detailname</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value=@detail.ID> @detail.detailname</option>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value=@detail.ID> @detail.detailname</option>
                                                                                            }



                                                                                        }
                                                                                    }

                                                                                }



                                                                            </select>


                                                                        </div>





                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div id=@parentID class="form-group ">
                                                                        <label class="control-label col-md-12 col-sm-12 col-xs-12" style="">
                                                                            @myitem.filtername :
                                                                        </label>

                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <select id=@filterdetaillist name=filterdetaillist style="width:100%" class="filterselect" multiple>
                                                                                @if (myitem.filterdetailes != null)
                                                                                {
                                                                                    if (myitem.filterdetailes != null)
                                                                                    {
                                                                                        foreach (var detail in myitem.filterdetailes)
                                                                                        {
                                                                                            if (Model.productfilterlist != null)
                                                                                            {
                                                                                                if (Model.productfilterlist.Any(s => s.ID.Contains(detail.ID)))
                                                                                                {
                                                                                                    <option value=@detail.ID selected> @detail.detailname</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value=@detail.ID> @detail.detailname</option>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value=@detail.ID> @detail.detailname</option>
                                                                                            }



                                                                                        }
                                                                                    }

                                                                                }



                                                                            </select>

                                                                        </div>





                                                                    </div>

                                                                }

                                                            }

                                                        }
                                                    }

                                                </div>


                                                @*if (Model.range != null)
                                                {

                                                    <div class="row" id="rangHolder" style="border-bottom:1px solid #ddd; padding:0px ; margin:0px;margin-bottom:10px;padding-bottom:10px ">
                                                        <p style="margin:5px">فیلتر های بازه ای:</p>
                                                        @foreach (var range in Model.range)
                                                        {

                                                            string id = "R" + range.ID;
                                                            <label class="control-label col-lg-3 col-md-2 col-sm-2 col-xs-12" style="text-align: right">
                                                                @range.title :
                                                            </label>
                                                            <input id=@id value=@range.value class="rangeInput form-control col-md-2 col-sm-2 col-xs-12" />

                                                        }
                                                    </div>

                                                }

                                                <div style="background-color : @Model.color" id="colorholder" class="form-group ">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                        رنگ :
                                                    </label>
                                                    @{
                                                        if (Model.color != "")
                                                        {


                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                @{
                                                                    <select id=productcolor name=productcolor onchange="Getcolorlist(this)" style="width:100%" class="" multiple>
                                                                        @if (Model.Colores != null)
                                                                        {
                                                                            foreach (var color in Model.Colores)
                                                                            {
                                                                                if (color.Value == Model.color)
                                                                                {
                                                                                    <option value=@color.Value selected> @color.Text    </option>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value=@color.Value> @color.Text    </option>

                                                                                }
                                                                            }

                                                                        }

                                                                    </select>
                                                                }
                                                            </div>


                                                            <script>

                                                                function Getcolorlist(productcolor) {
                                                                    var selectedValue = productcolor.value;
                                                                    $("#colorholder").css("background-color", selectedValue);

                                                                }
                                                                $(document).ready(function () {
                                                                    $("#productcolor option").each(function () {
                                                                        if ($(this).val() != '') {
                                                                            $(this).css('background-color', $(this).val());
                                                                        }
                                                                    });
                                                                });


                                                            </script>



                                                        }
                                                        else if (Model.Colores != null)
                                                        {
                                                            <div class="col-md-8 col-sm-8 col-xs-12">

                                                                @Html.DropDownListFor(m => m.color, Model.Colores, "--", new { id = "productcolor", name = "productcolor", onchange = "Getcolorlist(this)", style = "width:100%", @class = "DRPd" })
                                                            </div>


                                                            <script>

                                                                //function Getcolorlist(productcolor) {
                                                                //    var selectedValue = productcolor.value;
                                                                //    $("#colorholder").css("background-color", selectedValue);

                                                                //}
                                                                $(document).ready(function () {
                                                                    $("#productcolor option").each(function () {
                                                                        if ($(this).val() != '') {
                                                                            $(this).css('background-color', $(this).val());
                                                                        }
                                                                    });
                                                                });



                                                            </script>
                                                        }
                                                    }


                                                </div>*@



                                                <div class="form-group ">
                                                    <a id="FilterConfirm" class="btn btn-primary">@Resources.res.OK</a>
                                                    <script>
                                                        $("#showFilterModal").click(function () {
                                                            $('#filterModal').modal('toggle');
                                                        })
                                                        $("#FilterConfirm").click(function () {
                                                            $('#filterModal').modal('toggle');

                                                        })
                                                       
                                                    </script>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button id="addsonButton" style="margin:5px" type="button" class="btn btn-primary">
                                @Resources.res.showaddson
                            </button>

                            <button id="showFeatureModal" style="margin:5px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#featureModal">
                                @Resources.res.showFeature
                            </button>
                            <script>
                                $("#showFeatureModal").click(function () {
                                     
                                    $('#featureModal').modal('toggle');
                                })
                            </script>

                            <!-- Modal -->
                            <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       
                                        <div class="modal-body" id="featureholderforproduct">

                                            @{

                                                if (Model.featureList != null && Model.featureList != null)
                                                {
                                                    foreach (var myitem in Model.featureList)
                                                    {
                                                        if (myitem.value == "Master")
                                                        {
                                                            <div class="row" style="box-shadow:none; font-size:18px; padding:10px ">
                                                                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align: right">
                                                                    @myitem.title :
                                                                </label>
                                                                <div class=" col-md-8 col-sm-8 col-xs-12 featureInput">
                                                                    <input value="@myitem.value" class="control-label col-md-8 col-sm-8 col-xs-12" id="@myitem.title" type="text" style="display:none" />

                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row" style="padding:10px">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right">
                                                                    @myitem.title :
                                                                </label>
                                                                <div class=" col-md-8 col-sm-8 col-xs-12 featureInput">
                                                                    <input value="@myitem.value" class="form-control" id="@myitem.title" type="text" />

                                                                </div>



                                                            </div>
                                                        }



                                                    }
                                                    <p id="featuretobe" style="display:none"></p>
                                                    <p id="rangetobe" style="display:none"></p>
                                                    <div class="form-group ">
                                                        <a id="featureConfirm" class="btn btn-primary">@Resources.res.OK</a>

                                                        <script>
                                                            $("#featureConfirm").click(function () {

                                                                $('#featureModal').modal('toggle');

                                                            })
                                                        </script>
                                                    </div>
                                                }

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:inline-block">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="title-header option-title">
                    <h5>@Resources.res.generalDetail </h5>
                </div>



                <div class="row">

                    @using (@Html.BeginForm("Edit", "Partner", FormMethod.Post,
new { enctype = "multipart/form-data", id = "signupformforedit" }))
                    {
                        @Html.HiddenFor(m => m.meta);
                        @Html.HiddenFor(m => m.ID);
                        <input id="addnew" name="addnew" type="hidden" value="false" />
                        <input id="allGroup" name="allGroup" type="hidden" value="True" />
                        <input id="inputallfilterid" name="inputallfilterid" type="hidden" />
                        <input id="brandSelected" name="brandSelected" type="hidden" />
                        <input id="inputallrangeid" name="inputallrangeid" type="hidden" />
                        <input id="inputallfeatureid" name="inputallfeatureid" type="hidden" />
                        <input id="inputallcolid" name="inputallcolid" type="hidden" />
                        <input id="Selectedfilters" name="Selectedfilters" type="hidden" />
                        <input id="SelectedAnbars" name="SelectedAnbars" type="hidden" />
                        <input name="meta" value="" type="hidden" />
                        <input id="catID" name="catID" type="hidden" value="@Model.catid" />
                        <input value='1000' type="hidden" id="vahed" name="vahed">
                        <input value='1000' type="hidden" id="limit" name="limit" required="required" class="form-control col-md-7 col-xs-12">
                        <input value="@Model.metaTitle" type="hidden" id="titleTag" name="titleTag" required="required" class="form-control col-md-7 col-xs-12">

                        <input value="@Model.metaDescription" type="hidden" id="descTag" name="descTag" required="required" class="form-control col-md-7 col-xs-12">

                        <input value="@Model.metaTag" type="hidden" id="metaTag" name="metaTag" required="required" class="form-control col-md-7 col-xs-12">

                        <input value="@Model.redirect" type="hidden" id="redirect" name="redirect" required="required" class="form-control col-md-7 col-xs-12">

                        <input value="@Model.canonical" type="hidden" id="canonical" name="canonical" required="required" class="form-control col-md-7 col-xs-12">

                        <input value="@Model.title.Replace(" ","_").Replace(".","")" type="hidden" id="enName" name="enName" required="required" class="form-control col-md-7 col-xs-12">


                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.category
                            </label>
                            <div class="col-sm-10">
                                @{
                                    List<SelectListItem> listItems = new List<SelectListItem>();
                                    if (Model.filtercatsAll != null)
                                    {

                                        foreach (var item in Model.filtercatsAll)
                                        {


                                            if (item.filtersubcat != null)
                                            {
                                                listItems.Add(new SelectListItem
                                                {
                                                    Text = item.title,
                                                    Value = "1" + item.ID,
                                                });
                                                foreach (var subcat in item.filtersubcat)
                                                {
                                                    if (subcat.filtersubcat2 != null)
                                                    {
                                                        listItems.Add(new SelectListItem
                                                        {
                                                            Text = "------" + subcat.title,
                                                            Value = "2" + subcat.ID
                                                        });
                                                        foreach (var subcat2 in subcat.filtersubcat2)
                                                        {
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "--------------" + subcat2.title,
                                                                Value = "3" + subcat2.ID
                                                            });
                                                        }

                                                    }
                                                    else
                                                    {
                                                        listItems.Add(new SelectListItem
                                                        {
                                                            Text = "------" + subcat.title,
                                                            Value = "2" + subcat.ID
                                                        });

                                                    }


                                                }
                                            }
                                            else
                                            {
                                                listItems.Add(new SelectListItem
                                                {
                                                    Text = item.title,
                                                    Value = "1" + item.ID
                                                });

                                            }



                                        }
                                    }


                                }
                                @Html.DropDownListFor(model => model.catmode, listItems, new { id = "newcat", style = "width:100%", @class = "form-control" })

                            </div>
                        </div>

                        string partner = Session["partner"] as string;
                        if (partner == "0" && Model.partners != null)
                        {
                            <div class="mb-4 row align-items-center">
                                <label class="form-label-title col-sm-2 mb-0">
                                </label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>---</option>
                                        @foreach (var item in Model.partners)
                                        {
                                            if (Model.anbar == item.title)
                                            {
                                                <option selected>@item.title</option>
                                            }
                                            else
                                            {
                                                <option>@item.title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        }




                        <div class="mb-4 row align-items-center" style="">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.name
                            </label>
                            <div class="col-sm-10">
                                @if (Model.title != "")
                                {
                                    @Html.TextBoxFor(m => m.title, new { @class = "form-control col-md-7 col-xs-12", id = "title" })
                                }
                                else
                                {
                                    <input type="text" id="title" name="title" class="form-control col-md-7 col-xs-12">

                                }
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.price
                            </label>
                            <div class="col-sm-10">
                                @if (Model.productprice != "")
                                {
                                    @Html.TextBoxFor(m => m.productprice, new { @class = "form-control col-md-7 col-xs-12", id = "productprice", name = "productprice" })

                                }
                                else
                                {
                                    <input type="text" id="productprice" name="productprice" required="required" class="form-control col-md-7 col-xs-12">

                                }
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.description
                            </label>


                            <div class="col-sm-10">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <p id="addDescButt" class="btn btn-default">@Resources.res.addImage</p>
                                    <div id="thumbholderEdior" style="display:flex; overflow-x:scroll">

                                    </div>
                                    <script>
                                    $("#addDescButt").click(function () {
                                        $("#descriptionUpload").click();
                                    })
                                    $("#descriptionUpload").on('change', function () {

                                        // $("#dvPreview").html("");
                                        var input = this;
                                        if (input.files && input.files[0]) {

                                            var formData = new FormData();
                                            formData.append('blob', input.files[0]);
                                            formData.append('filename', 'edit');

                                            var MyAppUrlSettings = {
                                                MyUsefulUrl: '@Url.Action("setImageForDescription", "admin")'
                                            }

                                            var request = new XMLHttpRequest();
                                            request.open('POST', MyAppUrlSettings.MyUsefulUrl);
                                            request.send(formData);
                                            request.onreadystatechange = function () {
                                                if (request.readyState == 4 && request.status == 200) {
                                                    var html = "<div style='border:1px solid #ddd; position:relative; padding:3px'><img  style='width:150px; display:inlne-block'    src='" + request.responseText + "'><p class='btn btn-success' onclick='copyContent(this)' content=" + request.responseText+">کپی آدرس</p><img onclick='removeimg(this)'  class='delIcon' style='top:0px; left:0px;right:0px; bottom:0px; width:30px; cursor:pointer ;position:absolute;' src='/images/del.png'></div>";
                                                    $('#thumbholderEdior').append(html);
                                                    $("#loading").css("display", "none");


                                                }
                                            }
                                        }
                                        else {
                                            alert("s")
                                        }

                                    });
                                    </script>
                                    <textarea id="productdesc" required="required" class="form-control" name="productdesc" style="height:170px">@Model.description</textarea>

                                </div>

                            </div>
                        </div>
                        <div class="mb-4 row align-items-center" style="display:none">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.Brands
                            </label>
                            <div class="col-sm-10" id="brandHolder">

                            </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-2 mb-0">
                                @Resources.res.hashtags
                            </label>
                            <div class="col-sm-10">
                                @if (Model.tag != "")
                                {
                                    <input value="@Model.tag" data-role="tagsinput" id="tagupdate" name="tagupdate" required="required" class="form-control REM2" style="min-height: 150px ">

                                }
                                else
                                {
                                    <input data-role="tagsinput" id="tagupdate" name="tagupdate" required="required" class="form-control REM2" style="min-height: 150px ">

                                }


                            </div>
                        </div>



                    }


                    <div class="row" style="padding-top:20px">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8" style="display:inline-block">
                            <a id="editproduct" class="lgnsubmitt btn btn-primary">@Resources.res.OK</a>
                            <script>
                                $("#editproduct").click(function () {

                                    var name = $("#title").val();
                                    var desc = $("#productdesc").val();
                                    var file = $("#fileupload").val();
                                    var price = $("#productprice").val();
                                    var vahed = $("#vahed").val();
                                    var vahed = $("#count").val();
                                    var filters = $("#allfilterid").text();
                                    // var file = fileupload.value;

                                    var setid = $("#SetID").val();
                                    var discount = $("#discount").val();


                                    if (name != "" && vahed != "" && price != "" && discount != "" && setid != "") {

                                        $("#inputallfilterid").val("");
                                        let filtervalue = "";
                                        $('.filterselect').each(function () {
                                            var id = $(this).attr("id");
                                            var ID = (id + "").replace("DF", "");
                                            var ID = (ID + "").replace("DEFfilterdetaillist", "");
                                            if ($(this).val() !== null) {
                                                var value = $("#inputallfilterid").val();
                                                filtervalue = filtervalue + (ID + "-" + $(this).val() + ";");

                                            }

                                            //    var id = $(this).attr("id");
                                            //    var ID = (id + "").replace("DEFfilterdetaillist", "");

                                            //    if ($(this).val() !== null) {
                                            //        filtervalue = filtervalue + (ID + "-" + $(this).val() + ";");

                                            //    }
                                        });


                                        $("#inputallfilterid").val(filtervalue);
                                        $("#inputallrangeid").val("");
                                        let rangevalue = "";
                                        $('.rangeInput').each(function () {
                                            let id = $(this).attr("id");
                                            let ID = (id + "").replace("R", "");
                                            if ($(this).val() !== null) {
                                                rangevalue = rangevalue + (ID + "-" + $(this).val() + ";");
                                            }
                                        })
                                        $("#inputallrangeid").val(rangevalue);

                                        $("#inputallfeatureid").val("");
                                        let featurevalue = "";
                                        //$("input.featureInput").each(function () {
                                        //    var id = $(this).attr('id');

                                        //    var text = $(this).val();
                                        //    featurevalue = featurevalue + (id + ":" + text + ";");
                                        //    $("#allfeaturetext").append(id + ":" + text + ";");

                                        //})
                                        $(".featureInput input").each(function () {
                                            var id = $(this).attr('id');
                                            var text = $(this).val();
                                            featurevalue = featurevalue + (id + ":" + text + ";");
                                        })
                                        $("#inputallfeatureid").val(featurevalue);


                                        var colval = "";
                                        $("#productcolor option:selected").each(function () {
                                            colval = colval + $(this).val() + ",";
                                        });



                                        $("#inputallcolid").val(colval);
                                        $("#Selectedfilters").val($(".selectedfilter option:selected").text());

                                        $("#SelectedAnbars").val($(".SelectedAnbar option:selected").text());


                                        $("#signupformforedit").submit();
                                    }

                                    else {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('fill all fields')
                                    }


                                })

                            </script>

                        </div>

                    </div>




                </div>

                <div class="form-group rowholder row" id="listholder" style="display:none">

                </div>

            </div>
        </div>
    </div>
</div>



<script>



        @*let srt = @Html.Raw(Json.Encode(@Model));
        var html = $.parseHTML(srt.description);
        var $response = $(html);
        var $links = $response.find('img');
        var value = "";
        $links.each(function (index, $link) {
            var src = $(this).attr('src');
            var html = "<div style='border:1px solid #ddd; position:relative; padding:3px'><img  style='width:150px; display:inlne-block'    src='" + src + "'><img onclick='removeimg(this)'  class='delIcon' style='top:0px; left:0px;right:0px; bottom:0px; width:30px; cursor:pointer ;position:absolute;' src='/images/del.png'></div>";

            $('#thumbholderEdior').append(html);
            $("#loading").css("display", "none");
        });*@
    $(".delIcon").click(function () {
              var id = $(this).attr('id');
            var element = $(this).parent();
            $.ajax({
                url: "/partner/deleteimageDesc",
                dataType: "html",
                data: {
                    title: id
                },
                success: function () {
                    element.remove();
                }
            })
            var id = $(this).attr('id');

    });
    var copyContent = function (contentEl) {
        var id = $(contentEl).attr('content');
        navigator.clipboard.writeText(id);
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.success('@Resources.res.copied ')

    };

    var removeimg = function (newel) {

        var id = newel.id;


        $.ajax({
            url: "/partner/deleteimageDesc",
            dataType: "html",
            data: {
                title: id
            },
            success: function () {
                newel.parentNode.parentNode.removeChild(newel.parentNode);
            }
        })
        var id = $(this).attr('id');
    }
</script>
<script>

    $("#newcat").change(function () {

        var sentitem = $("#newcat").val();


        $.ajax({
            url: '/partner/bringFilterForProductSet',
            dataType: 'html',
            data:
            {
                catid: sentitem
            },
            success: function (data) {

                $('#filterholderforproduct').html(data);

            },
            error: function () {
                alert("filterfail")
            }
        });
        $.ajax({
            url: '/partner/bringFeatureforproduct',
            dataType: 'html',
            data:
            {
                catid: sentitem
            },
            success: function (data) {

                $('#featureholderforproduct').html(data);

            },
            error: function () {
                alert("featurefail")
            }
        });


        //$.ajax({
        //    url: '/partner/bringBrandforproduct',
        //    dataType: 'html',
        //    data:
        //    {
        //        catid: sentitem
        //    },
        //    success: function (data) {


        //        $('#brandHolder').html(data);

        //    },
        //    error: function () {
        //        alert("featurefail")
        //    }
        //});
    })


    $("#addsonButton").click(function () {
        //alert("ddd");
        $("#addsonModal").modal('toggle');
    })
</script>
<style>
    .btn btn-primary {
        margin: 5px
    }
</style>
@*<script>
        var hashtags = '@Model.tag';

        var res = hashtags.split("-");
        $('input[name=tagupdate]').tagsinput('removeAll');
        $.each(res, function (i) {
            $('input[name=tagupdate]').tagsinput('add', res[i]);
        });
    </script>*@
