
@using System.Web
@model AdminPanelBoom.ViewModel.AdminProductVM
@{
    Layout = "~/Views/Shared/_PartnerLayout.cshtml";
    ViewBag.Title = "مدیریت مطالب";

}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    List<SelectListItem> listItems2 = new List<SelectListItem>();
    if (Model.log.filtersModel != null)
    {
        foreach (var item in Model.log.filtersModel)
        {
            listItems.Add(new SelectListItem
            {
                Text = item.title,
                Value = "1" + item.ID
            });
            if (item.filtersubcat != null)
            {
                foreach (var subcat in item.filtersubcat)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = "---" + subcat.title,
                        Value = "2" + subcat.ID
                    });
                    if (subcat.filtersubcat2 != null)
                    {
                        foreach (var subcat2 in subcat.filtersubcat2)
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = "------" + subcat2.title,
                                Value = "3" + subcat2.ID
                            });
                        }
                    }

                }
            }

        }
    }


}

<div class="modal fade" id="addShakhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <p> Insert Variation Name</p>
                <input class="form-control" id="addFiltertxt" />
            </div>
            <div class="modal-footer">
                <button id="removeFilter" type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                <button type="button" class="btn btn-primary" id="addFilter">@Resources.res.OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <p> Insert Color Name</p>
                <input class="form-control" id="addColortxt" />
                <p> Pick Your Color</p>
                <input type="color" class="form-control" id="addColorCode" />
            </div>
            <div class="modal-footer">
                <button id="cancelColor" type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                <button type="button" class="btn btn-primary" id="addFilterVerif">@Resources.res.OK</button>
            </div>
        </div>
    </div>
</div>


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Product Report</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Prouduct</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
            <div class="col-sm-12">
                <!-- Details Start -->
                <div class="card">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Search Panel</h5>
                        </div>
                        <div class="row">

                            @{
                                string display = "";
                                if (Model.log.nodeList.Count() > 1)
                                {
                                    display = "none";
                                }
                            }



                            <div class="mb-4 row align-items-center" style="display:@display">
                                <label class="form-label-title col-sm-2 mb-0">Category</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(m => m.SelectedlistProduct, listItems, "-- Select Status --", new { id = "listofproduct", @class = "form-control" })

                                </div>
                            </div>

                            <div class="mb-4 row align-items-center">
                                <label class="form-label-title col-sm-2 mb-0">
                                    Search Query
                                </label>
                                <div class="col-sm-10">
                                    <input id="SearchQuery" name="SearchQuery" class="form-control" type="number" placeholder="Enter Your Number">
                                </div>
                            </div>
                            <div id="Verify" class="row">
                                <div class="btn btn-primary lgnsubmitt">Get Product List</div>
                            </div>


                        </div>

                        <div class="form-group rowholder row" id="listholder" style="display:none">

                        </div>

                    </div>
                </div>
                <!-- Details End -->

            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Create Product Variation</h5>
                        </div>
                        <div>
                            @Html.Partial("/Views/Shared/PartnerShared/_addProductFromSail.cshtml", Model.basecat)
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






<script>
    $('#upload').on('click', function () {

        $('#myfile').trigger('click');
    });
    $('#myfile').change(function () {
        $("#UploadExcelForm").submit();
    })
</script>
<script>


    var getlist = function () {

        var query = $("#SearchQuery").val();
        var value = $("#listofproduct").val();
        var partner = $("#partnerList").val();


        $.ajax({
            url: '/Partner/GetTheListOfItems',
            data:
            {
                value: value,
                query: query,
                partner: partner
            },
            dataType: 'html',
            success: function (data) {

                $('#listholder').html(data);
                $('#listholder').css("display", "block");
            },
            error: function () {
                alert("nashod")
            }
        });
    };

    $("#Verify").click(function () {


        $.ajax({
            url: '/Partner/resetAdminProductPage',
            dataType: 'html',
            success: function (data) {
                getlist();
            },
            error: function () {
                alert("nashod")
            }
        });


    })





    $("#getExcel").click(function () {
        var query = $("#SearchQuery").val();
        var value = $("#listofproduct").val();
        var partner = $("#partnerList").val();


        $.ajax({
            url: '/Partner/ExportToExcel',
            data:
            {
                SelectedlistProduct: value,
                SearchQuery: query,
                partner: partner
            },
            dataType: 'html',
            success: function (data) {

                //$('#listholder').html(data);
                //$('#listholder').css("display", "block");
            },
            error: function () {
                //alert("nashod")
            }
        });
    });
</script>

<script>

   

    $("#addFilterVerif").click(function () {
        var VALUE = $("#addColortxt").val();
        var Code = $("#addColorCode").val();
        if (VALUE != "") {
            $.ajax({
                url: '/partner/addColor',
                dataType: 'html',
                data: {
                    title: VALUE,
                    ColorCode: Code

                },
                success: function (data) {

                    if (data === "200") {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.success('@Resources.res.chanagesAreDone')

                        window.location.reload();

                    }
                    else if (data === "exist") {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.error('Item exist')

                    }
                    else {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.error('@Resources.res.erroCallOperator')
                    }


                },
                error: function () {
                    alert("@Resources.res.erroCallOperator")
                }
            });
        }
    });

    
    $("#cancelColor").click(function () {
        $("#addColorModal").modal('toggle');
    })
    $("#removeFilter").click(function () {
        $("#addShakhes").modal('toggle');
    })
    $("#addFilter").click(function () {
        var VALUE = $("#addFiltertxt").val();

        if (VALUE != "") {
            $.ajax({
                url: '/partner/addFilter',
                dataType: 'html',
                data: {
                    title: VALUE,

                },
                success: function (data) {

                    if (data === "200") {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.success('@Resources.res.chanagesAreDone')

                        window.location.reload();

                    }
                    else if (data === "exist") {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.error('Item exist')

                    }
                    else {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }

                        toastr.error('@Resources.res.erroCallOperator')
                    }


                },
                error: function () {
                    alert("@Resources.res.erroCallOperator")
                }
            });
        }

    })
    function DEFcatokclicked(DEFcatok) {

    }
</script>








