@model banimo.ViewModel.Comments

@{
    ViewBag.Title = "comment";
    Layout = "~/Views/Shared/_NodeLayout.cshtml";
}


@{
    ViewBag.Title = "لیست محصولات";
}

<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        margin: 10px;
    }
</style>
<div class="modal fade" id="addCommentProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Admin Comment</h5>
                <p>Respond to </p>
                <textarea id="adminComment" cols="5" style="width:100%; margin:15px 0"></textarea>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal" data-bs-original-title="" title="">Cancel</button>
                    <button type="button" class="btn  btn--yes btn-primary" data-bs-original-title="" title="" id="modalAddComment">Verify</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delCommentProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Remove Comment</h5>
                <p>Are you sure you want to remove this item ?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal" data-bs-original-title="" title="">Cancel</button>
                    <button type="button" class="btn  btn--yes btn-primary" data-bs-original-title="" title="" id="modalDelComment">Verify</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Product Comments</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Vendor Comments</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:70px">
                <thead>
                    <tr>

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            User
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Date
                        </th>
                        @*<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                                Title
                            </th>*@
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Comment
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Answer
                        </th>

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Status</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Option</th>



                    </tr>
                </thead>

                <tbody>
                    @if (Model.comment != null)
                    {
                        foreach (var item in Model.comment)
                        {
                            string cls = "odd";
                            if (Model.comment.IndexOf(item) + 1 % 2 == 0)
                            {
                                cls = "even";
                            }

                            <tr class="@cls">
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td style=" text-align:right">
                                    @Html.DisplayFor(modelItem => item.time)
                                </td>

                                @*<td style=" text-align:right">
                                        @Html.DisplayFor(modelItem => item.title)
                                    </td>*@
                                <td style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.comment)

                                </td>
                                <td style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Answer)

                                </td>
                                <td>
                                    @if (item.ispublish == "1")
                                    {
                                        var ID = "P" + @item.ID;
                                        <input type="checkbox" id=@ID class="checkbox_animated  Pbutton" checked />
                                    }
                                    else
                                    {
                                        var ID = "P" + @item.ID;
                                        <input type="checkbox" id=@ID class="checkbox_animated  Pbutton" />

                                    }
                                </td>


                                <td>
                                    <ul>

                                        <li>
                                            @{
                                                var aID = "P" + @item.ID; // admincomment
                                                <a id=@aID class=" abutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">  <i class="ri-pencil-line "></i></a>

                                            }


                                        </li>

                                        <li>
                                            @{
                                                var DID = "P" + @item.ID;
                                                <a id=@DID class=" Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;"><i class="ri-delete-bin-line " id=""></i></a>

                                            }

                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }





                </tbody>
            </table>





        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:70px">
                <thead>
                    <tr>

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            User
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Date
                        </th>
                        @*<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                        Title
                    </th>*@
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Comment
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                            Answer
                        </th>

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Status</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Option</th>



                    </tr>
                </thead>

                <tbody>
                    @if (Model.comment != null)
                    {
                        foreach (var item in Model.Articlecomment)
                        {
                            string cls = "odd";
                            if (Model.Articlecomment.IndexOf(item) + 1 % 2 == 0)
                            {
                                cls = "even";
                            }

                            <tr class="@cls">
                                @*<td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td style=" text-align:right">
                                    @Html.DisplayFor(modelItem => item.time)
                                </td>

                                @*<td style=" text-align:right">
                                @Html.DisplayFor(modelItem => item.title)
                            </td>*@
                                <td style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.comment)

                                </td>
                                <td style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Answer)

                                </td>
                                <td>
                                    @if (item.ispublish == "1")
                                    {
                                        var ID = "" + @item.ID;
                                        <input type="checkbox" id=@ID class="checkbox_animated  Pbutton" checked />
                                    }
                                    else
                                    {
                                        var ID = "A" + @item.ID;
                                        <input type="checkbox" id=@ID class="checkbox_animated  Pbutton" />

                                    }
                                </td>


                                <td>
                                    <ul>

                                        <li>
                                            @{
                                                var aID = "A" + @item.ID; // admincomment
                                                <a id=@aID class=" abutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">  <i class="ri-pencil-line "></i></a>

                                            }


                                        </li>

                                        <li>
                                            @{
                                                var DID = "A" + @item.ID;
                                                <a id=@DID class=" Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;"><i class="ri-delete-bin-line " id=""></i></a>

                                            }

                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }





                </tbody>
            </table>



        </div>
    </div>





    <script>
        var id = "";

        $(".Pbutton").click(function () {
            var value = $(this).prop('checked');
            id = $(this).attr("id");
            $.ajax({
                url: '/Node/changeCommnetActive',
                dataType: 'html',
                data: {
                    id: id,
                    value: value
                },
                success: function (data) {

                    //window.location.reload();
                },
                error: function () {

                }
            });
        })

        $(".abutton").click(function () {
            $("#addCommentProduct").modal('toggle');
            id = $(this).attr("id");
        });
        $(".Dbutton").click(function () {

            $("#delCommentProduct").modal('toggle');
            id = $(this).attr("id");
        })
        $("#modalAddComment").click(function () {
            var comment = $("#adminComment").val();
            alert("comment");
            $.ajax({
                url: '/Node/setAdminComment',
                dataType: 'html',
                data: {
                    id: id,
                    comment: comment,
                },
                success: function (data) {
                    window.location.reload();

                },
                error: function () {

                }
            });
        })
        $("#modalDelComment").click(function () {


            $.ajax({
                url: '/Node/delCommnet',
                dataType: 'html',
                data: {
                    id: id,
                },
                success: function (data) {

                    window.location.reload();

                },
                error: function () {

                }
            });
        })


    </script>
</div>
<style>
    td{
        text-align:center;
    }
</style>




<!-- Modal -->
