@using BotDetect.Web.Mvc;
@using banimo.Classes;
@model banimo.ViewModel.AdminDiscountVM
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_nodeLayout.cshtml";
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        margin: 10px;
    }

    .REM {
        border-radius: 5px;
    }
</style>


<div class="row" style=" padding:10px; margin:0px; ">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">لیست تخفیف ها </button>
            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">تولید تخفیف جدید </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div>

                <div class="row">

                    <div id="Listholder">
                        <div class="row" style="padding:20px">


                            <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="">
                                <thead>
                                    <tr>

                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100px;">@Resources.res.col </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.title </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 70px;"> @Resources.res.price </th>
                                       
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;"> @Resources.res.option </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model.data != null)
                                    {
                                        foreach (var item in Model.data)
                                        {

                                            var ID = @item.ID;
                                            int index = @Model.data.IndexOf(item) + 1;


                                            <tr>
                                                <td>
                                                    @index
                                                </td>

                                                <td>@item.title</td>
                                                <td style="text-align: center;">
                                                    @Html.DisplayFor(modelItem => item.price)
                                                </td>

                                                <td style="text-align: center;">

                                                    <a id=@ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>

                                                </td>



                                            </tr>
                                        }
                                    }




                                </tbody>
                            </table>




                    
                        </div>
                    </div>





                </div>
                <div class="modal fade" id="deldiscountModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <p>آیا از حذف نظر اطمینان دارید؟</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="delDiscount">تایید</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var id = "";
                    $(".Dbutton").click(function () {

                        $("#deldiscountModal").modal('toggle');
                        id = $(this).attr("id");


                    })
                    $("#delDiscount").click(function () {
                        $.ajax({
                            url: '/Admin/deleteDiscount',
                            dataType: 'html',
                            data: {
                                id: id,
                            },
                            success: function (data) {
                                if (data === "success") {

                                    toastr.options = {
                                        "debug": false,
                                        "positionClass": "toast-top-center",
                                        "onclick": null,
                                        "fadeIn": 300,
                                        "fadeOut": 1000,
                                        "timeOut": 5000,
                                        "extendedTimeOut": 1000
                                    }
                                    toastr.success('آیتم مورد نظر با موفقیت حذف شد');
                                    window.location.reload();
                                }
                                else {
                                    $("#deldiscountModal").modal('toggle');
                                    toastr.options = {
                                        "debug": false,
                                        "positionClass": "toast-top-center",
                                        "onclick": null,
                                        "fadeIn": 300,
                                        "fadeOut": 1000,
                                        "timeOut": 5000,
                                        "extendedTimeOut": 1000
                                    }
                                    toastr.error('شما قادر به حذف این مورد نیستید')
                                }
                            },
                            error: function () {

                            }
                        });
                    });
                </script>


            </div>


        </div>
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div>
                @using (Html.BeginForm("setNewDiscount", "node", FormMethod.Post,
new { enctype = "multipart/form-data", id = "addArticle" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="row">



                        <div class="row fieldholder col-lg-12">
                            <div class="col-lg-4">
                                <label style="text-align: right">
                                    عنوان :
                                </label>
                                <div>

                                    <input value="" type="text" id="title" name="title" required="required" class="form-control  ">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label style="text-align: right">
                                    قیمت :
                                </label>
                                <div>
                                    <span style="color:red; display:none">*</span>

                                    <input value="" type="text" id="price" name="price" required="required" class="form-control  REM">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label style="text-align: right">
                                    کاربر :
                                </label>
                                <div>

                                    <input value="" type="text" id="user" name="user" required="required" class="form-control  ">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label style="text-align: right">
                                    حداقل خرید :
                                </label>
                                <div>

                                    <input value="0" type="text" id="minPrice" name="minPrice" required="required" class="form-control  ">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label style="text-align: right">
                                    یکبار مصرف :
                                </label>
                                <div>

                                    <input type="checkbox" id="oneTime" name="oneTime" required="required" class="  ">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label style="text-align: right">
                                    خرید اول :
                                </label>
                                <div>

                                    <input type="checkbox" id="firstTime" name="firstTime" required="required" class="  ">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label style="text-align: right">
                                    درصد :
                                </label>
                                <div>
                                    <input type="checkbox" id="darsad" name="darsad" required="required" class="  ">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label style="text-align: right">
                                    همیشگی :
                                </label>
                                <div>
                                    <input type="checkbox" id="infinit" name="infinit" required="required" class="  ">
                                </div>
                            </div>

                            <div class="col-lg-3" style="margin-top:25px">
                                <a id="CRprocuct" class="lgnsubmitt btn btn-primary">تایید</a>

                            </div>


                        </div>
                        




                    </div>







                }
            </div>

        </div>
    </div>

</div>


<script>


    $("#CRprocuct").click(function () {

        var int = 0;
        $(".REM").each(function () {

            if ($(this).val() === "") {
                $(this).siblings("span").css("display", "inline-block");
                int = 1;
            }




        })
        if (int === 0) {
            $("#addArticle").submit();
        }
        else {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
            toastr.error('لطفاً تمامی موارد را کامل کنی')

        }


    })
</script>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/Scripts/captcha.validate.js")

}




