@using Newtonsoft.Json;
@model banimo.ViewModePost.getMaindataViewModel
@{
    Layout = "~/Views/Shared/_Layout8.cshtml";
}
<main class="main">

    @if (Model.catsParents != null)
    {
        <div class="bg-white" style="padding:10px  75px">
            <div class="banner-wrapper appear-animate row cols-md-2 mb-6 fadeIn appear-animation-visible" style="animation-duration: 1.2s;">
                <div class="banner banner-fixed overlay-dark br-sm mt-4">
                    <figure>
                        <img src="~/images/margek.png" alt="Banner" width="680" height="180" style="background-color: #E5E6E8; border-radius:10px;">
                    </figure>
                    <div class="banner-content y-50" style="margin-right:50px">
                        <h2 class="banner-title text-dark font-weight-bolder ls-normal">
                            بازار
                            تامین کنندگان
                        </h2>
                        <p class="text-dark">تامین کنندگان اصلی را پیدا کنید</p>
                        <a href="/Main/Index" class="btn btn-sm btn-outline btn-dark btn-rounded slide-animate">
                            ورود به بازار
                        </a>
                    </div>
                </div>
                <div class="banner banner-fixed overlay-light br-sm mt-4">
                    <figure>
                        <img src="~/images/kala.png" alt="Banner" width="680" height="180" style="background-color: #565960; border-radius:10px; border-radius:10px;border: 3px solid green;">
                    </figure>
                    <div class="banner-content y-50" style="        margin-right: 50px
">
                        <h2 class="banner-title text-white font-weight-bold ls-normal mb-0">
                            فروشگاه
                            کالا
                        </h2>

                        <p style="color: white; padding: 10px 0">کالای خود را از میان صدها کالا پیدا کنید</p>
                        <a href="/Home/Index" class="btn btn-sm btn-white btn-outline btn-rounded slide-animate">
                            ورود به فروشگاه
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <section class="intro-wrapper" style="padding:15px">


        <div class="swiper-container swiper-theme nav-inner pg-inner swiper-nav-lg animation-slider pg-xxl-hide pg-show nav-xxl-show nav-hide"
             data-swiper-options="{
                    'slidesPerView': 1,
                 'spaceBetween': 15,
                    'breakpoints': {
                        '1500': {
                            'nav': true,
                            'dots': false
                        }
                    },
                    'autoplay': {
                        'delay': 8000,
                        'disableOnInteraction': false
                    }
                }">
            <div class="swiper-wrapper row gutter-no cols-1">
                @if (Model.slides != null)
                {
                    foreach (var item in Model.slides)
                    {
                        int i = Model.slides.IndexOf(item) + 1;
                        string url = string.IsNullOrEmpty(item.catIDOrLink) ? "" : item.catIDOrLink;
                        <div urltogo="@url" class=" slideitem swiper-slide banner banner-fixed intro-slide intro-slide1" style="height:500px; background-image: url(https://demo.heson.ir/images/@item.image);    background-size: cover; background-color: #F7F8FA; border-radui; ">
                            <div class="container">

                                <div class="banner-content y-50 d-inline-block">
                                    <div class="slide-animate" data-animation-options="{
                                        'name': 'flipInY', 'duration': '1s'
                                    }">
                                        <h5 class="banner-subtitle text-uppercase font-weight-bold ls-10">
                                            @item.Ptitle
                                        </h5>
                                        <h3 class="banner-title text-capitalize font-weight-normal ls-25">
                                            <strong>@item.title</strong><br>
                                        </h3>


                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }





            </div>
            <div class="swiper-pagination"></div>
            <button class="swiper-button-next"></button>
            <button class="swiper-button-prev"></button>
        </div>
    </section>

    <!-- End of .intro-section -->

    <div class="container">
        <section class="  category-section top-category  pt-10 pb-10 appear-animate" style="margin-top:50px">
            <h2 class="title mb-5 appear-animate">  </h2>
            <div id="" class="container pb-2" style=" flex-wrap:wrap; justify-content:center; display:flex">

                @if (Model.cats != null)
                {
                    if (Model.cats != null)
                    {
                        foreach (var item in Model.cats)
                        {
                            string catmode = "1" + @item.ID;
                            string classname = "p" + item.parentID;
                            <div id="@item.ID" class="category @classname  categoryParent">
                                <div class="swiper-slide  category-classic category-absolute overlay-zoom br-xs" style="height:unset">
                                    <img src="/images/@item.image" alt="Category"
                                         width="130" height="130">


                                </div>
                                <a href="" class="category-media">
                                    <p>@item.title</p>
                                </a>

                            </div>
                        }
                    }

                }



                <style>
                    .category {
                        width: 15%;
                        display: inline-block;
                        padding: 0 10px;
                        border-radius: 8px;
                        vertical-align: top
                    }

                        .category p {
                            padding: 20px;
                            text-align: center;
                            font-weight: 600;
                            font-size: 16px;
                        }

                        .category img {
                            border-radius: 10px
                        }

                    @@media (max-width : 600px) {
                        .category {
                            width: 33%;
                        }

                            .category p {
                                padding: 8px 0;
                                text-align: center;
                                font-weight: 600;
                                font-size: 12px;
                                width: 100%;
                            }
                    }
                </style>
            </div>
        </section>



        @if (Model.cats != null)
        {

            foreach (var item in Model.cats)
            {

                if (item.cattags.Count() != 0)
                {

                    string tagID = "p" + @item.ID;
                    string catmode = "1" + @item.ID;
                    <div class="childTagSection" style="display:none" ID ="@tagID">
                        <h2 class="title mb-5 appear-animate">  </h2>
                        <div style="" class="swiper-container swiper-theme shadow-swiper category-wrapper appear-animate"
                             data-swiper-options="{
                    'spaceBetween': 20,
                    'slidesPerView': 2,
                    'breakpoints': {
                        '576': {
                            'slidesPerView': 3
                        },
                        '768': {
                            'slidesPerView': 4
                        },
                        '992': {
                            'slidesPerView': 5
                        },
                        '1200': {
                            'slidesPerView': 6
                        }
                    }
                }">
                            <div class="swiper-wrapper row cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2" style="">
                                @foreach (var tagitem in item.cattags)
                                {
                                    <div class=" final swiper-slide category category-ellipse">
                                        <figure class="category-media">
                                            <a href="/Home/ProductList?catmode=@catmode&tag=@tagitem.title">
                                                <img  src="/images/@tagitem.image" alt="Categroy" width="190" @*http://www.ratasanat.com/images/*@
                                                     height="190" style="aspect-ratio: 1;  background-color: #5C92C0;" />
                                            </a>
                                        </figure>
                                        <div class="category-content">
                                            <h4 class="category-name">
                                                <a href="/Home/ProductList?catmode=@catmode&tag=@tagitem.title">@tagitem.title</a>
                                            </h4>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                }

            }




        }






        <div class="row category-banner-wrapper appear-animate pt-6 pb-8">


            @if (Model.banners != null)
            {
                if (Model.banners.Count() > 0)
                {
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed br-xs">
                            <figure>
                                <img src="~/images/@Model.banners[0].image" alt="Category Banner"
                                     width="610" height="160" style="background-color: #ecedec;" />
                            </figure>

                        </div>
                    </div>
                }
            }

            @if (Model.banners != null)
            {
                if (Model.banners.Count() > 1)
                {
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed br-xs">
                            <figure>
                                <img src="~/images/@Model.banners[1].image" alt="Category Banner"
                                     width="610" height="160" style="background-color: #ecedec;" />
                            </figure>
                        </div>
                    </div>
                }
            }


        </div>

    </div>


    <!-- End of .category-section top-category -->

    <div class="container">
        <h2 class="title justify-content-center ls-normal mb-4 mt-10 pt-1 appear-animate">
            @Resources.res.SomeOfOurItems
        </h2>
        <div class="tab tab-nav-boxed tab-nav-outline appear-animate">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item mr-2 mb-2">
                    <a class="nav-link active br-sm font-size-md ls-normal" href="#tab1-1">@Resources.res.TrendingNow</a>
                </li>
                <li class="nav-item mr-2 mb-2">
                    <a class="nav-link br-sm font-size-md ls-normal" href="#tab1-2">@Resources.res.RecommendedItems</a>
                </li>
                <li class="nav-item mr-2 mb-2">
                    <a class="nav-link br-sm font-size-md ls-normal" href="#tab1-3">@Resources.res.PopularItems</a>
                </li>

            </ul>
        </div>
        <!-- End of Tab -->
        <div class="tab-content product-wrapper appear-animate">
            <div class="tab-pane active pt-4" id="tab1-1">
                <div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
                    @if (Model.newest != null)
                    {
                        foreach (var item in Model.newest)
                        {
                            string newurl = "/Home/ProductDetail?id=" + item.ID;
                            if (item.meta != null)
                            {
                                banimo.ViewModePost.metaData metaModel = JsonConvert.DeserializeObject<banimo.ViewModePost.metaData>(@item.meta);
                                newurl = metaModel.curl;
                            }
                            string addID = "addtocarto" + item.ID;
                            string minusID = "minus" + item.ID;
                            string imagefile = "placeholder.jpg";
                            string trf = item.tarafID == null ? "0" : item.tarafID;
                            List<string> srtlist = new List<string>();
                            string src2 = "";
                            if (item.title != null)
                            {
                                srtlist = item.image.Trim(',').Split(',').ToList();
                                imagefile = srtlist[0];
                                if (srtlist.Count == 2)
                                {
                                    src2 = srtlist[1];
                                }
                            }
                            string ID = "N" + item.ID.ToString();
                            string addtocartid = "addtocart" + ID;
                            string price = item.price;

                            string src = imagefile;
                            <div class="product-wrap ">
                                <div class="product text-center shadowbox" style="padding:2px">
                                    <figure class="product-media">
                                        <a href="/products/@newurl">
                                            <img srcTogo="@src" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                            <img srcTogo="@src2" onError="this.onerror=null;" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                        </a>

                                        @if (item.price != item.oldPrice)
                                        {
                                            <div class="product-label-group">
                                                <label class="product-label label-discount">@item.discount% Off</label>
                                            </div>
                                        }
                                    </figure>
                                    <div class="product-details">

                                        <h4 class="product-name"><a href="/products/@newurl">@item.title</a></h4>

                                        <div class="product-price">
                                            <ins class="new-price"> @string.Format("{0:n0}", Int32.Parse(@item.price)) تومان</ins>
                                            @if (item.price != item.oldPrice)
                                            {
                                                <del class="old-price">@string.Format("{0:n0}", Int32.Parse(@item.oldPrice))   تومان</del>
                                            }

                                        </div>
                                        @*<div style="padding:4%">
                                            <div class="input-group">
                                                @{
                                                    string clsname = "value" + @item.ID;
                                                    string partnerID = Response.Cookies["tarafID"] != null ? Response.Cookies["tarafID"].Value : "";
                                                    string ads = @item.ID + "*";
                                                }
                                                <input addson="@ads" class=" form-control @clsname" type="number" min="1" max="100000" value="0">

                                                <button class="quantity-plus w-icon-plus" onclick="addtocart('@trf','@item.ID','')"></button>
                                                <button class="quantity-minus w-icon-minus" onclick="minusfromcart('@trf','@item.ID','')"></button>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <!-- End of Tab Pane -->
            <div class="tab-pane pt-4" id="tab1-2">
                <div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
                    @if (Model.specialOffers != null)
                    {
                        foreach (var item in Model.specialOffers)
                        {
                            string newurl = "/Home/ProductDetail?id=" + item.ID;
                            if (item.meta != null)
                            {
                                banimo.ViewModePost.metaData metaModel = JsonConvert.DeserializeObject<banimo.ViewModePost.metaData>(@item.meta);
                                newurl = metaModel.curl;
                            }
                            string addID = "addtocarto" + item.ID;
                            string minusID = "minus" + item.ID;
                            string imagefile = "placeholder.jpg";
                            List<string> srtlist = new List<string>();
                            string src2 = "";
                            if (item.title != null)
                            {
                                srtlist = item.image.Trim(',').Split(',').ToList();
                                imagefile = srtlist[0];
                                if (srtlist.Count == 2)
                                {
                                    src2 = srtlist[1];
                                }
                            }
                            string ID = "N" + item.ID.ToString();
                            string addtocartid = "addtocart" + ID;
                            string price = item.price;

                            string src = imagefile;
                            <div class="product-wrap">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="/products/@newurl">
                                            <img srcTogo="@src" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                            <img srcTogo="@src2" onError="this.onerror=null;" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        @if (item.price != item.oldPrice)
                                        {
                                            <div class="product-label-group">
                                                <label class="product-label label-discount">@item.discount% Off</label>
                                            </div>
                                        }
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-name"><a href="/products/@newurl">@item.title</a></h4>

                                        <div class="product-price">
                                            <ins class="new-price">@string.Format("{0:n0}", Int32.Parse(@item.price))   تومان</ins>
                                            @if (item.price != item.oldPrice)
                                            {
                                                <del class="old-price">@string.Format("{0:n0}", Int32.Parse(@item.oldPrice))  تومان</del>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- End of Tab Pane -->
            <div class="tab-pane pt-4" id="tab1-3">
                <div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
                    @if (Model.bestseller != null)
                    {
                        foreach (var item in Model.bestseller)
                        {
                            string newurl = "/Home/ProductDetail?id=" + item.ID;
                            if (item.meta != null)
                            {
                                banimo.ViewModePost.metaData metaModel = JsonConvert.DeserializeObject<banimo.ViewModePost.metaData>(@item.meta);
                                newurl = metaModel.curl;
                            }
                            string addID = "addtocarto" + item.ID;
                            string minusID = "minus" + item.ID;
                            string imagefile = "placeholder.jpg";
                            List<string> srtlist = new List<string>();
                            string src2 = "";
                            if (item.title != null)
                            {
                                srtlist = item.image.Trim(',').Split(',').ToList();
                                imagefile = srtlist[0];
                                if (srtlist.Count == 2)
                                {
                                    src2 = srtlist[1];
                                }
                            }
                            string ID = "N" + item.ID.ToString();
                            string addtocartid = "addtocart" + ID;
                            string price = item.price;

                            string src = imagefile;

                            <div class="product-wrap">
                                <div class="product text-center shadowbox" style="padding:10px; border-radius:8px ">
                                    <figure class="product-media" style="margin:auto; max-width:90%">
                                        <a href="/products/@newurl">
                                            <img srcTogo="@src" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                            <img srcTogo="@src2" onError="this.onerror=null" src="~/images/placeHolder.png" alt="Product"
                                                 width="300" height="338" />
                                        </a>
                                        @*<div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-cart w-icon-cart"
               title="Add to cart"></a>
            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
               title="Add to wishlist"></a>
            <a href="#" class="btn-product-icon btn-quickview w-icon-search"
               title="Quickview"></a>
            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
               title="Add to Compare"></a>
        </div>*@


                                        @if (item.price != item.oldPrice)
                                        {
                                            <div class="product-label-group">
                                                <label class="product-label label-discount">@item.discount% Off</label>
                                            </div>
                                        }

                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-name"><a href="/products/@newurl">@item.title</a></h4>
                                        @*<div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 60%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                                            </div>*@
                                        <div class="product-price">
                                            <ins class="new-price ">@string.Format("{0:n0}", Int32.Parse(@item.price))  تومان</ins>
                                            @if (item.price != item.oldPrice)
                                            {
                                                <del class="old-price">@string.Format("{0:n0}", Int32.Parse(@item.oldPrice)) تومان</del>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- End of Tab Pane -->

        </div>
        <!-- End of Tab Content -->

        <div class="row category-cosmetic-lifestyle appear-animate mb-5">
            @if (Model.banners != null)
            {
                if (Model.banners.Count() > 2)
                {
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed br-xs">
                            <figure>
                                <img src="~/images/@Model.banners[2].image" alt="Category Banner"
                                     width="610" height="160" style="background-color: #ecedec;" />
                            </figure>

                        </div>
                    </div>
                }
            }
            @if (Model.banners != null)
            {
                if (Model.banners.Count() > 3)
                {
                    <div class="col-md-6 mb-4">
                        <div class="banner banner-fixed br-xs">
                            <figure>
                                <img src="~/images/@Model.banners[3].image" alt="Category Banner"
                                     width="610" height="160" style="background-color: #ecedec;" />
                            </figure>

                        </div>
                    </div>
                }
            }


        </div>
        <!-- End of Category Cosmetic Lifestyle -->


    </div>
    <!--End of Catainer -->
</main>


@section scripts{
    <script>
        $(".categoryParent").click(function () {
            
            $(".childTagSection").css("display", "none");
            var id = "p" + $(this).attr('id');
            $("#" + id).css("display", "unset");

            
           
            


            //const myid = 'catcantainer';
            //const yOffset = -30;
            //const element = document.getElementById(myid);
            //const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset - 200;

            //window.scrollTo({ top: y, behavior: 'smooth' });


        })
       
    </script>
    @*<style>
            .swiper-slide {
                height: unset !important
            }
        </style>*@

}