@using BotDetect.Web.Mvc;
@using banimo.Classes;
@model banimo.ViewModePost.getMaindataViewModel


@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["siteName2"];
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


@section scripts{
    <script>
         $('.value-plus').on('click', function () {
            
        $("#loading").fadeIn()
       var ID = $(this).attr('id');

        $.ajax({
            url: '/Home/addtocart',
            dataType: 'html',
            data: {
                id: ID

            },
            success: function (data) {
                var count = parseInt($(".simpleCart_quantityy").text());
                count += 1;
                $(".simpleCart_quantityy").text(count);
                $("#loading").fadeOut()


            },
            error: function () {
                alert("error")
            }


        });
    });
    </script>
    }
<div class="wrapper">
    <!-- header start -->

    <div class="slider-area">
        <div class="slider-active owl-carousel">
            @{
                string title0 = "";
                string title1 = "";
                string title2 = "";
                string title3 = "";
                string title4 = "";
                string desc0 = "";
                string desc1 = "";
                string desc2 = "";
                string desc3 = "";
                string desc4 = "";

                foreach (var item in Model.slides)
                {
                    int index = Model.slides.IndexOf(item);
                    string title = "";
                    string desc = "";

                    switch(index)
                    {
                        case 0:
                            title = title0;
                            desc = desc0;
                            break;
                        case 1:
                            title = title1;
                            desc = desc1;
                            break;
                        case 2:
                            title = title2;
                            desc = desc2;
                            break;
                        case 3:
                            title = title3;
                            desc = desc3;
                            break;
                        case 4:
                            title = title4;
                            desc = desc4;
                            break;

                    }
                    <div class="single-slider slider-1 gray-bg">
                        <div class="container">
                            <div class="row" style="direction:rtl">
                                <div class="col-md-6" style="text-align:right">
                                    <div class="slider-content slider-animated-1">
                                        <h2 class="animated">@title</h2>
                                        <p class="">@desc</p>
                                      
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="slider-single-img slider-animated-1">
                                        <img class="animated" src="~/images/panelimages/@item.image" alt="slider images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                }


        </div>
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper banner-border ml-10 mb-30 wow fadeInLeft">
                        <div class="banner-img">
                            <a href="#"><img src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[0].image" alt="image"></a>
                        </div>
                        <div class="banner-content-style1 banner-position-center-right">
                            <h2>30% <span><img src="~/webAsset/3/assets/img/icon-img/discount.png" alt="image"></span> <br>Products</h2>
                        </div>
                    </div>
                    <div class="banner-wrapper banner-border ml-10 mb-30 wow fadeInLeft">
                        <div class="banner-img">
                            <a href="#"><img src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[1].image" alt="image"></a>
                        </div>
                        <div class="banner-content-style2 banner-position-center-left">
                            <h3>Don’t Miss</h3>
                            <h2>Rattan <span>Bag.</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper mrg-mb-md ">
                        <div class="banner-img">
                            <a href="#"><img src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[2].image" alt="image"></a>
                        </div>
                        <div class="banner-content-style3 banner-position-top">
                            <h3>Black Friday Offer</h3>
                        </div>
                        <div class="banner-content-style4 banner-position-bottom">
                            <h3>20% Off</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper banner-border-2 mr-10 mb-30 wow fadeInRight">
                        <div class="banner-img">
                            <a href="#"><img src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[3].image" alt="image"></a>
                        </div>
                        <div class="banner-content-style2 banner-position-center-left">
                            <h3>Don’t Miss</h3>
                            <h2>Rattan <span>Lamp.</span></h2>
                        </div>
                    </div>
                    <div class="banner-wrapper banner-border-2 mr-10 mb-30 wow fadeInRight">
                        <div class="banner-img">
                            <a href="#"><img src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[4].image" alt="image"></a>
                        </div>
                        <div class="banner-content-style1 banner-position-center-right">
                            <h2>30% <span> <img src="~/webAsset/3/assets/img/icon-img/discount.png" alt="image"></span> <br>Products</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Our Collection</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4> پیشنهاد ویژه </h4>
                </a>
                <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4> جدید ترین ها </h4>
                </a>
                <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                    <h4>پرفروش ها</h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        @foreach (var item in Model.specialOffers)
                {
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="product-wrapper mb-45">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@item.image" alt="">
                                        </a>
                                        <span>@item.discount% off</span>
                                        <div class="product-action">
                                            <div class="product-action-style">
                                                <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                    <i class="ti-plus"></i>
                                                </a>
                                                <a class="action-heart" title="Wishlist" href="#">
                                                    <i class="ti-heart"></i>
                                                </a>
                                                <a class="action-cart" title="Add To Cart" href="#">
                                                    <i class="ti-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content text-center">
                                        <h4><a href="product-details.html">@item.title</a></h4>
                                        <div class="product-rating">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star-outline"></i>
                                            <i class="ion-ios-star-outline"></i>
                                            <i class="ion-ios-star-outline"></i>
                                        </div>
                                        <div class="product-price">
                                            <span class="old">@item.oldPrice </span>
                                            <span>@item.price</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }


                    </div>
                </div>
                <div class="tab-pane" id="home2" role="tabpanel">
                    <div class="row">
                        @if (Model.newest != null)
                {
                    foreach (var item in Model.newest)
                    {
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-wrapper mb-45">
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="@item.image" alt="">
                                            </a>
                                            <span>@item.discount% off</span>
                                            <div class="product-action">
                                                <div class="product-action-style">
                                                    <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                    <a class="action-heart" title="Wishlist" href="#">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                    <a class="action-cart" title="Add To Cart" href="#">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4><a href="product-details.html">@item.title</a></h4>
                                            <div class="product-rating">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-outline"></i>
                                                <i class="ion-ios-star-outline"></i>
                                                <i class="ion-ios-star-outline"></i>
                                            </div>
                                            <div class="product-price">
                                                <span class="old">@item.oldPrice </span>
                                                <span>@item.price</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
                <div class="tab-pane" id="home3" role="tabpanel">
                    <div class="row">
                        @if (Model.bestseller != null)
                {
                    foreach (var item in Model.bestseller)
                    {
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-wrapper mb-45">
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="@item.image" alt="">
                                            </a>

                                            <div class="product-action">
                                                <div class="product-action-style">
                                                    <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                    <a class="action-heart" title="Wishlist" href="#">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                    <a class="action-cart" title="Add To Cart" href="#">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4><a href="product-details.html">@item.title</a></h4>
                                            <div class="product-rating">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star-outline"></i>
                                                <i class="ion-ios-star-outline"></i>
                                                <i class="ion-ios-star-outline"></i>
                                            </div>
                                            <div class="product-price">
                                                <span class="old">@item.oldPrice </span>
                                                <span>@item.price</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pb-95">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-wrapper overflow mb-30 wow fadeInDown">
                        <div class="banner-img">
                            <a href="#">
                                <img alt="image" src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[5].image">
                            </a>
                        </div>
                        <div class="banner-content-5">
                            <h4>New Arrivals</h4>
                            <h2>Rattan Sofa</h2>
                            <h3>Sale up to 30% off all</h3>
                            <a href="#" class="banner-btn">View Collection</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-wrapper overflow mb-30 wow fadeInUp">
                        <div class="banner-img">
                            <a href="#">
                                <img alt="image" src="@System.Configuration.ConfigurationManager.AppSettings["domain"]/images/panelimages/@Model.banners[6].image">
                            </a>
                        </div>
                        <div class="banner-content-5">
                            <h4>Best Products</h4>
                            <h2>Rattan Accessories</h2>
                            <h3>Sale up to 40% off all</h3>
                            <a href="#" class="banner-btn">View Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    @if (Model.gourpList != null)
                {
                    foreach (var group in Model.gourpList)
                    {
                        string id = group.type + "-" + group.catIDOrLink;

                        if (group.value != null)
                        {


                <div class="product-area pb-125 product-padding">
                    <div class="" style="padding:30px">
                        <div class="section-title-2 text-center mb-55">
                            <h3 class="mb-12">@group.title</h3>

                        </div>
                        <div class="collection-product-active owl-carousel owl-loaded owl-drag">
                            @foreach (var item in group.value)
                {
                    string addID = "addtocarto" + item.ID;
                    string minusID = "minus" + item.ID;
                    string imagefile = "placeholder.jpg";
                    if (item.title != null)
                    {
                        imagefile = item.image;
                    }
                    string ID = "N" + item.ID.ToString();
                    string addtocartid = "addtocart" + ID;
                    string price = item.price;

                    string src = imagefile;
                                <div class="product-wrapper mb-45">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="@src" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="product-action-style">
                                                <a id="@addID" class="action-plus value-plus" title="Quick View">
                                                    <i class="ti-plus"></i>
                                                </a>

                                                <a class="action-heart" title="Wishlist" style="pointer-events: none">
                                                    <i class="ti-heart"></i>
                                                </a>
                                                <a  href="/home/checkout" class="action-cart " title="افزودن به سبد خرید" >
                                                    <i class="ti-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content text-center">
                                        <h4><a href="product-details.html">@item.title</a></h4>

                                        <div class="product-price">
                                            @if (item.price != item.oldPrice)
                {
                                                <del>   </del>
                                                <span  class="old faNum">@string.Format("{0:n0}", Convert.ToInt32(@item.oldPrice))  </span>
                                            }

                                            <span  class="faNum">@string.Format("{0:n0}", Convert.ToInt32(@item.price))  <span>تومان</span></span>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>


            }

        }
    }


    @*<div class="blog-area pt-125 pb-85 blog-padding hm-blog">
            <div class="container-fluid">
                <div class="section-title text-center mb-60">
                    <h2>Latest Blog</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-hm-wrapper mb-40">
                            <div class="blog-img">
                                <a href="blog-details-standerd.html"><img src="~/webAsset/3/assets/img/blog/1.jpg" alt="image"></a>
                            </div>
                            <div class="blog-hm-content">
                                <h3><a href="blog-details-standerd.html">Lorem ipsum dolor sit amet consectetu to adipisicing elit sed do eius</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>by:</span><a href="#">Admin</a></li>
                                        <li><span>On</span> 14 Oct, 2018</li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetl adipisicing elit, sed do eiusmod tempor incididul ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-hm-wrapper mb-40">
                            <div class="blog-img">
                                <a href="blog-details-standerd.html"><img src="~/webAsset/3/assets/img/blog/2.jpg" alt="image"></a>
                            </div>
                            <div class="blog-hm-content">
                                <h3><a href="blog-details-standerd.html">Lorem ipsum dolor sit amet consectetu to adipisicing elit sed do eius</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>by:</span><a href="#">Admin</a></li>
                                        <li><span>On</span> 14 Oct, 2018</li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetl adipisicing elit, sed do eiusmod tempor incididul ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-hm-wrapper mb-40">
                            <div class="blog-img">
                                <a href="blog-details-standerd.html"><img src="~/webAsset/3/assets/img/blog/3.jpg" alt="image"></a>
                            </div>
                            <div class="blog-hm-content">
                                <h3><a href="blog-details-standerd.html">Lorem ipsum dolor sit amet consectetu to adipisicing elit sed do eius</a></h3>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>by:</span><a href="#">Admin</a></li>
                                        <li><span>On</span> 14 Oct, 2018</li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetl adipisicing elit, sed do eiusmod tempor incididul ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="gray-bg footer-padding">
            <div class="container-fluid">
                <div class="footer-top pt-85 pb-25">
                    <div class="row">
                        <div class="col-lg-3 col-md-5">
                            <div class="footer-widget mb-30">
                                <div class="footer-widget-title">
                                    <h3>Get in Touch</h3>
                                </div>
                                <div class="food-info-wrapper">
                                    <div class="food-address">
                                        <div class="food-info-icon">
                                            <i class="ion-ios-home-outline"></i>
                                        </div>
                                        <div class="food-info-content">
                                            <p>2020 Willshire Glen, Out of <br>Alpharetta, GA-30009</p>
                                        </div>
                                    </div>
                                    <div class="food-address">
                                        <div class="food-info-icon">
                                            <i class="ion-ios-telephone-outline"></i>
                                        </div>
                                        <div class="food-info-content">
                                            <p>(+00) 121 025 0214 </p>
                                        </div>
                                    </div>
                                    <div class="food-address">
                                        <div class="food-info-icon">
                                            <i class="ion-ios-email-outline"></i>
                                        </div>
                                        <div class="food-info-content">
                                            <p><a href="#">info@example.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget mb-30">
                                <div class="footer-widget-title">
                                    <h3>Information</h3>
                                </div>
                                <div class="food-widget-content">
                                    <ul class="quick-link">
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Legal Notice</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="#">Secure Payment</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="footer-widget mb-30">
                                <div class="footer-widget-title">
                                    <h3>accounts</h3>
                                </div>
                                <div class="food-widget-content">
                                    <ul class="quick-link">
                                        <li><a href="login-register.html">Sign In</a></li>
                                        <li><a href="cart.html">View Cart</a></li>
                                        <li><a href="wishlist.html">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-widget-title">
                                    <h3>support</h3>
                                </div>
                                <div class="food-widget-content">
                                    <ul class="quick-link">
                                        <li><a href="contact.html">Hello & Contact</a></li>
                                        <li><a href="#">Shipping & Tax</a></li>
                                        <li><a href="#">Return Policy</a></li>
                                        <li><a href="#">Affiliates</a></li>
                                        <li><a href="#">Legal Notice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-widget-title">
                                    <h3>twitter feed</h3>
                                </div>
                                <div class="twitter-info-wrapper">
                                    <div class="single-twitter">
                                        <div class="twitter-icon">
                                            <i class="ion-social-twitter-outline"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">devitems</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                        </div>
                                    </div>
                                    <div class="single-twitter">
                                        <div class="twitter-icon">
                                            <i class="ion-social-twitter-outline"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">lkj</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                        </div>
                                    </div>
                                    <div class="single-twitter">
                                        <div class="twitter-icon">
                                            <i class="ion-social-twitter-outline"></i>
                                        </div>
                                        <div class="twitter-content">
                                            <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">ms</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom border-top-1 ptb-15">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="copyright-payment">
                                <div class="copyright">
                                    <p>Copyright ©  2018 <a href="https://freethemescloud.com/">Free themes Cloud</a> All RIght Reserved.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="footer-payment-method">
                                <a href="#"><img alt="" src="~/webAsset/3/assets/img/icon-img/7.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>*@
    <!-- modal -->

    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close" aria-hidden="true"></span>
        </button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="qwick-view-left">
                        <div class="quick-view-learg-img">
                            <div class="quick-view-tab-content tab-content">
                                <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                    <img src="~/webAsset/3/assets/img/quick-view/l1.jpg" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal2" role="tabpanel">
                                    <img src="~/webAsset/3/assets/img/quick-view/l2.jpg" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal3" role="tabpanel">
                                    <img src="~/webAsset/3/assets/img/quick-view/l3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="quick-view-list nav" role="tablist">
                            <a class="active" href="#modal1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                                <img src="~/webAsset/3/assets/img/quick-view/s1.jpg" alt="">
                            </a>
                            <a href="#modal2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                                <img src="~/webAsset/3/assets/img/quick-view/s2.jpg" alt="">
                            </a>
                            <a href="#modal3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                                <img src="~/webAsset/3/assets/img/quick-view/s3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="qwick-view-right">
                        <div class="qwick-view-content">
                            <h3>Handcrafted Supper Mug</h3>
                            <div class="price">
                                <span class="new">$90.00</span>
                                <span class="old">$120.00  </span>
                            </div>
                            <div class="rating-number">
                                <div class="quick-view-rating">
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                            <div class="quick-view-select">
                                <div class="select-option-part">
                                    <label>Size*</label>
                                    <select class="select">
                                        <option value="">- Please Select -</option>
                                        <option value="">900</option>
                                        <option value="">700</option>
                                    </select>
                                </div>
                                <div class="select-option-part">
                                    <label>Color*</label>
                                    <select class="select">
                                        <option value="">- Please Select -</option>
                                        <option value="">orange</option>
                                        <option value="">pink</option>
                                        <option value="">yellow</option>
                                    </select>
                                </div>
                            </div>
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-style cr-btn" href="#"><span>add to cart</span></a>
                                </div>
                                <div class="quickview-btn-wishlist">
                                    <a class="btn-hover cr-btn" href="#"><span><i class="ion-ios-heart-outline"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

