
@using BotDetect.Web.Mvc;
@using banimo.Classes;

@model banimo.ViewModePost.getMaindataViewModel

@{
    /**/


    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["siteName2"];
    Layout = "~/Views/Shared/_Layout5.cshtml";

}

@{
    string baseImageUrl = System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages/";
}
@section HeadIncludes{

    <link rel="stylesheet" href="/versionAsset/omirom/css/home.css">

}
<main>


    <div class="top-slider xmt-20">

        <div class="d-none d-lg-block">
            <div id="top-slider-wrapper" class="top-slider-wrapper position-relative"
                 style="background: url(&quot;image/cRb47M62SGHP9tnUyM7fttelb6sh9eijTs9E2KGw.webp&quot;) rgb(0, 0, 0);">
                <div class="container">
                    <div class="top-slider-content xmb-6 xp-2">
                        <div class="swiper mySwiper2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                            <div class="swiper-wrapper" id="swiper-wrapper-f10715100f7d99c4cd"
                                 aria-live="off"
                                 style="transform: translate3d(7740px, 0px, 0px); transition-duration: 0ms;">
                                @foreach (var item in Model.slides)
                                {
                                    string src = System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages/" + item.image;
                                    string imagetitle = item.title;
                                    string imagedesc = item.Ptitle;
                                    string index = Model.slides.IndexOf(item).ToString();
                                    <div class="swiper-slide mySlide"
                                         data-image="@src"
                                         data-color="#000000" role="group" aria-label="@index / 7"
                                         style="width: 1280px; margin-left: 10px;">
                                        <div class="row">
                                            <div class="col-5 col-xl-4">
                                                <div class="text-product">
                                                    <h2 style="color: #000000">
                                                        @imagetitle
                                                    </h2>
                                                    <p style="color: #000000">
                                                        @imagedesc
                                                    </p>
                                                    <a style="" class="mySlide" id='@item.type-@item.catIDOrLink' href="#"
                                                       dideo-checked="true">

                                                        بررسی و خرید
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-7 col-xl-8">
                                                <div class="img-gallery">
                                                    <img alt="@imagedesc"
                                                         class="img-fluid"
                                                         src="@src"
                                                         loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                            <span class="swiper-notification" aria-live="assertive"
                                  aria-atomic="true"></span>
                        </div>
                    </div>
                    <div class="thumbnail-slide position-relative">
                        <div class="swiper-button-prev" tabindex="0" role="button"
                             aria-label="Previous slide"
                             aria-controls="swiper-wrapper-f10715100f7d99c4cd" aria-disabled="false">
                        </div>
                        <div class="swiper-button-next swiper-button-disabled" id="next-button-top-slide"
                             tabindex="-1" role="button" aria-label="Next slide"
                             aria-controls="swiper-wrapper-f10715100f7d99c4cd" aria-disabled="true">
                        </div>
                        <div class="swiper swiper-gallery swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-thumbs">
                            <div class="swiper-wrapper" id="swiper-wrapper-91b3daa8279a5893"
                                 aria-live="polite"
                                 style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                @foreach (var item in Model.slides)
                                {
                                    string src = System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages/" + item.image;
                                    string index = Model.slides.IndexOf(item).ToString();
                                    string imagetitle = item.title;
                                    string imagedesc = item.Ptitle;
                                    <div class="swiper-slide swiper-slide-visible swiper-slide-active"
                                         role="group"
                                         aria-label="@index / 7" style="margin-left: 16px;">
                                        <img width="50" height="25"
                                             src="@src"
                                             alt="@imagetitle" loading="lazy">
                                    </div>
                                }

                                @*<div class="swiper-slide swiper-slide-visible swiper-slide-next"
                                         role="group"
                                         aria-label="2 / 7" style="margin-left: 16px;">
                                        <img width="50" height="25"
                                             src="/versionAsset/omirom/image/4ArbquYrpl22T1KjilQUYJomu96k1Lb2pCDdR8lS_thumbnail.webp"
                                             alt="apple-macbook.jpg" loading="lazy">
                                    </div>*@


                            </div>
                            <span class="swiper-notification" aria-live="assertive"
                                  aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-block d-lg-none">
            <div class="slider-header-responsive-wrapper position-relative">
                <div class="swiper header-slider-responsive xmx-2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                    <div class="swiper-wrapper" id="swiper-wrapper-284f105da86b5cc9a" aria-live="off"
                         style="transition-duration: 300ms;">
                        @if (Model.slides != null)
                        {
                            foreach (var item in Model.slides)
                            {
                                string src = System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages/" + item.image;
                                string imagetitle = item.title;
                                string imagedesc = item.Ptitle;
                                string index = Model.slides.IndexOf(item).ToString();
                                {

                                    <div class="swiper-slide">
                                        <a class="mySlide" id='@item.type-@item.catIDOrLink' href="#"
                                           dideo-checked="true">
                                            <div class="slide-box position-relative d-flex justify-content-center">
                                                <img alt="@imagetitle"
                                                     src="@src"
                                                     loading="lazy">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }





                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>
            </div>
        </div>


    </div>


    <div class="product-slider-header xmt-6 xmt-lg-8">
        <div class="container">
            <div class="swiper product-slider-header-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                <div class="swiper-wrapper" id="swiper-wrapper-14ccbb8db9cf43d3" aria-live="polite"
                     style="transform: translate3d(0px, 0px, 0px);">
                    @{
                        if (Model.banners.Count > 0)
                        {
                            string banner1 = @System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages /" + @Model.banners[0].image;
                            <div class="swiper-slide swiper-slide-active" role="group"
                                 style="width: 421.333px; margin-left: 16px;">
                                <a href="#"
                                   class="image-banner-wrapper d-block" target="_self" dideo-checked="true">
                                    <img cl id='@Model.banners[0].type-@Model.banners[0].catIDOrLink' alt="@Model.banners[0].title" class="image br-4 bannerimage"
                                         src="@banner1"
                                         loading="lazy">
                                </a>
                            </div>
                        }
                        if (Model.banners.Count > 1)
                        {
                            string banner2 = @System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages /" + @Model.banners[1].image;
                            <div class="swiper-slide swiper-slide-active" role="group"
                                 style="width: 421.333px; margin-left: 16px;">
                                <a href="#"
                                   class="image-banner-wrapper d-block" target="_self" dideo-checked="true">
                                    <img cl id='@Model.banners[1].type-@Model.banners[1].catIDOrLink' alt="@Model.banners[1].title" class="image br-4 bannerimage"
                                         src="@banner2"
                                         loading="lazy">
                                </a>
                            </div>
                        }
                        if (Model.banners.Count > 2)
                        {
                            string banner3 = @System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages /" + @Model.banners[2].image;
                            <div class="swiper-slide swiper-slide-active" role="group"
                                 style="width: 421.333px; margin-left: 16px;">
                                <a href="#"
                                   class="image-banner-wrapper d-block" target="_self" dideo-checked="true">
                                    <img cl id='@Model.banners[2].type-@Model.banners[2].catIDOrLink' alt="@Model.banners[2].title" class="image br-4 bannerimage"
                                         src="@banner3"
                                         loading="lazy">
                                </a>
                            </div>
                        }
                        if (Model.banners.Count > 3)
                        {
                            string banner4 = @System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages /" + @Model.banners[3].image;
                            <div class="swiper-slide swiper-slide-active" role="group"
                                 style="width: 421.333px; margin-left: 16px;">
                                <a href="#"
                                   class="image-banner-wrapper d-block" target="_self" dideo-checked="true">
                                    <img cl id='@Model.banners[3].type-@Model.banners[3].catIDOrLink' alt="@Model.banners[3].title" class="image br-4 bannerimage"
                                         src="@banner4"
                                         loading="lazy">
                                </a>
                            </div>
                        }
                        if (Model.banners.Count > 4)
                        {
                            string banner5 = @System.Configuration.ConfigurationManager.AppSettings["domain"] + "/images/panelimages /" + @Model.banners[4].image;
                            <div class="swiper-slide swiper-slide-active" role="group"
                                 style="width: 421.333px; margin-left: 16px;">
                                <a href="#"
                                   class="image-banner-wrapper d-block" target="_self" dideo-checked="true">
                                    <img cl id='@Model.banners[4].type-@Model.banners[4].catIDOrLink' alt="@Model.banners[4].title" class="image br-4 bannerimage"
                                         src="@banner5"
                                         loading="lazy">
                                </a>
                            </div>
                        }
                    }


                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>




    @{
        if (Model.wonderList != null)
        {
            <div class="special-offer-wrapper xmb-20 xmt-16">
                <div class="container">
                    <div class="title">
                        <div class="title-box title-box-purple">
                            <div class="title-bg">
                                <h2 class="text">
                                    پیشنهاد ویژه
                                </h2>

                            </div>
                            <div class="more d-none d-sm-block">
                                <span>



                                </span>
                                <i class="icon ">
                                    <!-- Generated by IcoMoon.io -->
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 128 128">

                                        <path fill="currentColor"
                                              d="M82.133 39.467l-7.467-7.467-32 32 32 32 7.467-7.467-24.533-24.533z"></path>
                                    </svg>

                                </i>
                            </div>
                        </div>
                    </div>

                    <div class="product-card  position-relative">
                        <div class="swiper product-card-swiper position-relative swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                            <div class="swiper-scrollbar-card position-absolute bgPagination-purple swiper-scrollbar-lock"
                                 style="display: none;">
                                <div class="swiper-scrollbar-drag"
                                     style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div>
                            </div>
                            <div class="swiper-wrapper" id="swiper-wrapper-5982c22c73917d10b" aria-live="polite"
                                 style=" margin-top:18px; transform: translate3d(0px, 0px, 0px);">

                                @foreach (var item in Model.wonderList)
                                {
                                    string src = item.image.Split(',').ToList().First();
                                    DateTime itemdate = DateTime.Now.AddSeconds(double.Parse(item.time));
                                    <div class="swiper-slide swiper-slide-active" key="6016" role="group"
                                         aria-label="1 / 4" style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-purple">

                                            <a href="#"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="discount">
                                                            @string.Format("{0:n0}", double.Parse(item.oldPrice)) ت
                                                        </span>
                                                        <span class="total-price">
                                                            @string.Format("{0:n0}", double.Parse(item.price)) ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img loading="lazy"
                                                             src="@src"
                                                             alt="ساعت هوشمند شیائومی MiBro Lite"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            @item.title
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span class="range" style="   background: #222222;  "></span>
                                                    </div>
                                                </div>

                                                <div style="width:100%; text-align:center; padding:7px">
                                                    <span class="time timer-interval-box" data-time-offer="@itemdate.ToLongDateString() @itemdate.ToLongTimeString()">۰۳ : ۴۱ : ۳۶</span>

                                                </div>
                                            </a>

                                        </div>

                                    </div>
                                }


                                @*<div class="swiper-slide swiper-slide-next" key="4530" role="group"
                                                                 aria-label="2 / 4" style="width: 306px; margin-left: 24px;">
                                                                <div class="product-card product-card-purple">
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                                            <div class="product-price">
                                                                                <span class="discount">
                                                                                    ۵۰۵,۰۰۰ ت
                                                                                </span>
                                                                                <span class="total-price">
                                                                                    ۴۸۹,۰۰۰ ت
                                                                                </span>
                                                                            </div>
                                                                            <div class="product-img xmb-3">
                                                                                <img loading="lazy"
                                                                                     src="/versionAsset/omirom/image/oZE7RK5Yv2TWsIxvv71IrSXfnGK5gRbYjwuWoCU2.webp"
                                                                                     alt="هدفون بی سیم هایلو مدل  T15" class="img-fluid rounded">
                                                                            </div>
                                                                            <div class="product-text">
                                                                                <h3 class="title">هدفون بی سیم هایلو مدل T15</h3>
                                                                            </div>
                                                                            <div class="color-range">
                                                                                <span class="range" style="
                                    background: #222222;
                                    "></span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide" key="5310" role="group" aria-label="3 / 4"
                                                                 style="width: 306px; margin-left: 24px;">
                                                                <div class="product-card product-card-out-of-stock blurred">
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                                            <div class="product-price">
                                                                                <span class="d-none">

                                                                                </span>
                                                                                <span class="total-price">
                                                                                    تمام شد
                                                                                </span>
                                                                            </div>
                                                                            <div class="product-img xmb-3">
                                                                                <img loading="lazy"
                                                                                     src="/versionAsset/omirom/image/kcHpalLmkyyP7KUzDfnlUN23n8BGlKgx2EfVWP5L.webp"
                                                                                     alt="اپل آیپد 10.2 اینچ 2021 مدل Wi"
                                                                                     class="img-fluid rounded">
                                                                            </div>
                                                                            <div class="product-text">
                                                                                <h3 class="title">
                                                                                    اپل آیپد 10.2 اینچ 2021 مدل WiFi ظرفیت 64
                                                                                    گیگابایت
                                                                                </h3>
                                                                            </div>
                                                                            <div class="color-range">
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide" key="5960" role="group" aria-label="4 / 4"
                                                                 style="width: 306px; margin-left: 24px;">
                                                                <div class="product-card product-card-purple">
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                                            <div class="product-price">
                                                                                <span class="discount">
                                                                                    ۳,۵۱۵,۰۰۰ ت
                                                                                </span>
                                                                                <span class="total-price">
                                                                                    ۱,۷۸۰,۰۰۰ ت
                                                                                </span>
                                                                            </div>
                                                                            <div class="product-img xmb-3">
                                                                                <img loading="lazy"
                                                                                     src="/versionAsset/omirom/image/1CNiMOCMJ5DjRshMaJCaO17W3egKcUIT9LOgnWCW.webp"
                                                                                     alt="اندروید باکس لیتو مدل LTV-2" class="img-fluid rounded">
                                                                            </div>
                                                                            <div class="product-text">
                                                                                <h3 class="title">اندروید باکس لیتو مدل LTV-2</h3>
                                                                            </div>
                                                                            <div class="color-range">
                                                                                <span class="range" style="  background: #222222;"></span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>*@
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }



    <!--                //**********-->

    <div class="new-products-wrapper">
        <div class="container">
            <div class="title">
                <div class="title-box just-text title-box-blue">
                    <div class="title-bg">
                        <h2 class="text">
                            محصولات جدید
                        </h2>
                    </div>
                    <div class="more">
                        <a href="Home/ProductList?sortID=1" rel="nofollow" dideo-checked="true">
                            <span class="d-none d-sm-inline">بیشتر</span>
                            <i class="icon ">
                                <!-- Generated by IcoMoon.io -->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 128 128">

                                    <path fill="currentColor"
                                          d="M82.133 39.467l-7.467-7.467-32 32 32 32 7.467-7.467-24.533-24.533z"></path>
                                </svg>

                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="new-products">
                <div class="top-slider">
                    <div class="swiper new-products-swiper xpt-6 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-10c25b165a110c694" aria-live="off"
                             style="transition-duration: 15000ms; transform: translate3d(2640px, 0px, 0px);">

                            @foreach (var item in Model.newest)
                            {
                                string url = item.image.Split(',').ToList().First();
                                string index = Model.newest.IndexOf(item).ToString();
                                string number = (Model.newest.IndexOf(item) + 1).ToString();
                                string purl = "/Home/ProductDetail/o" + @item.ID;
                                int total = Model.newest.Count();
                                <div class="swiper-slide" data-swiper-slide-index="@index" role="group"
                                     aria-label="@number / @total" style="width: 179.077px; margin-left: 24px;">
                                    <a href="@purl"
                                       dideo-checked="true">
                                        <div class="new-product-slide-box d-flex justify-content-center align-items-center">
                                            <img class="img-fluid"
                                                 alt="@item.title"
                                                 src="@url"
                                                 loading="lazy">
                                        </div>
                                    </a>
                                </div>
                            }




                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>


                </div>

                <div class="bottom-slider xmt-4 xmt-md-6">
                    <div class="swiper new-products-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper xmr-22" id="swiper-wrapper-5c865143e0703cd9"
                             aria-live="off"
                             style="transition-duration: 15000ms; transform: translate3d(2640px, 0px, 0px);">

                            @foreach (var item in Model.specialOffers)
                            {
                                string url = item.image.Split(',').ToList().First();
                                string index = Model.newest.IndexOf(item).ToString();
                                string number = (Model.newest.IndexOf(item) + 1).ToString();
                                string purl = "/Home/ProductDetail/o" + @item.ID;
                                int total = Model.newest.Count();
                                <div class="swiper-slide" data-swiper-slide-index="@index" role="group"
                                     aria-label="@number / @total" style="width: 179.077px; margin-left: 24px;">
                                    <a href="@purl"
                                       dideo-checked="true">
                                        <div class="new-product-slide-box d-flex justify-content-center align-items-center">
                                            <img class="img-fluid" alt="@item.title "
                                                 src="@url"
                                                 loading="lazy">
                                        </div>
                                    </a>
                                </div>
                            }





                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--                //**********-->
    <!--                //**********-->


    @if (Model.gourpList != null)
    {


        foreach (var group in Model.gourpList)
        {
            string id = group.type + "-" + group.catIDOrLink;

            if (group.value != null)
            {
                <div class="phone-wrapper xmt-12 xmt-lg-16">
                    <div class="container">
                        <div class="title">
                            <div class="title-box just-text title-box-blue">
                                <div class="title-bg">
                                    <h2 class="text">
                                        @group.title
                                    </h2>
                                </div>
                                <a class="more"
                                   href="#/%D9%85%D8%AD%D8%B5%D9%88%D9%84%D8%A7%D8%AA/%da%af%d9%88%d8%b4%db%8c/"
                                   dideo-checked="true">
                                    <span class="d-none d-sm-inline">بیشتر</span>
                                    <span>
                                        <i class="icon ">
                                            <!-- Generated by IcoMoon.io -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 128 128">

                                                <path fill="currentColor" d="M82.133 39.467l-7.467-7.467-32 32 32 32 7.467-7.467-24.533-24.533z"></path>
                                            </svg>

                                        </i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="product-card  position-relative">
                            <div class="swiper product-card-swiper position-relative swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                <div class="swiper-scrollbar-card position-absolute bgPagination-blue">
                                    <div class="swiper-scrollbar-drag"
                                         style="transform: translate3d(0px, 0px, 0px); width: 512.703px; transition-duration: 0ms;"></div>
                                </div>
                                <div class="swiper-wrapper" id="swiper-wrapper-a1135dd0b38b41006" aria-live="polite"
                                     style="margin-top:15px;  transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                    @foreach (var item in group.value)
                                    {
                                        string src = item.image.Split(',').First();
                                        string imagetitle = item.title;
                                        string index = (group.value.IndexOf(item) + 1).ToString();
                                        string count = group.value.Count() + "";
                                        <div class="swiper-slide swiper-slide-active" key="6137" role="group"
                                             aria-label="@index / @count" style="width: 306px; margin-left: 24px;">
                                            <div class="product-card product-card-blue">
                                                <a href="#/product/nokia-c30-dual-sim-64-3gb-ta-1359/"
                                                   dideo-checked="true">
                                                    <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                        <div class="product-price">
                                                            <span class="total-price">
                                                                @string.Format("{0:n0}", double.Parse(item.price)) ت
                                                            </span>
                                                        </div>
                                                        <div class="product-img xmb-3">
                                                            <img class="img-fluid rounded"
                                                                 alt="@item.title"
                                                                 src="@src"
                                                                 loading="lazy">
                                                        </div>
                                                        <div class="product-text">
                                                            <h3 class="title">
                                                                @item.title
                                                            </h3>
                                                        </div>
                                                        <div class="color-range">
                                                            @*@{
                                                                    List<string> srt = item.image.Split(',').ToList();
                                                                    foreach(var IMGITEM in srt)
                                                                    {
                                                                        <img src="@IMGITEM" style="width:70px"/>
                                                                    }
                                                                }*@
                                                            @*<span title="سفید" class="range" style=" background: #FFFFFF; "></span>*@
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }


                                    <div class="swiper-slide swiper-slide-next" key="6105" role="group" aria-label="2 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/huawei-nova-y70-dualsim-128-4gb/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۴,۵۲۹,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی هواوی نوا Y70 دوسیم کارت ظرفیت 128 گیگابایت رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/07/21/wDkBsaELHdCCawoEqSlcvS99vEVLqMvIUpv9sdIE_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی هواوی نوا Y70 دوسیم کارت ظرفیت 128 گیگابایت
                                                            رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="آبی" class="range" style="
            background: #1E90FF;
            "></span>
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                        <span title="سفید" class="range" style="
            background: #FFFFFF;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="6036" role="group" aria-label="3 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/glx-general-luxe-106-dual-sim-4mb/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۴۲۸,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی جی ال ایکس مدل جنرال لوکس 106 دو سیم&zwnj;کارت ظرفیت 4 مگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/07/05/rzAz7V67TojnHe9sXuJoCqCfF4SeGYRMRjQNlzMt_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی جی ال ایکس مدل جنرال لوکس 106 دو سیم&zwnj;کارت
                                                            ظرفیت 4 مگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5977" role="group" aria-label="4 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/apple-iphone-se-2022-single-sim-128-4gb/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۱۶,۸۸۸,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی اپل آیفون اس ای 2022 تک سیم&zwnj; کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/06/19/tZUqch5FvcNwzqjg1dIvJAQ70arjdl0q7oSi6pwb_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی اپل آیفون اس ای 2022 تک سیم&zwnj; کارت ظرفیت
                                                            128 گیگابایت و رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5928" role="group" aria-label="5 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/samsung-galaxy-a33-dual-sim-128-8gb-ram/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۸,۱۰۰,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی سامسونگ گلکسی A33 5G دو سیم&zwnj;کارت ظرفیت 128 گیگابایت رم 8 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/05/15/Ey94hTkIQH6cD2IeRWM0IHCLd410IVFXPE4dlwOP_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی سامسونگ گلکسی A33 5G دو سیم&zwnj;کارت ظرفیت
                                                            128 گیگابایت رم 8 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5893" role="group" aria-label="6 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/samsung-galaxy-a23-dual-sim-128-4gb-ram/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۵,۴۰۰,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی سامسونگ گلکسی A23 دو سیم&zwnj;کارت ظرفیت 128 گیگابایت رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/04/24/BOmUc1lEgbxRylzR4FAreQbbtEPdvFnxzuzRKgLj_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی سامسونگ گلکسی A23 دو سیم&zwnj;کارت ظرفیت 128
                                                            گیگابایت رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                        <span title="گلبهی" class="range" style="
            background: #f0dfc7;
            "></span>
                                                        <span title="آبی" class="range" style="
            background: #1E90FF;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5883" role="group" aria-label="7 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-purple">
                                            <a href="#/product/infinix-hot-11-play-dual-sim-128-4gb-ram/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="discount">
                                                            ۳,۹۱۹,۰۰۰ ت
                                                        </span>
                                                        <span class="total-price">
                                                            ۳,۸۶۹,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی اینفینیکس هات 11 پلی دو سیم&zwnj;کارت ظرفیت 128 گیگابایت رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/02/07/xDS3NFUDqiCCjv7qQqv0xq7xHrPtdnsh4qL6lu2r_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی اینفینیکس هات 11 پلی دو سیم&zwnj;کارت ظرفیت
                                                            128 گیگابایت رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="طلایی" class="range" style="
            background: #FFD700;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5872" role="group" aria-label="8 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/samsung-galaxy-a13-4g-128-4gb-ram/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۵,۲۰۳,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی سامسونگ گلکسی A13 4G دو سیم&zwnj;کارت ظرفیت 128 گیگابایت رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/04/26/f6w22ZbmsRasuN1uesbYpWMGJHRBwIyEnzRTlrfB_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی سامسونگ گلکسی A13 4G دو سیم&zwnj;کارت ظرفیت
                                                            128 گیگابایت رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                        <span title="گلبهی" class="range" style="
            background: #f0dfc7;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5829" role="group" aria-label="9 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/samsung-galaxy-a13-4g-64-4gb-ram/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۴,۴۶۸,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی سامسونگ گلکسی A13 4G دو سیم&zwnj;کارت ظرفیت 64 گیگابایت رم 4 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/04/26/f6w22ZbmsRasuN1uesbYpWMGJHRBwIyEnzRTlrfB_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی سامسونگ گلکسی A13 4G دو سیم&zwnj;کارت ظرفیت
                                                            64 گیگابایت رم 4 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                        <span title="آبی" class="range" style="
            background: #1E90FF;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" key="5821" role="group" aria-label="10 / 10"
                                         style="width: 306px; margin-left: 24px;">
                                        <div class="product-card product-card-blue">
                                            <a href="#/product/samsung-galaxy-a23/"
                                               dideo-checked="true">
                                                <div class="product-box xpy-10 xp-4 xp-lg-6 xpt-md-12 xpb-md-12 d-flex justify-content-center align-items-center flex-column position-relative">
                                                    <div class="product-price">
                                                        <span class="total-price">
                                                            ۶,۲۰۰,۰۰۰ ت
                                                        </span>
                                                    </div>
                                                    <div class="product-img xmb-3">
                                                        <img class="img-fluid rounded"
                                                             alt="گوشی سامسونگ گلکسی A23 دو سیم&zwnj;کارت ظرفیت 128 گیگابایت رم 6 گیگابایت"
                                                             src="https://saymandigital.com/storage/uploads/2022/04/24/BOmUc1lEgbxRylzR4FAreQbbtEPdvFnxzuzRKgLj_thumbnail.webp"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="product-text">
                                                        <h3 class="title">
                                                            گوشی سامسونگ گلکسی A23 دو سیم&zwnj;کارت ظرفیت 128
                                                            گیگابایت رم 6 گیگابایت
                                                        </h3>
                                                    </div>
                                                    <div class="color-range">
                                                        <span title="مشکی" class="range" style="
            background: #222222;
            "></span>
                                                        <span title="آبی" class="range" style="
            background: #1E90FF;
            "></span>
                                                        <span title="گلبهی" class="range" style="
            background: #f0dfc7;
            "></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>



                    </div>
                </div>
            }

        }
    }
    <!--                //**********-->
    <!--                //**********-->

    <div class="numbered-products-wrapper xmt-16 xmt-lg-20">
        <div class="container">
            <div class="nav-link-numbered-products xmb-6">
                <div class="title-numbered-products">
                    <ul class="nav nav-tabs" id="myTab" role="tab-b">
                        <li class="nav-item" role="presentation">
                            <h2 class="nav-link active" id="nav-numbered-products-tab" data-bs-toggle="tab" data-bs-target="#nav-numbered-products" role="tab" aria-controls="nav-numbered-products" aria-selected="true" style="background-color:unset">
                                جدید ترین ها
                            </h2>
                        </li>
                        <li class="nav-item" role="presentation">
                            <h2 class="nav-link" id="nav-most-visited-tab" data-bs-toggle="tab" data-bs-target="#nav-most-visited" role="tab" aria-controls="nav-most-visited" aria-selected="false" style="background-color:unset">
                                پرفروش ترین ها
                            </h2>
                        </li>
                        <li class="nav-item" role="presentation">
                            <h2 class="nav-link" id="nav-offer-tab" data-bs-toggle="tab" data-bs-target="#nav-most-visited" role="tab" aria-controls="nav-most-visited" aria-selected="false" style="background-color:unset">
                                پیشنهاد ویژه
                            </h2>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="best-box position-relative">
                <div class="numbered-products-box tab-pane fade active show" id="nav-numbered-products" role="tabpanel" aria-labelledby="nav-numbered-products-tab">
                    <div class="swiper numbered-products-swiper xpr-8 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-1091fb1ed107279a22" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

                            @foreach (var item in Model.newest)
                            {
                                string url = item.image.Split(',').ToList().First();
                                string index = Model.newest.IndexOf(item).ToString();
                                string number = (Model.newest.IndexOf(item) + 1).ToString();
                                string purl = "/Home/ProductDetail/o" + @item.ID;
                                int total = Model.newest.Count();
                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="@number / @total" style="width: 306.595px; margin-left: 48px;">
                                    <a href="" dideo-checked="true">
                                        <div style="z-index:100" class="numbered-products-box-product d-flex justify-content-center align-items-center flex-column first-number">
                                            <div class="img-numbered-products">
                                                <div class="number-numbered-products position-absolute">@number</div>
                                                <img style="" class="img-fluid" alt="@item.title" src="@url" loading="lazy">
                                            </div>
                                            <div class="text-numbered-products xmt-1 xmt-md-4">
                                                <h3>@item.title</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }



                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="numbered-products-box tab-pane fade" id="nav-most-visited" role="tabpanel" aria-labelledby="nav-most-visited-tab">
                    <div class="swiper numbered-products-visited-swiper xpr-8 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-d162d47dad74e469" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            @foreach (var item in Model.bestseller)
                            {
                                string url = item.image.Split(',').ToList().First();
                                string index = Model.bestseller.IndexOf(item).ToString();
                                string number = (Model.bestseller.IndexOf(item) + 1).ToString();
                                string purl = "/Home/ProductDetail/o" + @item.ID;
                                int total = Model.bestseller.Count();
                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="@number / @total" style="width: 306.595px; margin-left: 48px;">
                                    <a href="" dideo-checked="true">
                                        <div style="z-index:100" class="numbered-products-box-product d-flex justify-content-center align-items-center flex-column first-number">
                                            <div class="img-numbered-products">
                                                <div class="number-numbered-products position-absolute">@number</div>
                                                <img style="" class="img-fluid" alt="@item.title" src="@url" loading="lazy">
                                            </div>
                                            <div class="text-numbered-products xmt-1 xmt-md-4">
                                                <h3>@item.title</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }


                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="numbered-products-box tab-pane fade" id="nav-most-visited" role="tabpanel" aria-labelledby="nav-offer-tab">
                    <div class="swiper numbered-products-visited-swiper xpr-8 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-d162d47dad74e469" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            @foreach (var item in Model.specialOffers)
                            {
                                string url = item.image.Split(',').ToList().First();
                                string index = Model.specialOffers.IndexOf(item).ToString();
                                string number = (Model.specialOffers.IndexOf(item) + 1).ToString();
                                string purl = "/Home/ProductDetail/o" + @item.ID;
                                int total = Model.specialOffers.Count();
                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="@number / @total" style="width: 306.595px; margin-left: 48px;">
                                    <a href="" dideo-checked="true">
                                        <div style="z-index:100" class="numbered-products-box-product d-flex justify-content-center align-items-center flex-column first-number">
                                            <div class="img-numbered-products">
                                                <div class="number-numbered-products position-absolute">@number</div>
                                                <img style="" class="img-fluid" alt="@item.title" src="@url" loading="lazy">
                                            </div>
                                            <div class="text-numbered-products xmt-1 xmt-md-4">
                                                <h3>@item.title</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--                //**********-->
    <!--                //**********-->
    <div class="brands-wrapper xmt-6 xmt-lg-16">
        <div class="container">
            <div class="title">
                <div class="title-box just-text title-box-blue">
                    <div class="title-bg">
                        <h2 class="text">
                            برند ها
                        </h2>
                    </div>
                </div>
            </div>
            <div class="brands-slider">
                <div class="top-brands-slider">
                    <div class="swiper brads-swiper xpt-6 swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                        <div class="swiper-wrapper" id="swiper-wrapper-eebc98b27d39cc6f" aria-live="off" style="transition-duration: 15000ms; transform: translate3d(4592px, 0px, 0px);">

                            @foreach (var item in Model.brands)
                            {
                                string index = (Model.brands.IndexOf(item) + 1).ToString();
                                string total = Model.brands.Count() + "";

                                <div class="swiper-slide " data-swiper-slide-index="@index" role="group" aria-label="@index / @total" style="width: 148px; margin-left: 16px;">
                                    <a href="#/brand/qcy" target="_blank" class="brand-box" style="background: #FFE9ED" dideo-checked="true">
                                        <img src="/images/panelimages/@item.image" alt="@item.title" loading="lazy">
                                    </a>
                                </div>
                            }


                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--                //**********-->







</main>

<script>
    $(".banner").each(function () {

        if (($(this).attr('id').indexOf("empty") >= 0)) {

            $(this).css("cursor", "default");
        }
    })
    $(".banner").click(function () {
        var val = $(this).attr('id');
        if (!(val.indexOf("empty") >= 0)) {
            window.location.href = "/Home/ManageBanner?val=" + $(this).attr('id');

        }
    })


    $(".mySlide").each(function () {

        if (($(this).attr('id').indexOf("empty") >= 0)) {

            $(this).css("cursor", "default");
        }
    })
    $(".mySlide").click(function () {
        var val = $(this).attr('id');

        if (!val.contain('image')) {
            window.location.href = "/Home/ManageSlide?val=" + $(this).attr('id');

        }
    })

</script>


@section scripts{
    <!--تایمر پیشنهاد های ویژه-->
    <script src="~/versionAsset/omirom/js/timer.js"></script>
    <!--تبدیل اعداد انگلیسی به فارسی-->
    <script src="~/versionAsset/omirom/js/setPersian.js"></script>
    <!--اسلایدر صفحه محصولات-->
    <script src="~/versionAsset/omirom/js/productsList-swiper.js"></script>
    <!--خبرنامه-->
    <script src="~/versionAsset/omirom/js/latestNews.js"></script>
    <!--اسلایدر های صفحه اصلی سایت-->
    <script src="~/versionAsset/omirom/js/homePageSwiper.js"></script>
    <!--end home -->
    <!--start header -->
    <!-- لاگین و رجیستر-->
    <script src="~/versionAsset/omirom/js/signUp.js"></script>
    <!--قسمت سرج هدر-->
    <script src="~/versionAsset/omirom/js/search.js?v=002"></script>
    <!--منو و سرچ باکس هدر سایت-->
    <script src="~/versionAsset/omirom/js/headerMenu.js"></script>
    <!-- اسلایدر قسمت هدر سایت-->
    <script src="~/versionAsset/omirom/js/headerSwiper.js"></script>
} 