@using BotDetect.Web.Mvc;
@using banimo.Classes;
@{
    Layout = null;
}






@{
    /**/

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout13.cshtml";
}

<link href="~/Content/loginStyle4.css" rel="stylesheet" />



<div>
    <main id="main" class="">
        <div class="semi-modal-layout">
            <section class="o-page o-page--account-box">
                <div class="c-account-box card">

                    <div class="c-account-box__headline" style="background-color:transparent; color:#4d4d4d">ورود با رمز یکبار مصرف</div>
                    <div class="c-account-box__content">
                        <form class="c-form-account" data-name="remember" method="post" id="rememberForm" novalidate="novalidate">
                            <input type="hidden" name="rc" value="UC93TE55a281dk5QYnZBMjRRcjZHdz09"><input type="hidden" name="rd" value="cHdSdHlsMkFjckE4UG44NFFDZEtpcWdKMzRqVVRSM1k4L1FldlVBVEQ0UjFNbFF2TUFnamdOYlR2aHJ3UFU5TA~~">
                            <div class="c-form-account__title"> شماره موبایل</div>
                            <div class="c-form-account__row">
                                <div class="c-form-account__col">
                                    <label id="mainlabla2" class="c-ui-input c-ui-input--account-login">
                                        <input id="forgettext" class="c-ui-input__field priceItem" type="text" name="remember[email_phone]" placeholder=" شماره موبایل خود را وارد نمایید">
                                        <div id="remember-error" class="error c-ui-feedback-hint"> شماره موبایل را وارد نمایید</div>
                                    </label>
                                </div>
                            </div>
                            <div id="fogetconfirm" class="mybtn addtocart" style="">

                                <p class="buttonverif">تایید</p>
                                <script>
                                        $("#fogetconfirm").click(function () {

                                            function isNotNull(str) {
                                                var pattern = /^[A-Za-z0-9]{1,20}$/;
                                                return pattern.test(str);
                                            };
                                            function isValidPhonenumber(phonenumber) {
                                                var pattern = /^09[0-9]{9}$/;
                                                return pattern.test(phonenumber);
                                            };



                                            var val = $("#forgettext").val();


                                            if (!isNotNull(val) || !isValidPhonenumber(val)) {

                                                $("#remember-error").css("display", "block");
                                                $("#forgettext").css("color", "#ef5662");
                                                $("#forgettext").css("border", "1px solid #ef5662");
                                                $("#mainlabla2").addClass("error");

                                            }
                                            else {
                                                $("#loading").fadeIn();
                                                $.ajax({
                                                    url: '/CustomerLogin/forgetPass',
                                                    dataType: 'html',
                                                    data: {
                                                        isRegister: "1",
                                                        phone: val
                                                    },
                                                    success: function (srt) {
                                                        $("#loading").fadeOut();
                                                        if (srt === "300") {
                                                            $("#remember-error").css("display", "block");
                                                            $("#remember-error").text("شماره موبایل وارد شده در @System.Configuration.ConfigurationManager.AppSettings["siteName"] ثبت نشده است");
                                                            $("#remember-error").css("display", "block");
                                                            $("#forgettext").css("color", "#ef5662");
                                                            $("#forgettext").css("border", "1px solid #ef5662");
                                                            $("#mainlabla2").addClass("error");
                                                        }


                                                        if (srt === "200") {

                                                            var url = '@Url.Action("confirm", "Home", new { id = "__val__"})';
                                                            var url2 = url.replace("__val__", val);
                                                            window.location.href = url2;



                                                        }








                                                    },
                                                    error: function () {
                                                        $('#lblsubscribeSubmit').text("خطای سیستمی، لطفاً با اپراتور تماس بگیرید");
                                                    }
                                                });
                                            }

                                        })
                                </script>
                                @*<p > افزودن به سبد خرید</p>*@
                            </div>
                        </form>
                    </div>
                    <div class="c-account-box__footer">

                        <a data-snt-event="dkLoginClick" data-snt-params="{&quot;type&quot;:&quot;login&quot;,&quot;site&quot;:&quot;registration-page&quot;}" href="/Home/Register" class="btn-link-spoiler">ثبت نام  در @System.Configuration.ConfigurationManager.AppSettings["siteName"]</a>
                    </div>
                    <div class="c-account-box__footer">

                        <a data-snt-event="dkLoginClick" data-snt-params="{&quot;type&quot;:&quot;login&quot;,&quot;site&quot;:&quot;registration-page&quot;}" href="/Home/login" class="btn-link-spoiler"> ورود با رمز عبور در @System.Configuration.ConfigurationManager.AppSettings["siteName"]</a>
                    </div>
                </div>
            </section>

        </div>
    </main>
</div>


@{
    if (ViewBag.message != null && ViewBag.message != "")
    {
        <script>

            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 8000,
                "extendedTimeOut": 1000,


            }
            toastr.error('@ViewBag.message');
        </script>
    }

}