@model banimo.ViewModelPost.viewProductViewModel
@using banimo.Classes;
@{
    ViewBag.Title = Model.title + " | " + @System.Configuration.ConfigurationManager.AppSettings["siteName2"];
    Layout = "~/Views/Shared/_Layout3.cshtml";

}
@section HeadIncludes{

    <link rel="stylesheet" href="~/webAsset/3/assets/css/easyzoom.css">
    <meta name="product_name" content="@Model.title">
    <meta name="product_price" content="@Model.price">
    <meta name="product_id" content="@Model.ID">
    <meta name="product_old_price" content="@Model.oldPrice">


    @if (Model.isAvailable == "1")
    {
        <meta name="availability" content="instockor">
    }
    else
    {
        <meta name="availability" content="outofstock ">
    }
    @if (Model.imgGallery != null)
    {
        if (Model.imgGallery.Count() > 0)
        {
            <meta property="og:image" content="@Model.imgGallery.First().src">
        }

    }

    @if (Model.filter.Count() > 0)
    {
        foreach (var item in Model.filter.ToList())
        {
            if (item.filtername == "گارانتی")
            {
                <meta name="guarantee" content="@item.detailname">

            }

        }


    }

}

<div class="product-details-area hm-3-padding ptb-70" style="padding-top:250px">
    <div class="container-fluid">
        <div class="row" style="">
            <div class="col-lg-6">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-40">
                        <div class="product-details-large tab-content">
                            @foreach (var item in @Model.slides)
                            {
                                int index = Model.slides.IndexOf(item);
                                string name = "pro-details" + index;
                                if (index == 0)
                                {
                                    <div class="tab-pane active" id="@name">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="@item.image">
                                                <img src="@item.image" alt="">
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane" id="@name">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="@item.image">
                                                <img src="@item.image" alt="">
                                            </a>
                                        </div>
                                    </div>
                                }

                            }





                        </div>
                        <div class="product-details-small nav mt-12 product-dec-slider owl-carousel">
                            @foreach (var item in @Model.slides)
                            {
                                int index = Model.slides.IndexOf(item);
                                string name = "#pro-details" + index;
                                if (index == 0)
                                {
                                    <a class="active" href="@name">
                                        <img src="@item.image" alt="">
                                    </a>
                                }
                                else
                                {
                                    <a href="@name">
                                        <img src="@item.image" alt="">
                                    </a>
                                }
                            }



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="text-align:right">
                <div class="product-details-content">
                    <h2>@Model.title </h2>


                    <div class="product-overview">
                        <h5 class="pd-sub-title">توضیحات</h5>
                        <p>@Html.Raw(@Model.desc)</p>
                    </div>
                    @if (Model.color != "")
                    {
                        <div class="product-color">
                            <h5 class="pd-sub-title">رنگ محصول</h5>
                            <ul>
                                <li class="" style="float:right;background-color:@Model.color">

                                </li>

                            </ul>
                        </div>
                    }
                    @if (Model.otherColors != null)
                    {
                        <div class="product-color">
                            <h5 class="pd-sub-title">Product color</h5>
                            <ul>
                                @foreach (var item in Model.otherColors)
                                {
                                    <li style="float:right; background-color:@item.colorCode">@item.colorTitle</li>
                                }
                            </ul>
                        </div>
                    }


                    @*<div class="product-categories">
            <h5 class="pd-sub-title">Categories</h5>
            <ul>
                <li>
                    <a href="#">fashion ,</a>
                </li>
                <li>
                    <a href="#">electronics ,</a>
                </li>
                <li>
                    <a href="#">toys ,</a>
                </li>
                <li>
                    <a href="#">food ,</a>
                </li>
                <li>
                    <a href="#">jewellery </a>
                </li>
            </ul>
        </div>*@
                    <div class="product-share">
                        <h5 class="pd-sub-title">اشتراک گذاری</h5>
                        <ul>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-tumblr"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-price" style="text-align:left">
                        @if (Model.price != Model.oldPrice)
                        {

                            <span style="font-family:IRANSansfaNum" class="old">@string.Format("{0:n0}", Convert.ToInt32(@Model.oldPrice))  </span>
                        }

                        <span style="font-family:IRANSansfaNum ; display:flex" > <span style="margin-right:5px">تومان</span>  <span>@string.Format("{0:n0}", Convert.ToInt32(@Model.price))</span> </span>

                    </div>
                    <div class="quickview-plus-minus" style="margin-top:30px">
                        
                        <div class="quickview-btn-cart" style="margin-left:0">
                            <a class="btn-style cr-btn" href="#"><span>افزودن به سبد خرید</span></a>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <a class="btn-hover cr-btn" href="#"><span><i class="ion-ios-heart-outline"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>