@{
    ViewBag.Title = "TermsOfService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .c-info-page__title{
        margin:25px 0;
    }
    p{
        text-align:right;
        direction:rtl;
    }
</style>

<div id="content">
    <div class="" style="padding: 50px; background-color: white;  text-align: right;  line-height: 3;">
        <section class="c-info-page c-about-us">
            <div class="c-info-page__content">
                <h1 class="c-info-page__title">شرایط و قوانین استفاده از سرویس‌ها و خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"]</h1>
                
                <p class="c-info-page__full-paragraph  c-info-page__margin-top">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی @System.Configuration.ConfigurationManager.AppSettings["siteName"] به دقت
                    ملاحظه فرمایید.<br>
                    ورود کاربران به وب‏‌سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"] هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه
                    تصویری @System.Configuration.ConfigurationManager.AppSettings["siteName"] و سایر خدمات ارائه شده توسط @System.Configuration.ConfigurationManager.AppSettings["siteName"] به معنای آگاه بودن و پذیرفتن شرایط و قوانین و
                    همچنین نحوه استفاده از سرویس‌‏ها و خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"] است. توجه داشته باشید که ثبت سفارش نیز در هر زمان
                    به معنی پذیرفتن کامل کلیه شرایط و قوانین @System.Configuration.ConfigurationManager.AppSettings["siteName"] از سوی کاربر است.<br>
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p><div class="c-info-page__sub-section c-info-page__margin-top" id="general">
                    <h4 class="c-info-page__title">قوانین عمومی</h4><p class="c-info-page__full-paragraph">
                        توجه داشته باشید کلیه اصول و رویه‏‌های @System.Configuration.ConfigurationManager.AppSettings["siteName"] منطبق با قوانین جمهوری اسلامی ایران، قانون
                        تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین
                        مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های @System.Configuration.ConfigurationManager.AppSettings["siteName"] تغییراتی در
                        آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر
                        شما از سایت به معنی پذیرش هرگونه تغییر است.
                    </p>
                </div><div class="c-info-page__sub-section c-info-page__margin-top" id="user">
                    <h4 class="c-info-page__title"> تعریف مشتری یا کاربر</h4><p class="c-info-page__full-paragraph">
                        مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به
                        ثبت سفارش یا هرگونه استفاده از خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"] اقدام کند.<br>
                        همچنین از آنجا که @System.Configuration.ConfigurationManager.AppSettings["siteName"] یک وب‌سایت خرده‌فروشی آنلاین است، طبق قانون تجارت الکترونیک مشتری یا
                        مصرف کننده هر شخصی است که به منظوری جز تجارت یا شغل حرفه‌ای به خرید کالا یا خدمات اقدام می‌کند.
                    </p>
                </div>
              
                <div class="c-info-page__sub-section c-info-page__margin-top" id="connection">
                    <h4 class="c-info-page__title"> ارتباطات الکترونیکی</h4><p class="c-info-page__full-paragraph">
    <br>
    هنگامی که شما از سرویس‌‏ها و خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"] استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید
    می‏‌کنید و یا به @System.Configuration.ConfigurationManager.AppSettings["siteName"] ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در
    صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که @System.Configuration.ConfigurationManager.AppSettings["siteName"] به
    صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه و سایر سرویس‌های الکترونیکی) به
    درخواست شما پاسخ دهد.<br>
    همچنین آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های
    رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.<br>
    جهت اطلاع‌رسانی رویدادها، خدمات و سرویس‌های ویژه یا پروموشن‌ها، امکان دارد @System.Configuration.ConfigurationManager.AppSettings["siteName"] برای اعضای
    وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها
    نداشته باشند، می‌توانند عضویت دریافت خبرنامه @System.Configuration.ConfigurationManager.AppSettings["siteName"] را در پروفایل خود لغو کنند.<br>
    توجه داشته باشید که 9810008727   تنها شماره‌‌ایی است که @System.Configuration.ConfigurationManager.AppSettings["siteName"] از طریق آن
    برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند. همچنین این شماره‌‌ها سامانه ارسال
    پیامک است که وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه @System.Configuration.ConfigurationManager.AppSettings["siteName"] را به اطلاع
    کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق آن وجود ندارد.<br>
    همچنین ممکن است @System.Configuration.ConfigurationManager.AppSettings["siteName"] از طریق شماره 300061930002 برای برخی کاربران یا مشتریان خود، سوال
    نظرسنجی ارسال کند.<br>
    بنابراین ارسال هرگونه پیامک تحت عنوان @System.Configuration.ConfigurationManager.AppSettings["siteName"]، با هر شماره دیگری تخلف و سوء استفاده از نام
    @System.Configuration.ConfigurationManager.AppSettings["siteName"] است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به Info&#64;<span>@System.Configuration.ConfigurationManager.AppSettings["serverName"]</span>.com
    اطلاع دهید.
</p>
                </div><div class="c-info-page__sub-section c-info-page__margin-top" id="privacy">
                    <h4 class="c-info-page__title"> سیاست‏‌های رعایت حریم شخصی</h4><p class="c-info-page__full-paragraph">
                        @System.Configuration.ConfigurationManager.AppSettings["siteName"] به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن
                        محافظت می‏‌کند.<br>
                        @System.Configuration.ConfigurationManager.AppSettings["siteName"] متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز
                        برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را، توسعه دهد. در واقع با استفاده از سایت
                        @System.Configuration.ConfigurationManager.AppSettings["siteName"]، شما رضایت خود را از این سیاست نشان می‏‌دهید.<br>
                        همه مطالب در دسترس از طریق هر یک از خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"]، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر،
                        ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط @System.Configuration.ConfigurationManager.AppSettings["siteName"] جزئی از
                        اموال @System.Configuration.ConfigurationManager.AppSettings["siteName"] محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار
                        @System.Configuration.ConfigurationManager.AppSettings["siteName"] است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای @System.Configuration.ConfigurationManager.AppSettings["siteName"] محفوظ
                        می‏‌دارد. علاوه بر این، اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده
                        توسط @System.Configuration.ConfigurationManager.AppSettings["siteName"] و علائم تجاری ثبت شده نیز در انحصار @System.Configuration.ConfigurationManager.AppSettings["siteName"] است و هر گونه استفاده با مقاصد
                        تجاری پیگرد قانونی دارد. کاربران مجاز به بهره‌‏برداری و استفاده از لیست محصولات، مشخصات فنی،
                        قیمت و هر گونه استفاده از مشتقات وب‏‌سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"] و یا هر یک از خدمات و یا مطالب، دانلود یا
                        کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند
                        جمع آوری داده‌‏ها و ابزارهای استخراج نیستند و کلیه این حقوق به صراحت برای @System.Configuration.ConfigurationManager.AppSettings["siteName"] محفوظ است.
                        در صورت استفاده از هر یک از خدمات @System.Configuration.ConfigurationManager.AppSettings["siteName"]، کاربران مسئول حفظ محرمانه بودن حساب و رمز عبور خود
                        هستند و تمامی مسئولیت فعالیت‌‏هایی که تحت حساب کاربری و یا رمز ورود انجام می‏‌پذیرد به عهده
                        کاربران است. @System.Configuration.ConfigurationManager.AppSettings["siteName"] محصولاتی مناسب استفاده افراد زیر 18 سال به فروش می‏‌رساند و در صورتی که
                        کاربران از سن ذکر شده جوان‌‏تر هستند می‌‏باید با اطلاع والدین و یا قیم قانونی، به خرید و پرداخت
                        اقدام کنند.<br>
                        تنها مرجع رسمی مورد تایید ما برای ارتباط با شما، پایگاه رسمی این سایت یعنی www.<span>@System.Configuration.ConfigurationManager.AppSettings["serverName"]</span>.com است.
                        ما با هیچ روش دیگری جز ارسال نامه از طرف آدرس‏‌های رسمی و تایید شده در سایت، با شما تماس
                        نمی‌‏گیریم. وب سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"] هیچگونه سایت اینترنتی با آدرسی غیر از www.<span>@System.Configuration.ConfigurationManager.AppSettings["serverName"]</span>.com و همچنین،
                        هیچ گونه وبلاگ و شناسه در برنامه‏‌های گفتگوی اینترنتی همچون Yahoo Messenger یا MSN Messenger و
                        غیره ندارد و هیچ ‏گاه با این روش‏‌ها با شما تماس نمی‏‌گیرد. کاربران جهت برقراری ارتباط، تنها
                        می‏‌توانند از آدرس‌‏های ذکر شده در بخش ارتباط با ما استفاده کنند.
                    </p>
                </div>
                <div class="c-info-page__sub-section c-info-page__margin-top" id="order">
                    <h4 class="c-info-page__title"> ثبت، پردازش و ارسال سفارش</h4><p class="c-info-page__full-paragraph">
                        - روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه
                        سفارش‏‌های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند. @System.Configuration.ConfigurationManager.AppSettings["siteName"] به
                        مشتریان خود در 7 روز هفته و 24 ساعت در روز امکان سفارش‌‏گذاری می‌‏دهد.<br>
                        - کلیه سفارش‌‏های ثبت شده در سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"] به وسیله ارسال کد سفارش از طریق پیام کوتاه و پیش
                        فاکتور از طریق ایمیل، در صف پردازش قرار می‏‌گیرند. @System.Configuration.ConfigurationManager.AppSettings["siteName"] همواره در ارسال و تحویل کلیه
                        سفارش‌‏های ثبت شده، نهایت دقت و تلاش خود را انجام می‌دهد. با وجود این، در صورتی که موجودی محصولی
                        در @System.Configuration.ConfigurationManager.AppSettings["siteName"] به پایان برسد، حتی پس از اقدام مشتری به سفارش‌‏گذاری، حق کنسل کردن آن سفارش و یا
                        استرداد وجه سفارش برای @System.Configuration.ConfigurationManager.AppSettings["siteName"] محفوظ است و یا مشتری می‏‌تواند به جای کالای به اتمام رسیده،
                        محصول دیگری را جایگزین کند.<br>
                        - در صورت بروز مشکل در پردازش نهایی سبد خرید مانند اتمام موجودی کالا یا انصراف مشتری، مبلغ
                        پرداخت شده طی 24 الی 48 ساعت کاری به <a class="btn-link-spoiler" href="/faq/question/81/#customer-account">
                            حساب
                            مشتری
                        </a> واریز خواهد شد.<br>
                        - @System.Configuration.ConfigurationManager.AppSettings["siteName"] مجاز است بدون اطلاع قبلی نسبت به توقف سفارش‌‏گیری جدید، اقدام و فروش خود را متوقف
                        کند و کلیه سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال می‌‏شود. حق قطع فروش کلیه
                        و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای @System.Configuration.ConfigurationManager.AppSettings["siteName"] محفوظ
                        است.<br>
                        - در صورت بروز هرگونه خطا نسبت به درج قیمت و ارزش ریالی کالاهای موجود در سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"]، حق بلا اثر نمودن سفارش و خرید انجام شده توسط مشتری، برای @System.Configuration.ConfigurationManager.AppSettings["siteName"] محفوظ است. @System.Configuration.ConfigurationManager.AppSettings["siteName"] در اسرع وقت وجوه دریافتی را طی 24 الی 48 ساعت کاری به <a class="btn-link-spoiler" href="/faq/question/81/#customer-account">
                            حساب
                            اعلام شده توسط مشتری
                        </a> واریز و عودت می‌نماید و مشتری با ورود به سایت @System.Configuration.ConfigurationManager.AppSettings["siteName"] می‌پذیرد از این امر آگاهی داشته و در این خصوص ادعایی نخواهد داشت.
                        <br>
                        - کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل
                        کنند. بدیهی است درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود.
                        بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت
                        آنها است و در صورتی که این موارد به صورت صحیح یا کامل درج نشده باشد، @System.Configuration.ConfigurationManager.AppSettings["siteName"] جهت اطمینان از
                        صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.همچنین، مشتریان
                        می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و اگر مبلغ سفارش از پیش
                        پرداخت شده باشد، تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی همراه داشته باشد.<br>
                        - کاربری هر مشتری شامل نام و نام خانوادگی باید با اطلاعات مدارک شناسایی مطابقت داشته باشد و در صورت عدم تطابق، فروشگاه‌‌های اینترنتی مجاز به ارائه خدمات به این گروه از مشتریان نخواهد بود. لذا خریداران محترم می بایست با ارائه تصویر کارت ملی خود و خرید از طریق کارت بانکی متعلق به شخص خریدار که با هویت سفارش دهنده در تطابق می باشد، اقدام به ثبت سفارش نمایند.
                        <br>
                        لازم به ذکر است که این امر به منظور جلوگیری از سواستفاده‌های احتمالی و مواردی نظیر جلوگیری از خرید با کارت‌های سرقت شده و موارد مشابه در نظر گرفته شده است.
                        <br>
                        - با توجه به ثبت سیستمی سفارش، به هیچ عنوان امکان صدور فاکتور مجدد یا تغییر مشخصات آن از جمله
                        تغییر فاکتوری که به نام شخص حقیقی صادر شده، به نام شخص حقوقی وجود ندارد. بنابراین لازم است
                        مشتریان هنگام ثبت سفارش، نسبت به این مساله دقت لازم را داشته باشند و اگر نیاز دارند که فاکتور به
                        نام حقوقی برای آنها صادر شود، هنگام ثبت سفارش خود، با انتخاب گزینه " تکمیل اطلاعات حقوقی " و
                        وارد کردن مشخصات سازمان موردنظر، برای خرید سازمانی و دریافت فاکتور رسمی اقدام کنند.<br>
                        همچنین آدرسی که خریدار به عنوان آدرس تحویل‌گیرنده ثبت یا انتخاب می‌کند، در فاکتور درج خواهد شد و
                        لازم است درخواست کنندگان فاکتور به نام شخص حقوقی هنگام ثبت سفارش به این نکته توجه کافی داشته
                        باشند، چرا که تغییر آدرس درج شده روی فاکتور پس از پردازش و تایید سفارش، به هیچ عنوان امکان‌پذیر
                        نخواهد بود.<br>
                        - امکان پرداخت در محل برای سفارش‌هایی که از طریق باربری ارسال می‌شوند یا مبلغ آنها بیشتر از سی
                        میلیون ریال است، وجود ندارد و لازم است پیش از ارسال، مبلغ اینگونه سفارش‌ها از طریق پرداخت کارت
                        به کارت یا پرداخت اینترنتی تسویه شود.<br>
                        - از آنجا که @System.Configuration.ConfigurationManager.AppSettings["siteName"] یک وب‌سایت خرده‌فروشی آنلاین است، سفارش یک کالا به تعداد بالا، مغایر با
                        هدف
                        مصرف خریدار است، در صورت ثبت این مورد و یا سفارشاتی که با تعداد اقلام بالایی همراه هستند، لازم
                        است پیش از ارسال، سفارش مشتریان ابتدا توسط @System.Configuration.ConfigurationManager.AppSettings["siteName"] بررسی و در صورت تایید، پردازش گردد. در این
                        موارد پرداخت وجه و تسویه، قبل از ارسال کالا الزامی است؛ درغیر اینصورت سفارشات با هماهنگی مشتری
                        کنسل شده و در صورت واریز وجه، مبلغ پرداخت شده طی 24 الی 48 ساعت کاری به <a class="btn-link-spoiler" href="/faq/question/81/#customer-account">
                            حساب
                            مشتری
                        </a> عودت داده خواهد شد.<br>
                        - تحویل سفارش در اماکن عمومی همچون کافه، کافی نت، رستوران، هتل و مانند آن امکان‌پذیر نیست و لازم
                        است آدرس تحویل، دقیق و قابل استناد باشد<br>
                        - در صورت خرید اعتباری (استفاده از کد تخفیف یا ووچر) پس از نهایی شدن سبد، از نظر قانونی امکان
                        اعمال تغییر در سبد خرید، و تغییر مبلغ فاکتور به دلایل انصراف از خرید، حذف یا تغییر کالا یا تعداد
                        کالا وجود ندارد و اگر مشتری درخواست هرگونه تغییری را داشته باشد، ووچر یا کد تخفیف باطل خواهد شد
                        و امکان برگرداندن مبلغ آن وجود ندارد.<br>
                        - در رابطه با سرویس تحویل اکسپرس فروشگاه اینترنتی @System.Configuration.ConfigurationManager.AppSettings["siteName"]، سفارش درب اصلی ساختمان (منتهی به
                        خیابان) تحویل داده می‌شود.<br>
                        - لازم به ذکر است افزودن کالا به سبد خرید به معنی رزرو کالا نیست و هیچ گونه حقی را برای مشتریان
                        ایجاد نمی‌کند. همچنین تا پیش از ثبت نهایی، هرگونه تغییر از جمله تغییر در موجودی کالا یا قیمت،
                        روی کالای افزوده شده به سبد خرید اعمال خواهد شد. بنابراین به مشتریانی که تمایل و تصمیم به خرید
                        قطعی دارند، به‌ویژه درباره کالاهای ارائه شده تحت عنوان شگفت‌انگیز که دارای محدودیت تعداد هستند،
                        توصیه می‌شود در اسرع وقت سفارش خود را نهایی کنند تا با اتمام موجودی یا تغییر قیمتی کالاها روبرو
                        نشوند. شایان ذکر است سفارش تنها زمانی نهایی می‌شود که کاربران کد سبد خرید (dkc) سفارش خود را
                        دریافت کنند و بدیهی است که @System.Configuration.ConfigurationManager.AppSettings["siteName"] هیچ‌گونه مسوولیتی نسبت به کالاهایی که در سبد خرید رها شده
                        است، ندارد.
                    </p>
                </div>
             
           
                <div class="c-info-page__sub-section c-info-page__margin-top" id="comments">
                    <h4 class="c-info-page__title"> نظرات کاربران</h4><p class="c-info-page__full-paragraph">
                        هدف از ایجاد بخش نظرات در @System.Configuration.ConfigurationManager.AppSettings["siteName"]، اشتراک‌گذاری تجربه‌ی
                        خرید و کاربری محصولاتی است که به فروش می‌رسد. بدیهی است بخش نظرات @System.Configuration.ConfigurationManager.AppSettings["siteName"] با دیگر سایت‌ها و
                        شبکه‌های اجتماعی متفاوت است. در این بخش، هر کاربر مجاز است در چهارچوب شرایط و قوانین سایت، نظرات
                        خود را به اشتراک بگذارد و پس از بررسی کارشناسان تایید، نظرش را روی سایت مشاهده کند. بدیهی است که
                        اگر قوانین سایت در نظرات کاربری رعایت نشود، تایید نمی‌شوند و در نتیجه در سایت به نمایش
                        درنمی‌آیند. @System.Configuration.ConfigurationManager.AppSettings["siteName"] در قبال درستی یا نادرستی نظرات منتشرشده در این قسمت، هیچ‌گونه مسئولیتی
                        ندارد. نمایش نظرات کاربران در سایت به‌هیچ‌وجه به معنی تایید فنی @System.Configuration.ConfigurationManager.AppSettings["siteName"] درباره‌ی محتویات نظر
                        نیست؛ لذا از کاربران محترم تقاضا می‌شود، نظرات را اصل و پایه‌ی انتخاب و تصمیم‌گیری خود قرار
                        ندهند.
                    </p><h6>شرایط و قوانین درج نظر در بخش نظرات کاربران</h6><p class="c-info-page__full-paragraph">
                        ۱. فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از
                        فضای خالی (Space) بیش از حد معمول، کشیدن حروف یا کلمات، استفاده‌ی مکرر از یک حرف یا کلمه، شکلک و
                        اموجی در متن خودداری کنید.<br>
                        ۲. برای نظر یا نقد و بررسی خود عنوانی متناسب با متن انتخاب کنید. یک عنوان خوب کاربران را برای
                        خواندن نظر شما ترغیب خواهد کرد.<br>
                        ۳. نقد کاربران باید شامل قوت‌ها و ضعف‌های محصول در استفاده‌ی عملی و تجربه‌ی شخصی باشد و مزایا و
                        معایب به‌صورت خلاصه و تیتروار در محل تعیین‌شده درج شود. لازم است تا حد ممکن از مبالغه و
                        بزرگ‌نمایی مزایا یا معایب محصول خودداری کنید.<br>
                        ۴. نقد مناسب، نقدی است که فقط معایب یا فقط مزایا را در نظر نگیرد؛ بلکه به‌طور واقع‌بینانه معایب
                        و مزایای هر محصول را در کنار هم بررسی کند.<br>
                        ۵. با توجه به تفاوت در سطح محصولات مختلف و تفاوت عمده در قیمت‌های آن‌ها، لازم است نقد و بررسی هر
                        محصول با توجه به قیمت آن صورت گیرد؛ نه به‌صورت مطلق.<br>
                        ۶. جهت احترام‌گذاشتن به وقت بازدیدکنندگان سایت، لازم است هنگام نوشتن نقد، مطالب غیرضروری را حذف
                        کرده و فقط مطالب ضروری و مفید را در نقدتان لحاظ کنید.<br>
                        ۷. با توجه به ساختار بخش نظرات، از سوال‌کردن یا درخواست راهنمایی در این بخش خودداری کرده و سوال
                        یا درخواست راهنمایی خود را در بخش پرسش و پاسخ مطرح کنید.<br>
                        ۸. کاربران ارسال‌کننده‌ی نظر موظف‌اند از ادبیات محترمانه استفاده کرده و از توهین به دیگر کاربران
                        یا سایر افراد پرهیز کنند. بدیهی است هرگونه توهین به فرد یا افراد و استفاده از کلمات نامناسب،
                        باعث تاییدنشدن نظر کاربر می‌شود.<br>
                        ۹. قسمت نظرات سایت، با تالارهای گفت‌وگو (فروم) متفاوت است؛ لذا برای حفظ ساختار، مباحث خارج از
                        چهارچوبی که حالت بحث و گفت‌وگو دارد، تایید نخواهد شد.<br>
                        ۱۰. تمام کاربران حق دارند نظرات خود را به شرط رعایت قوانین، در سایت منتشر کنند؛ لذا حتی اگر نظری
                        را به دور از واقعیت، جانب‌دارانه یا اشتباه یافتید، نباید نظردهنده را مخاطب قرار دهید یا از وی
                        انتقاد کنید. هر کاربر تنها می‌تواند نظر خود را عنوان کرده و قضاوت را به خوانندگان نظرات واگذار
                        کند.<br>
                        ۱۱. از طریق نمودار تغییر قیمت در سایت می‌توانید از تغییرات قیمت آگاه شوید؛ لذا به‌هیچ‌وجه در بخش
                        نظرات مبلغ «قیمت» را ذکر نکرده، درباره‌ی آن سؤال نکنید و نظری ندهید.<br>
                        ۱۲. در نظرات خود، از بزرگ‌نمایی یا اغراق درباره‌ی قوت‌ها یا ضعف‌های محصول خودداری کنید. بدیهی
                        است تا حد ممکن هرگونه نظر مبالغه‌آمیز یا به دور از واقعیت تایید نخواهد شد.<br>
                        ۱۳. با توجه به مسئولیت سایت در قبال لینک‌های موجود در آن، نباید لینک سایت‌های دیگر را در نظرات
                        خود ثبت کنید. دقت داشته باشید تا جای ممکن از هرگونه لینک‌دادن (فرستادن) دیگر کاربران به سایت‌های
                        دیگر و درج ایمیل یا نام کاربری شبکه‌های اجتماعی خودداری کنید.<br>
                        ۱۴. تنها نظراتی تایید خواهند شد که مرتبط با محصول موردنظر باشند؛ لذا بحث‌های متفرقه و غیرمرتبط
                        با محصول را مطرح نکنید.<br>
                        ۱۵. کاربران می‌توانند نقد خود به هر بخش از @System.Configuration.ConfigurationManager.AppSettings["siteName"] را در قسمت مربوط اعلام کنند؛ لذا هیچ‌گونه
                        نقدی را درباره‌ی سایت یا خدمات آن در قسمت نظرات ننویسید.<br>
                        ۱۶. توجه داشته باشند، مسائلی را که از آن اطمینان ندارید، به‌هیچ‌وجه در نظرات ثبت نکنید؛ همچنین
                        از بازنشر شایعات یا اطلاعات غیرمطمئن درباره‌ی محصولات جدا خودداری کنید.<br>
                        ۱۷. بهتر است مطالبی در این بخش ثبت شود که برای بازدیدکنندگان سایت مفید باشد؛ لذا از بیان هرگونه
                        مطالب شخصی، غیرمرتبط یا غیرضروری در این بخش پرهیز کنید.<br>
                        ۱۸. لازم است نظرات خود را به صورت نگارشی ثبت کرده و از کوتاه‌کردن کلمات یا استفاده از ادبیات
                        محاوره تا جای ممکن خودداری کنید. استفاده از ادبیات نوشتاری که قابلیت نمایش در سایت را داشته
                        باشد، لازمه‌ی تایید نظرات کاربران است.
                        <br>
                        ۱۹. کامنت هایی که با عرف جامعه مغایر هستند مثل کامنت های کالاهای جنسی تایید نخواهند شد.
                    </p>
                    
                </div>
            
             
                <div class="c-info-page__sub-section c-info-page__margin-top" id="law">
                    <h4 class="c-info-page__title"> قوه قهریه</h4><p class="c-info-page__full-paragraph">
                        تمامی شرایط و قوانین مندرج، در شرایط عادی قابل اجرا است و در صورت بروز هرگونه از موارد قوه
                        قهریه، @System.Configuration.ConfigurationManager.AppSettings["siteName"] هیچ گونه مسئولیتی ندارد.<br>
                        @System.Configuration.ConfigurationManager.AppSettings["siteName"] خود را ملزم به رعایت حریم شخصی کاربران می‌داند، لطفا در صورت مشاهده هرگونه تخلف، مراتب
                        را از طریق کانال‏‌های ارتباطی ذکر شده با ما در میان بگذارید.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
