
@model List<banimo.ViewModePost.Newest>
<div class="owl-carousel owl-theme newItems">
    @foreach (var item in Model)
    {
        string addID = "addtocarto" + item.ID;
        string minusID = "minus" + item.ID;
        string imagefile = "placeholder.jpg";
        if (item.title != null)
        {
            imagefile = item.image;
        }
        string ID = "N" + item.ID.ToString();
        string addtocartid = "addtocart" + ID;
        string price = item.price;

        string src = imagefile;
        <div class="showmedetailFirstDiv showmedetailx" >
            <div style="padding:15px">

                <a href="/Home/ProductDetail?id=@ID">
                    <div class="imageholderindex">
                        <img style="border-radius:10px" class="imageitself" src="@src" />
                    </div>
                </a>

                <div class="titleholder">
                    @{
                        if (@System.Configuration.ConfigurationManager.AppSettings["numberType"] == "1")
                        {
                            <h5  class="numEn"> @item.title</h5>
                        }
                        else
                        {
                            <h5 style="color:black">@item.title</h5>
                        }

                    }
                </div>
                @if (@System.Configuration.ConfigurationManager.AppSettings["bigDetail"] == "1")
                {
                    string valueID = "value" + item.ID;
                    <div class="addholder" style="margin:5px;text-align:center">
                        <i id="@minusID" class="fa fa-minus-circle value-minus" style=" border: none;  font-size: 22px; color: #36CDDF;height:20px "></i>
                        <div class="entry value @valueID " style=";height:20px;margin:0; border:0px; padding:0; width:10px"><span>0</span></div>
                        <i id="@addID" class="fa fa-plus-circle value-plus" style="border: none;  font-size: 22px; color: #36CDDF;height:20px "></i>
                    </div>

                }
                <div style="margin-top:10px">
                    @{
                        if (item.isAvailable == "0")
                        {
                            <div class="c-product-box__row c-product-box__row--price"><div class="c-price"><div class="c-price__value c-price__value--plp"></div></div><div class="c-promotion-box__cover c-promotion-box__cover--out-of-stock"><div class="c-promotion-box__cover-text js-product-status">ناموجود</div></div></div>
                        }
                        else
                        {
                            if (item.price == "0")
                            {
                                <div class="row" style="margin:0px 15px;min-height: 49px;margin-top: 40px;">
                                    <p style="display:inline-block"> تماس بگیرید</p>
                                </div>
                            }
                            else
                            {
                                <div style="display:flex; align-items:center; margin-top:40px">
                                    <div style="width:20%;margin-right:5px">
                                        @if (@item.discount != "0")
                                        {
                                            <span style="color: white;font-size:18px;font-weight:600;background-color: red;border-radius: 15px;padding: 5px 10px;">
                                                @item.discount%
                                            </span>
                                        }

                                    </div>
                                    <div style="flex:1">
                                        <div>
                                            <div class="" style="margin:0px 15px; min-height:20px;text-align:left">
                                                <div class="">
                                                    <div class="">
                                                        @if (item.price != item.oldPrice)
                                                        {
                                                            <p style="display: inline-block; "> تومان </p> <del style="font-size:15px"> @string.Format("{0:n0}", Convert.ToInt32(@item.oldPrice)) </del>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin:0px 15px; text-align:left">
                                                <p style="display: inline-block; color: black"> تومان </p> <p style="color:black; display:inline-block;font-size:20px; font-weight:600">@string.Format("{0:n0}", Convert.ToInt32(@item.price))</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    }


                </div>
            </div>
        </div>
        @*<div class="item">
                <div>
                <img src="@item.image" />
                </div>
            </div>*@
    }



</div>