@*this is test comment*@
@using System.Text.RegularExpressions;
@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="fa">
@{

    // symondigital


    string logo = TempData["logo"] as string;
    string phone = TempData["phone"] as string;
    string analyticID = TempData["analyticID"] as string;
    TempData.Keep("phone");
    TempData.Keep("logo");
    TempData.Keep("analyticID");


    <head>

        <script async src="https://www.googletagmanager.com/gtag/js?id=@analyticID"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', '@analyticID');
        </script>

        <meta charset="utf-8" />

        <title>@ViewBag.Title </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="csrf-token" content="gpcZ7H8824yAsjCfBZkCggM2FXcCFhJJXVdA4yIJ">
        <meta http-equiv="refresh" content="172800">

        <meta name="description" content=" @System.Configuration.ConfigurationManager.AppSettings["description"] " />
        <meta name="keywords" content=" @System.Configuration.ConfigurationManager.AppSettings["keywords"] " />
        <meta http-equiv="content-language" content="fa" />

        <!-- Mobile Specific Metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" sizes="192x192" href="nice-highres.png">
        <style>
            #loading {
                align-content: center;
                background: #fff;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999999;
                opacity: 1;
                margin: 0 auto;
            }
        </style>


        <title>  </title>
        <link rel="stylesheet" href="/versionAsset/omirom/css/critical.css?id=8eb481d8fb8c76cc4f74">
        <link rel="stylesheet" href="/versionAsset/omirom/css/bootstrap.rtl.min.css">

        <link rel="stylesheet" href="/versionAsset/omirom/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/versionAsset/omirom/css/animate.min.css">



        @RenderSection("HeadIncludes", required: false)
        <link href="~/Content/toastr.css" rel="stylesheet" />
        
        <!--فایل jquery-->
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    </head>

    <body id="body" class="rtl has-top-banner home-page-route ">





        <div id="home-page-wrapper">
            <div class="animate__animated animate__fadeOut animate__faster bg-modal-wrapper bg-modal-wrapper-menu-products"
                 id="bg-modal-wrapper-menu">
            </div>
            <div class="position-relative">
                <script async src=""></script>
                <script>
                    window.dataLayer = window.dataLayer || [];

                    function gtag() {
                        dataLayer.push(arguments);
                    }

                    gtag('js', new Date());

                    gtag('config', 'UA-80066529-1');
                </script>
                <div id="header-box">
                    <div class="top-header-banner-wrapper">
                        <a href="#"
                           class="top-header-banner d-block d-sm-none" target="_blank" dideo-checked="true">
                            <img alt="header-xiaomi-band-7.jpg" class="banner"
                                 src="~/versionAsset/omirom/image/F78ruLX3WIFTuGsBfyOVWXnqNlNtXVY8plEO1Efy.webp">
                        </a>

                        <a href="#"
                           class="top-header-banner d-none d-sm-block" target="_blank" dideo-checked="true">
                            <img alt="header-xiaomi-band-7.jpg" class="banner"
                                 src="~/versionAsset/omirom/image/SbTEtD0XBSblouaHlyAikw4B1ZGEhH1y0GE9jyCQ.webp">
                        </a>

                    </div>
                    <header id="header" class="xp-0">
                        <div class="container position-relative">
                            <div id="header-wrapper-menu" class="header-wrapper animate__animated animate__faster">
                                <div class="d-none d-lg-block">
                                    <nav class="links-text">
                                        <ul class="nav list-unstyled" style="align-items:center">
                                            <li class="nav-item logo-header">
                                                <a href="/Home" dideo-checked="true">
                                                    <i class="icon ">
                                                        <img style="width:70px" src="~/images/logo.png" />
                                                    </i>
                                                </a>
                                            </li>
                                            <li id="products-header" class="nav-item products-header">
                                                <span>
                                                    <i class="icon ">
                                                        <!-- Generated by IcoMoon.io -->
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 128 128">

                                                            <path fill="currentColor" d="M58.667 58.667h-37.333v-37.333h37.333v37.333zM32 32v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor" d="M58.667 106.667h-37.333v-37.333h37.333v37.333zM32 80v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor" d="M106.667 58.667h-37.333v-37.333h37.333v37.333zM80 32v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor" d="M106.667 106.661h-37.333v-37.333h37.333v37.333zM80 79.995v0 16h16v-16h-16z"></path>
                                                        </svg>

                                                    </i>
                                                    محصولات
                                                    <i class="icon ">
                                                        <svg class="down-icon-header" id="ic_expand_more" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24">
                                                            <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                            <path id="path" d="M16.6,8.6,12,13.2,7.4,8.6,6,10l6,6,6-6Z" transform="translate(0 -0.6)" fillrule="evenodd"></path>
                                                        </svg>

                                                    </i>
                                                </span>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/home/mag"
                                                   dideo-checked="true">
                                                    <i class="icon ">
                                                        <!-- Generated by IcoMoon.io -->
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24"
                                                             viewBox="0 0 128 128">

                                                            <path fill="currentColor"
                                                                  d="M21.333 74.667h85.333v10.667h-85.333v-10.667z"></path>
                                                            <path fill="currentColor"
                                                                  d="M53.333 96h53.333v10.667h-53.333v-10.667z"></path>
                                                            <path fill="currentColor"
                                                                  d="M106.667 64h-85.333v-42.667h85.333v42.667zM32 32v21.333h64v-21.333z"></path>
                                                        </svg>

                                                    </i>
                                                    وبلاگ
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="/home/contactUs"
                                                   dideo-checked="true">
                                                    <i class="icon ">
                                                        <!-- Generated by IcoMoon.io -->
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24"
                                                             viewBox="0 0 128 128">

                                                            <path fill="currentColor"
                                                                  d="M21.333 74.667h85.333v10.667h-85.333v-10.667z"></path>
                                                            <path fill="currentColor"
                                                                  d="M53.333 96h53.333v10.667h-53.333v-10.667z"></path>
                                                            <path fill="currentColor"
                                                                  d="M106.667 64h-85.333v-42.667h85.333v42.667zM32 32v21.333h64v-21.333z"></path>
                                                        </svg>

                                                    </i>
                                                    تماس با ما
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>


                                <div class="d-block d-lg-none">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div id="button-burger-menu" class="burger-menu xml-5">
                                            <i class="icon ">
                                                <!-- Generated by IcoMoon.io menu -->
                                                <svg id="ic_menu" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24">
                                                    <rect id="Rectangle" width="24" height="24" fill="none"></rect>
                                                    <rect id="Rectangle_146403" data-name="Rectangle 146403" width="16"
                                                          height="2"
                                                          transform="translate(4 11)"></rect>
                                                    <rect id="Rectangle_146404" data-name="Rectangle 146404" width="16"
                                                          height="2"
                                                          transform="translate(4 16)"></rect>
                                                    <rect id="Rectangle_146405" data-name="Rectangle 146405" width="16"
                                                          height="2"
                                                          transform="translate(4 6)"></rect>
                                                </svg>

                                            </i>
                                        </div>
                                        <div class="logo">
                                            <a href="/">
                                                <img width="70" src="/images/logo.png" />
                                            </a>

                                        </div>
                                    </div>
                                </div>


                                <div class="icons-header">
                                    <ul class="nav list-unstyled">
                                        <li id="search-icon-header" class="nav-item search-icon-header">
                                            <i class="icon ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                     viewBox="0 0 40 40">
                                                    <rect id="Rectangle_1608" data-name="Rectangle 1608" width="40" height="40"
                                                          rx="20" fill="none"></rect>
                                                    <g id="ic_search" transform="translate(8 8)">
                                                        <rect id="Rectangle" width="24" height="24" fill="none"></rect>
                                                        <path id="Subtraction_3" data-name="Subtraction 3"
                                                              d="M-10007,16a8.009,8.009,0,0,1-8-8,8.009,8.009,0,0,1,8-8,8.009,8.009,0,0,1,8,8A8.009,8.009,0,0,1-10007,16Zm0-14a6.006,6.006,0,0,0-6,6,6.006,6.006,0,0,0,6,6,6.008,6.008,0,0,0,6-6A6.008,6.008,0,0,0-10007,2Z"
                                                              transform="translate(10018.001 3)"></path>
                                                        <rect id="Rectangle_146346" data-name="Rectangle 146346" width="2"
                                                              height="8" transform="translate(14.536 15.95) rotate(-45)"></rect>
                                                    </g>
                                                </svg>
                                            </i>
                                        </li>
                                        <li class="nav-item cart-header">
                                            <a href="/Home/checkout" dideo-checked="true">
                                                <i class="icon ">
                                                    <svg id="ic_cart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24">
                                                        <rect id="Rectangle" width="24" height="24" fill="none"></rect>
                                                        <path id="Path_573" data-name="Path 573"
                                                              d="M18,6H16A4,4,0,0,0,8,6H6A2.006,2.006,0,0,0,4,8V20a2.006,2.006,0,0,0,2,2H18a2.006,2.006,0,0,0,2-2V8A2.006,2.006,0,0,0,18,6ZM12,4a2.006,2.006,0,0,1,2,2H10A2.006,2.006,0,0,1,12,4Zm6,16H6V8H8v2a1,1,0,0,0,2,0V8h4v2a1,1,0,0,0,2,0V8h2Z"></path>
                                                    </svg>

                                                </i>
                                                <span class="simpleCart_quantityy priceItem"></span>
                                            </a>

                                        </li>
                                        <li class="nav-item login-header position-relative">
                                            <div class="d-none d-lg-block log-in-btn-toggle" id="log-in-btn-toggle">
                                                <span>ورود </span>
                                                <i class="icon ">
                                                    <svg class="down-icon-log-in" id="ic_expand_more"
                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24">
                                                        <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                        <path id="path" d="M16.6,8.6,12,13.2,7.4,8.6,6,10l6,6,6-6Z"
                                                              transform="translate(0 -0.6)" fillrule="evenodd"></path>
                                                    </svg>

                                                </i>
                                            </div>
                                            <div class="d-block d-lg-none login-button-responsive-header log-in-btn-toggle-responsive"
                                                 id="log-in-btn-toggle-responsive">

                                                <img src="~/images/user.png" alt="user"
                                                     class="img-fluid">
                                            </div>
                                            <div id="log-in">
                                                <div id="toggle-log-in"
                                                     class="log-in-toggle position-absolute xp-4 animate__fadeOut_login">
                                                    <div class="close-log-in position-absolute" id="close-log-in">
                                                        <i class="icon ">
                                                            <svg id="ic_expand_close" xmlns="http://www.w3.org/2000/svg"
                                                                 width="24"
                                                                 height="24" viewBox="0 0 24 24">
                                                                <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                                <path id="path"
                                                                      d="M19,6.4,17.6,5,12,10.6,6.4,5,5,6.4,10.6,12,5,17.6,6.4,19,12,13.4,17.6,19,19,17.6,13.4,12Z"
                                                                      fillrule="evenodd"></path>
                                                            </svg>

                                                        </i>
                                                    </div>

                                                    @{
                                                        banimo.ViewModel.userdata userApp = Session["LogedInUser"] as banimo.ViewModel.userdata;

                                                        if (userApp != null)
                                                        {
                                                            <div class="sign-in-up log-in-wrapper">
                                                                <div id="phone-login-page">
                                                                    <div class="title xmb-5 xpx-2">
                                                                        @userApp.fullname
                                                                    </div>
                                                                    <div class="button-log-in xmb-6 xmb-md-8">
                                                                        <a href="/Home/myprofile?type=1">
                                                                            <button id="button-phone-login-page">

                                                                                پروفایل
                                                                            </button>
                                                                        </a>
                                                                       
                                                                    </div>
                                                                    <div class="button-log-in xmb-6 xmb-md-8">

                                                                        <button id="button-phone-login-page">
                                                                            سفارشات
                                                                        </button>


                                                                    </div>



                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="sign-in-up log-in-wrapper">
                                                                <div id="phone-login-page">
                                                                    <div class="title xmb-5 xpx-2">
                                                                        به عمیروم خوش آمدید
                                                                    </div>
                                                                    <div class="button-log-in xmb-6 xmb-md-8">
                                                                        <button id="loginbypassword">
                                                                            ورود /ثبت نام با رمز عبور
                                                                        </button>
                                                                    </div>
                                                                    <div class="button-log-in xmb-6 xmb-md-8">
                                                                        <button id="loginbysms">
                                                                            ورود با رمز یکبار مصرف
                                                                        </button>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        }
                                                    }



                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                            @{
                                List<banimo.ViewModel.Catsdata> menumodel = JsonConvert.DeserializeObject<List<banimo.ViewModel.Catsdata>>(ViewBag.MenuViewModel);

                                <div class="d-none d-lg-block">
                                    <div id="dropdown-box-header"
                                         class="animate__animated animate__fadeOut animate__faster header-menu-dropdown xpt-4 position-absolute">
                                        <nav class="icon-links-header xpr-4 xpl-4 position-relative">
                                            <div class="swiper header-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">


                                                <ul class="swiper-wrapper nav nav-tabs" id="myTab" role="tablist" aria-live="polite" style="transition-duration: 0ms;">

                                                    @foreach (var item in menumodel.First().mycatcollection)
                                                    {
                                                        string navID = "nav-" + item.ID;
                                                        string target = "#" + navID;
                                                        int index = menumodel.First().mycatcollection.IndexOf(item);
                                                        string classname = index == 0 ? "active" : "";
                                                        string labelledby = "nav-" + item.ID + "-tab";
                                                        string srtcat = "1" + item.ID;
                                                        <li class="nav-item swiper-slide" role="">
                                                            <a href="/Home/ProductList?catmode=@srtcat" class="nav-link @classname" id="@labelledby" data-bs-toggle="tab"
                                                               data-bs-target="@target" role="tab" aria-controls="@navID"
                                                               aria-selected="true" dideo-checked="true">
                                                                <i class="icon " style="background:none !important">
                                                                    <!-- Generated by IcoMoon.io -->
                                                                    <img style="width:150px" src="~/images/@item.image" />
                                                                    @*<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40"
                                                                         height="40" viewBox="0 0 128 128">

                                                                        <path fill="currentColor"
                                                                              d="M82.667 5.333h-42.667c-7.364 0-13.333 5.97-13.333 13.333v0 90.667c0 7.364 5.97 13.333 13.333 13.333v0h42.667c7.364 0 13.333-5.969 13.333-13.333v0-90.667c0-7.364-5.969-13.333-13.333-13.333v0zM61.333 117.333c-4.418 0-8-3.582-8-8s3.582-8 8-8c4.418 0 8 3.582 8 8v0c0 4.418-3.582 8-8 8v0zM85.333 96h-48v-74.667h48z"></path>
                                                                    </svg>*@

                                                                </i>
                                                                @item.title
                                                            </a>
                                                        </li>
                                                    }


                                                </ul>
                                                <div class="more-icon-header-slider-next">
                                                    <a href="#" class="link-header-button-next" tabindex="0" role="button"
                                                       aria-label="Next slide" aria-controls="myTab" aria-disabled="false"
                                                       dideo-checked="true">
                                                        <i class="icon ">
                                                            <!-- Generated by IcoMoon.io -->
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24"
                                                                 viewBox="0 0 128 128">

                                                                <path fill="currentColor"
                                                                      d="M82.133 39.467l-7.467-7.467-32 32 32 32 7.467-7.467-24.533-24.533z"></path>
                                                            </svg>

                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="more-icon-header-slider-prev">
                                                    <a href="#" class="link-header-button-prev" tabindex="0" role="button"
                                                       aria-label="Previous slide" aria-controls="myTab" aria-disabled="false"
                                                       dideo-checked="true">
                                                        <i class="icon ">
                                                            <!-- Generated by IcoMoon.io -->
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24"
                                                                 viewBox="0 0 128 128">

                                                                <path fill="currentColor"
                                                                      d="M82.133 39.467l-7.467-7.467-32 32 32 32 7.467-7.467-24.533-24.533z"></path>
                                                            </svg>

                                                        </i>
                                                    </a>
                                                </div>
                                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                            </div>
                                        </nav>

                                        <nav class="list-links-header">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-9 col-xxl-10 tab-content" id="nav-tabContent">

                                                        @foreach (var item in menumodel.First().mycatcollection)
                                                        {
                                                            string finaltarget = "nav-" + item.ID;
                                                            string labelledby = "nav-" + item.ID + "-tab";
                                                            int index = menumodel.First().mycatcollection.IndexOf(item);
                                                            string classname = index == 0 ? "show active" : "";


                                                            <div class="links-header tab-pane fade @classname" id="@finaltarget"
                                                                 role="tabpanel"
                                                                 aria-labelledby="@labelledby">
                                                                <div class="row">

                                                                    <div class="col-lg-12 px-0">

                                                                        <ul class="list-unstyled" style="display: flex; flex-direction: column;max-height: 200px;flex-wrap: wrap;">

                                                                            @{
                                                                                List<banimo.ViewModel.Mysubcatcollection> sublist = menumodel.First().mysubcatcollection.Where(x => x.CatID == item.ID).ToList();
                                                                            }
                                                                            @foreach (var subcat in sublist)
                                                                            {
                                                                                string subindexactive = sublist.IndexOf(subcat) == 0 ? "active" : "";
                                                                                string srtcat = "2" + subcat.ID;
                                                                                <li>
                                                                                    <a style="font-weight" href="/Home/ProductList?catmode=@srtcat"
                                                                                       class="@subindexactive" dideo-checked="true">
                                                                                        @subcat.title
                                                                                    </a>
                                                                                </li>
                                                                                foreach (var subcat2 in menumodel.First().mysubcatcollection2)
                                                                                {
                                                                                    if (subcat2.subcatid == subcat.ID)
                                                                                    {
                                                                                        string srtcat2 = "3" + subcat.ID;
                                                                                        <li>
                                                                                            <a href="/Home/ProductList?catmode=@srtcat2"
                                                                                               class="" dideo-checked="true">
                                                                                                &nbsp;----&nbsp;@subcat2.title
                                                                                            </a>
                                                                                        </li>
                                                                                    }
                                                                                }


                                                                            }


                                                                        </ul>
                                                                    </div>




                                                                </div>
                                                            </div>

                                                        }

                                                        <div class="links-header tab-pane fade " id="nav-24" role="tabpanel"
                                                             aria-labelledby="nav-24-tab">
                                                            <div class="row">


                                                            </div>
                                                        </div>
                                                        <div class="links-header tab-pane fade " id="nav-26" role="tabpanel"
                                                             aria-labelledby="nav-26-tab">
                                                            <div class="row">


                                                            </div>
                                                        </div>
                                                        <div class="links-header tab-pane fade " id="nav-27" role="tabpanel"
                                                             aria-labelledby="nav-27-tab">
                                                        </div>
                                                        <div class="links-header tab-pane fade " id="nav-28" role="tabpanel"
                                                             aria-labelledby="nav-28-tab">
                                                        </div>
                                                        <div class="links-header tab-pane fade " id="nav-29" role="tabpanel"
                                                             aria-labelledby="nav-29-tab">
                                                        </div>
                                                        <div class="links-header tab-pane fade " id="nav-30" role="tabpanel"
                                                             aria-labelledby="nav-30-tab">
                                                            <div class="row">


                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="col-lg-3 col-xxl-2 px-0">
                                                        <div class="shop-info-header">
                                                            <ul class="list-unstyled">
                                                                @*<li>
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <i class="icon ">

                                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24" height="24" viewBox="0 0 128 128">

                                                                                <path fill="currentColor"
                                                                                      d="M58.667 48h10.667v-16h16v-10.667h-16v-16h-10.667v16h-16v10.667h16zM37.333 96c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c5.891 0 10.667-4.776 10.667-10.667v0c0-5.891-4.776-10.667-10.667-10.667v0zM90.667 96c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c5.891 0 10.667-4.776 10.667-10.667v0c0-5.891-4.776-10.667-10.667-10.667v0zM43.2 69.333h39.733c0.010 0 0.022 0 0.034 0 3.984 0 7.456-2.194 9.272-5.44l0.028-0.054 20.587-37.387-9.28-5.12-20.64 37.333h-37.44l-22.72-48h-17.44v10.667h10.667l19.2 40.48-7.2 13.013c-0.842 1.491-1.338 3.274-1.338 5.173 0 5.891 4.776 10.667 10.667 10.667 0.002 0 0.004 0 0.005 0h64v-10.667h-64z"></path>
                                                                            </svg>

                                                                        </i>
                                                                        راهنمای خرید
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <i class="icon ">

                                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24" height="24" viewBox="0 0 128 128">

                                                                                <path fill="currentColor"
                                                                                      d="M58.667 96h10.667v-10.667h-10.667zM64 10.667c-29.455 0-53.333 23.878-53.333 53.333s23.878 53.333 53.333 53.333c29.455 0 53.333-23.878 53.333-53.333v0c0-29.455-23.878-53.333-53.333-53.333v0zM64 106.667c-23.564 0-42.667-19.103-42.667-42.667s19.102-42.667 42.667-42.667c23.564 0 42.667 19.102 42.667 42.667v0c-0.033 23.551-19.116 42.633-42.663 42.667h-0.003zM64 32c-11.782 0-21.333 9.551-21.333 21.333v0h10.667c0-5.891 4.776-10.667 10.667-10.667s10.667 4.776 10.667 10.667v0c0 10.667-16 9.333-16 26.667h10.667c0-12 16-13.333 16-26.667 0-11.782-9.551-21.333-21.333-21.333v0z"></path>
                                                                            </svg>

                                                                        </i>
                                                                        پرسش&zwnj;های متداول
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"
                                                                       dideo-checked="true">
                                                                        <i class="icon ">

                                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24" height="24" viewBox="0 0 128 128">

                                                                                <path fill="currentColor"
                                                                                      d="M101.333 74.667v-42.667c-0.018-5.884-4.783-10.648-10.665-10.667h-74.668c-5.884 0.018-10.649 4.783-10.667 10.665v42.668c0.018 5.884 4.783 10.648 10.665 10.667h74.668c5.884-0.018 10.648-4.783 10.667-10.665v-0.002zM90.667 74.667h-74.667v-42.667h74.667zM53.333 37.333c-8.837 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16v0c0-8.837-7.163-16-16-16v0zM122.667 37.333v58.667c-0.018 5.884-4.783 10.648-10.665 10.667h-90.668v-10.667h90.667v-58.667z"></path>
                                                                            </svg>

                                                                        </i>
                                                                        شرایط بازگشت کالا
                                                                    </a>
                                                                </li>*@
                                                                <li>
                                                                    <a href="/Home/contactUs"
                                                                       dideo-checked="true">
                                                                        <i class="icon ">
                                                                            <!-- Generated by IcoMoon.io -->
                                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24" height="24" viewBox="0 0 128 128">

                                                                                <path fill="currentColor"
                                                                                      d="M112 65.173c-0.091-26.441-21.547-47.84-48-47.84-26.51 0-48 21.49-48 48 0 0.056 0 0.112 0 0.169v-0.009c-3.207 1.837-5.333 5.239-5.333 9.139 0 0.012 0 0.025 0 0.037v-0.002 10.667c0.018 5.884 4.783 10.648 10.665 10.667h5.335v-32.533c0-20.619 16.715-37.333 37.333-37.333s37.333 16.715 37.333 37.333v0 37.867h-42.667v10.667h42.667c5.884-0.018 10.648-4.783 10.667-10.665v-6.508c3.189-1.674 5.328-4.96 5.333-8.746v-12.267c-0.037-3.748-2.169-6.99-5.279-8.614l-0.054-0.026z"></path>
                                                                                <path fill="currentColor"
                                                                                      d="M53.333 69.333c0 2.945-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.945 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
                                                                                <path fill="currentColor"
                                                                                      d="M85.333 69.333c0 2.945-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.945 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
                                                                                <path fill="currentColor"
                                                                                      d="M96 58.827c-2.648-15.347-15.859-26.874-31.763-26.874-17.788 0-32.208 14.42-32.208 32.208 0 0.788 0.028 1.57 0.084 2.344l-0.006-0.104c13.236-5.518 22.98-17.076 25.872-31.135l0.048-0.278c7.102 14.113 21.402 23.665 37.95 23.84l0.023 0z"></path>
                                                                            </svg>

                                                                        </i>
                                                                        ارتباط با ما
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/Home/aboutUs"
                                                                       dideo-checked="true">
                                                                        <i class="icon ">
                                                                            <svg id="info-24px" xmlns="http://www.w3.org/2000/svg"
                                                                                 width="24" height="24" viewBox="0 0 24 24">
                                                                                <path id="Path_13187" data-name="Path 13187"
                                                                                      d="M0,0H24V24H0Z" fill="none"></path>
                                                                                <path id="Path_13188" data-name="Path 13188"
                                                                                      d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15H11V11h2Zm0-8H11V7h2Z"></path>
                                                                            </svg>

                                                                        </i>
                                                                        درباره ما
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>


                            }


                            @*@{ Html.RenderAction("getmenue", "Home"); }*@








                            <div id="search-box-toggle">
                                <div id="search-box-toggle-menu"
                                     class="search-box-toggle xpy-2 xpx-1 animate__animated animate__fadeOut animate__faster">
                                    <div class="search-box position-relative">
                                        <div class="input-holder xpt-2 xpb-2 xpr-14 xpl-14">
                                            <input autocomplete="off" type="text" placeholder="عبارت مورد نظر را وارد کنید..."
                                                   class="input-search-box" id="search-box-input">
                                        </div>

                                        <div class="search-icon-search-box position-absolute">
                                            <i class="icon ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                     viewBox="0 0 40 40">
                                                    <rect id="Rectangle_1608" data-name="Rectangle 1608" width="40" height="40"
                                                          rx="20" fill="none"></rect>
                                                    <g id="ic_search" transform="translate(8 8)">
                                                        <rect id="Rectangle" width="24" height="24" fill="none"></rect>
                                                        <path id="Subtraction_3" data-name="Subtraction 3"
                                                              d="M-10007,16a8.009,8.009,0,0,1-8-8,8.009,8.009,0,0,1,8-8,8.009,8.009,0,0,1,8,8A8.009,8.009,0,0,1-10007,16Zm0-14a6.006,6.006,0,0,0-6,6,6.006,6.006,0,0,0,6,6,6.008,6.008,0,0,0,6-6A6.008,6.008,0,0,0-10007,2Z"
                                                              transform="translate(10018.001 3)"></path>
                                                        <rect id="Rectangle_146346" data-name="Rectangle 146346" width="2"
                                                              height="8" transform="translate(14.536 15.95) rotate(-45)"></rect>
                                                    </g>
                                                </svg>
                                            </i>
                                        </div>
                                        <div id="close-search-header" class="close-icon-search-box position-absolute">
                                            <i class="icon ">
                                                <svg id="ic_expand_close" xmlns="http://www.w3.org/2000/svg" width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24">
                                                    <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                    <path id="path"
                                                          d="M19,6.4,17.6,5,12,10.6,6.4,5,5,6.4,10.6,12,5,17.6,6.4,19,12,13.4,17.6,19,19,17.6,13.4,12Z"
                                                          fillrule="evenodd"></path>
                                                </svg>

                                            </i>
                                        </div>
                                        <div id="result-search-wrapper" style="max-height:unset" class="result-search-wrapper-header xp-4 position-absolute">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>


                    <div class="d-block d-lg-none header-dropdown-responsive">

                        <div id="header-responsive">
                            <div id="header-responsive-menu" class="header-responsive position-fixed xp-4">
                                <div class="title-header-responsive d-flex align-items-center xmb-4">
                                    <div id="close-burger-menu" class="icon-close xml-4">
                                        <i class="icon ">
                                            <svg id="ic_expand_close" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24">
                                                <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                <path id="path"
                                                      d="M19,6.4,17.6,5,12,10.6,6.4,5,5,6.4,10.6,12,5,17.6,6.4,19,12,13.4,17.6,19,19,17.6,13.4,12Z"
                                                      fillrule="evenodd"></path>
                                            </svg>

                                        </i>
                                    </div>
                                    <div class="logo">
                                        <a href="#" dideo-checked="true">

                                        </a>
                                    </div>
                                </div>
                                <div class="list-links-responsive">
                                    <ul class="list-unstyled">
                                        <li class="position-relative">
                                            <div id="product-link-responsive">
                                                <span id="close-dropdown-link-responsive" class="icon-add position-absolute">
                                                    <i class="icon ">
                                                        <svg class="icon" id="ic_add" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <rect id="rectangle" width="24" height="24" fill="none"></rect>
                                                            <path id="path" d="M11,5v6H5v2h6v6h2V13h6V11H13V5Z" fillrule="evenodd"></path>
                                                        </svg>

                                                    </i>
                                                </span>
                                                <a href="#" dideo-checked="true">
                                                    <i class="icon ">
                                                        <!-- Generated by IcoMoon.io -->
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24"
                                                             viewBox="0 0 128 128">

                                                            <path fill="currentColor"
                                                                  d="M58.667 58.667h-37.333v-37.333h37.333v37.333zM32 32v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor"
                                                                  d="M58.667 106.667h-37.333v-37.333h37.333v37.333zM32 80v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor"
                                                                  d="M106.667 58.667h-37.333v-37.333h37.333v37.333zM80 32v0 16h16v-16h-16z"></path>
                                                            <path fill="currentColor"
                                                                  d="M106.667 106.661h-37.333v-37.333h37.333v37.333zM80 79.995v0 16h16v-16h-16z"></path>
                                                        </svg>

                                                    </i>
                                                    محصولات
                                                </a>
                                            </div>
                                            <ul id="child-header-nav-responsive" class="list-unstyled">

                                                @foreach (var catitem in menumodel.First().mycatcollection)
                                                {
                                                    int index = menumodel.First().mycatcollection.IndexOf(catitem);
                                                    string target = "#category-" + index;
                                                    string itemID = "category-" + index;

                                                    <li>
                                                        <a href="#" data-bs-toggle="collapse" data-bs-target="@target"
                                                           aria-expanded="false" dideo-checked="true">
                                                            <i class="icon ">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                                     height="24"
                                                                     viewBox="0 0 128 128">

                                                                    <path fill="currentColor"
                                                                          d="M58.667 58.667h-37.333v-37.333h37.333v37.333zM32 32v0 16h16v-16h-16z"></path>
                                                                    <path fill="currentColor"
                                                                          d="M58.667 106.667h-37.333v-37.333h37.333v37.333zM32 80v0 16h16v-16h-16z"></path>
                                                                    <path fill="currentColor"
                                                                          d="M106.667 58.667h-37.333v-37.333h37.333v37.333zM80 32v0 16h16v-16h-16z"></path>
                                                                    <path fill="currentColor"
                                                                          d="M106.667 106.661h-37.333v-37.333h37.333v37.333zM80 79.995v0 16h16v-16h-16z"></path>
                                                                </svg>

                                                            </i>
                                                            @catitem.title
                                                        </a>

                                                        <ul id="@itemID" class="list-unstyled collapse"
                                                            style="max-height: unset">
                                                            @foreach (var subcatItem in menumodel.First().mysubcatcollection)
                                                            {
                                                                string srtcat = "2" + subcatItem.ID;
                                                                if (subcatItem.CatID == catitem.ID)
                                                                {
                                                                    <li>
                                                                        <a href="/Home/ProductList?catmode=@srtcat"
                                                                           dideo-checked="true">
                                                                            @subcatItem.title
                                                                        </a>
                                                                        <ul>
                                                                            @foreach (var subcatItem2 in menumodel.First().mysubcatcollection2)
                                                                            {
                                                                                string srtcat2 = "3" + subcatItem2.ID;
                                                                                if (subcatItem2.subcatid == subcatItem.ID)
                                                                                {
                                                                                    <li>
                                                                                        <a href="/Home/ProductList?catmode=@srtcat2"
                                                                                           dideo-checked="true">
                                                                                            @subcatItem2.title
                                                                                        </a>
                                                                                    </li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            }


                                                        </ul>
                                                    </li>
                                                }




                                                <li>
                                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#category-25"
                                                       aria-expanded="false" dideo-checked="true">
                                                        <i class="icon ">
                                                            <!-- Generated by IcoMoon.io -->
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 128 128">

                                                                <path fill="currentColor"
                                                                      d="M106.667 96c5.884-0.018 10.648-4.783 10.667-10.665v-53.335c-0.018-5.884-4.783-10.648-10.665-10.667h-85.335c-5.884 0.018-10.649 4.783-10.667 10.665v53.335c0.018 5.884 4.783 10.648 10.665 10.667h-21.332v10.667h128v-10.667zM21.333 32h85.333v53.333h-85.333z"></path>
                                                            </svg>

                                                        </i>
                                                        لپ تاپ
                                                    </a>
                                                    <ul id="category-25" class="list-unstyled collapse"
                                                        style="max-height: unset">
                                                        <li>
                                                            <a href="#"
                                                               dideo-checked="true">
                                                                همه لپ‌تاپ ها
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               dideo-checked="true">
                                                                اپل
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               dideo-checked="true">
                                                                هواوی
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               dideo-checked="true">
                                                                لنوو
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#"
                                               dideo-checked="true">
                                                <i class="icon ">
                                                    <!-- Generated by IcoMoon.io -->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 128 128">

                                                        <path fill="currentColor"
                                                              d="M21.333 74.667h85.333v10.667h-85.333v-10.667z"></path>
                                                        <path fill="currentColor"
                                                              d="M53.333 96h53.333v10.667h-53.333v-10.667z"></path>
                                                        <path fill="currentColor"
                                                              d="M106.667 64h-85.333v-42.667h85.333v42.667zM32 32v21.333h64v-21.333z"></path>
                                                    </svg>

                                                </i>
                                                بلاگ
                                            </a>
                                        </li>

                                        @*<li>
                                            <a href="#"
                                               dideo-checked="true">
                                                <i class="icon ">

                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 128 128">

                                                        <path fill="currentColor"
                                                              d="M58.667 48h10.667v-16h16v-10.667h-16v-16h-10.667v16h-16v10.667h16zM37.333 96c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c5.891 0 10.667-4.776 10.667-10.667v0c0-5.891-4.776-10.667-10.667-10.667v0zM90.667 96c-5.891 0-10.667 4.776-10.667 10.667s4.776 10.667 10.667 10.667c5.891 0 10.667-4.776 10.667-10.667v0c0-5.891-4.776-10.667-10.667-10.667v0zM43.2 69.333h39.733c0.010 0 0.022 0 0.034 0 3.984 0 7.456-2.194 9.272-5.44l0.028-0.054 20.587-37.387-9.28-5.12-20.64 37.333h-37.44l-22.72-48h-17.44v10.667h10.667l19.2 40.48-7.2 13.013c-0.842 1.491-1.338 3.274-1.338 5.173 0 5.891 4.776 10.667 10.667 10.667 0.002 0 0.004 0 0.005 0h64v-10.667h-64z"></path>
                                                    </svg>

                                                </i>
                                                راهنمای خرید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               dideo-checked="true">
                                                <i class="icon ">

                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 128 128">

                                                        <path fill="currentColor"
                                                              d="M58.667 96h10.667v-10.667h-10.667zM64 10.667c-29.455 0-53.333 23.878-53.333 53.333s23.878 53.333 53.333 53.333c29.455 0 53.333-23.878 53.333-53.333v0c0-29.455-23.878-53.333-53.333-53.333v0zM64 106.667c-23.564 0-42.667-19.103-42.667-42.667s19.102-42.667 42.667-42.667c23.564 0 42.667 19.102 42.667 42.667v0c-0.033 23.551-19.116 42.633-42.663 42.667h-0.003zM64 32c-11.782 0-21.333 9.551-21.333 21.333v0h10.667c0-5.891 4.776-10.667 10.667-10.667s10.667 4.776 10.667 10.667v0c0 10.667-16 9.333-16 26.667h10.667c0-12 16-13.333 16-26.667 0-11.782-9.551-21.333-21.333-21.333v0z"></path>
                                                    </svg>

                                                </i>
                                                پرسش‌های متداول
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                               dideo-checked="true">
                                                <i class="icon ">

                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 128 128">

                                                        <path fill="currentColor"
                                                              d="M101.333 74.667v-42.667c-0.018-5.884-4.783-10.648-10.665-10.667h-74.668c-5.884 0.018-10.649 4.783-10.667 10.665v42.668c0.018 5.884 4.783 10.648 10.665 10.667h74.668c5.884-0.018 10.648-4.783 10.667-10.665v-0.002zM90.667 74.667h-74.667v-42.667h74.667zM53.333 37.333c-8.837 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16v0c0-8.837-7.163-16-16-16v0zM122.667 37.333v58.667c-0.018 5.884-4.783 10.648-10.665 10.667h-90.668v-10.667h90.667v-58.667z"></path>
                                                    </svg>

                                                </i>
                                                شرایط بازگشت کالا
                                            </a>
                                        </li>*@
                                        <li>
                                            <a href="/Home/contactUs" dideo-checked="true">
                                                <i class="icon ">
                                                    <!-- Generated by IcoMoon.io -->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 128 128">

                                                        <path fill="currentColor"
                                                              d="M112 65.173c-0.091-26.441-21.547-47.84-48-47.84-26.51 0-48 21.49-48 48 0 0.056 0 0.112 0 0.169v-0.009c-3.207 1.837-5.333 5.239-5.333 9.139 0 0.012 0 0.025 0 0.037v-0.002 10.667c0.018 5.884 4.783 10.648 10.665 10.667h5.335v-32.533c0-20.619 16.715-37.333 37.333-37.333s37.333 16.715 37.333 37.333v0 37.867h-42.667v10.667h42.667c5.884-0.018 10.648-4.783 10.667-10.665v-6.508c3.189-1.674 5.328-4.96 5.333-8.746v-12.267c-0.037-3.748-2.169-6.99-5.279-8.614l-0.054-0.026z"></path>
                                                        <path fill="currentColor"
                                                              d="M53.333 69.333c0 2.945-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.945 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
                                                        <path fill="currentColor"
                                                              d="M85.333 69.333c0 2.945-2.388 5.333-5.333 5.333s-5.333-2.388-5.333-5.333c0-2.945 2.388-5.333 5.333-5.333s5.333 2.388 5.333 5.333z"></path>
                                                        <path fill="currentColor"
                                                              d="M96 58.827c-2.648-15.347-15.859-26.874-31.763-26.874-17.788 0-32.208 14.42-32.208 32.208 0 0.788 0.028 1.57 0.084 2.344l-0.006-0.104c13.236-5.518 22.98-17.076 25.872-31.135l0.048-0.278c7.102 14.113 21.402 23.665 37.95 23.84l0.023 0z"></path>
                                                    </svg>

                                                </i>
                                                ارتباط با ما
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Home/aboutUs"
                                               dideo-checked="true">
                                                <i class="icon ">
                                                    <svg id="info-24px" xmlns="http://www.w3.org/2000/svg" width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24">
                                                        <path id="Path_13187" data-name="Path 13187" d="M0,0H24V24H0Z"
                                                              fill="none"></path>
                                                        <path id="Path_13188" data-name="Path 13188"
                                                              d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15H11V11h2Zm0-8H11V7h2Z"></path>
                                                    </svg>

                                                </i>
                                                درباره ما
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                @*<div class="social-media d-flex justify-content-center align-content-center xmt-12">
                                    <a href="https://t.me/" dideo-checked="true">
                                        <i class="icon ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="29.029" height="24"
                                                 viewBox="0 0 29.029 24">
                                                <path id="Path_13051" data-name="Path 13051"
                                                      d="M43.4,80.561l17.29-7.124c1.707-.742,7.5-3.117,7.5-3.117s2.672-1.039,2.449,1.484c-.074,1.039-.668,4.675-1.262,8.608l-1.855,11.65s-.148,1.707-1.412,2-3.339-1.039-3.71-1.336c-.3-.223-5.566-3.562-7.5-5.194a1.406,1.406,0,0,1,.074-2.375c2.672-2.449,5.863-5.491,7.792-7.421.891-.89,1.781-2.968-1.929-.445l-10.463,7.05a4.361,4.361,0,0,1-3.414.074c-2.226-.668-4.823-1.558-4.823-1.558s-1.781-1.113,1.262-2.3Z"
                                                      transform="translate(-41.617 -70.109)"></path>
                                            </svg>

                                        </i>
                                    </a>
                                    <a href="https://www.instagram.com/omirom" dideo-checked="true">
                                        <i class="icon ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24.001"
                                                 viewBox="0 0 24 24.001">
                                                <path id="Shape_9" data-name="Shape 9"
                                                      d="M1941.959,1795h10.08a6.965,6.965,0,0,1,6.96,6.96v10.08a6.96,6.96,0,0,1-6.96,6.96h-10.08a6.965,6.965,0,0,1-6.96-6.96v-10.08a6.96,6.96,0,0,1,6.96-6.96m-.24,2.4a4.32,4.32,0,0,0-4.32,4.32h0v10.56a4.317,4.317,0,0,0,4.32,4.32h10.56a4.32,4.32,0,0,0,4.32-4.32h0v-10.56a4.318,4.318,0,0,0-4.32-4.32h-10.56m11.58,1.8a1.5,1.5,0,1,1-1.5,1.5,1.5,1.5,0,0,1,1.5-1.5m-6.3,1.8a6,6,0,1,1-6,6,6,6,0,0,1,6-6m0,2.4a3.6,3.6,0,1,0,3.6,3.6A3.6,3.6,0,0,0,1947,1803.4Z"
                                                      transform="translate(-1934.999 -1794.999)"></path>
                                            </svg>

                                        </i>
                                    </a>
                                    <a href="https://www.youtube.com/" dideo-checked="true">
                                        <i class="icon ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18.003"
                                                 viewBox="0 0 24 18.003">
                                                <path id="Icon_ionic-logo-youtube" data-name="Icon ionic-logo-youtube"
                                                      d="M23.844,8.476a3.644,3.644,0,0,0-3.469-3.807c-2.6-.122-5.246-.169-7.951-.169H11.58c-2.7,0-5.354.047-7.951.169A3.652,3.652,0,0,0,.164,8.485C.047,10.154,0,11.823,0,13.492S.047,16.83.159,18.5a3.657,3.657,0,0,0,3.465,3.821c2.729.127,5.527.183,8.373.178s5.64-.047,8.373-.178A3.657,3.657,0,0,0,23.839,18.5c.113-1.674.164-3.343.159-5.016S23.956,10.149,23.844,8.476ZM9.7,18.091V8.879l6.8,4.6Z"
                                                      transform="translate(0 -4.5)"></path>
                                            </svg>

                                        </i>
                                    </a>
                                    <a href="https://www.aparat.com/" dideo-checked="true">
                                        <i class="icon ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path id="Shape_19" data-name="Shape 19"
                                                      d="M1789.6,1818.02c-.726-.159-1.44-.374-2.159-.564-.035-.009-.068-.024-.1-.035a11.69,11.69,0,0,0,7.342-4.388c-.218.812-.432,1.625-.654,2.436a3.191,3.191,0,0,1-.6,1.19,3.618,3.618,0,0,1-2.887,1.467A4.412,4.412,0,0,1,1789.6,1818.02Zm-13.95-9.048a10.094,10.094,0,0,1-.382-3.371,10.4,10.4,0,0,1,20.169-3.027,9.708,9.708,0,0,1,.6,4.071,10.242,10.242,0,0,1-5.9,8.866,9.569,9.569,0,0,1-3.4.961c-.36.038-.723.047-.933.06A10.46,10.46,0,0,1,1775.649,1808.972Zm10,1.805a2.984,2.984,0,1,0,2.985-2.98h0A2.981,2.981,0,0,0,1785.649,1810.777Zm-7.47-1.442a2.984,2.984,0,1,0,2.98-2.98h0A3,3,0,0,0,1778.179,1809.335Zm6.094-3.124a1.327,1.327,0,1,0,1.324-1.339A1.32,1.32,0,0,0,1784.273,1806.211Zm2.894-3.307a2.983,2.983,0,1,0,2.985-2.976h0A2.975,2.975,0,0,0,1787.167,1802.9Zm-7.472-1.438a2.984,2.984,0,1,0,2.993-2.98h0A3,3,0,0,0,1779.7,1801.466Zm-2.341,13.309c-.445-.123-.9-.218-1.333-.383a3.7,3.7,0,0,1-2.245-4.406c.16-.629.333-1.254.5-1.881.008-.03.021-.06.041-.117a11.606,11.606,0,0,0,4.139,7.08C1778.089,1814.972,1777.721,1814.877,1777.354,1814.775Zm15.265-17.655.9.238c.5.134,1.007.259,1.506.405a3.675,3.675,0,0,1,2.626,3.747,8.567,8.567,0,0,1-.287,1.411c-.127.528-.276,1.051-.416,1.576-.012.044-.028.087-.054.174A11.631,11.631,0,0,0,1792.619,1797.121Zm-15.646.831c.12-.445.22-.9.37-1.334a3.656,3.656,0,0,1,3.863-2.466,15.1,15.1,0,0,1,1.7.389c.347.084.69.183,1.035.274a11.917,11.917,0,0,0-3.975,1.383,12.054,12.054,0,0,0-3.245,2.7C1776.8,1798.587,1776.887,1798.269,1776.974,1797.952Z"
                                                      transform="translate(-1773.656 -1794.126)"></path>
                                            </svg>

                                        </i>
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>


                @RenderBody()





                @{Html.RenderAction("contactSection", "Home");}


            </div>
        </div>

        <script>
            // const baseURL = '#';
            // const csrfToken = document.getElementsByName('csrf-token')[0].getAttribute('content');
            // const jsonFormHeaders = new Headers({
            //     'Content-Type': 'application/json',
            //     'Accept': 'application/json',
            //     'X-CSRF-TOKEN': csrfToken
            // });
        </script>

        <script>
            String.prototype.toPersianDigits = function () {
                let id = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'];
                return this.replace(/[0-9]/g, function (w) {
                    return id[+w]
                });
            }
        </script>
        <!--start global js -->
        <!-- فایل بوت استرپ-->
        <script src="~/versionAsset/omirom/js/bootstrap.bundle.min.js"></script>
        <!-- فایل سوایپر-->
        <script src="~/versionAsset/omirom/js/swiper.js"></script>
        <!-- اسلایدر قسمت فوتر سایت-->
        <script src="~/versionAsset/omirom/js/footer.js"></script>
        <!--فیکس کردن منوی بالای صفحه و بنر بالا با اسکرول کردن-->
        <script src="~/versionAsset/omirom/js/topBanner.js"></script>
        <!--دارک مود-->
        <script src="~/versionAsset/omirom/js/darkMode.js"></script>
        <!--end global js -->
        <!--قسمت سرج هدر-->
        <script src="~/versionAsset/omirom/js/search.js?v=002"></script>
        <!--منو و سرچ باکس هدر سایت-->
        <script src="~/versionAsset/omirom/js/headerMenu.js"></script>
        <!-- اسلایدر قسمت هدر سایت-->
        <script src="~/versionAsset/omirom/js/headerSwiper.js"></script>
        <!--start home -->
        <script src="~/Scripts/toastr.js"></script>
        @RenderSection("scripts", required: false)
        @RenderSection("scripts2", required: false)
        <script>
            $("#loginbypassword").click(function () {
                window.location.href = "/home/login"
            })
            $("#loginbysms").click(function () {
                window.location.href = "/home/loginPage"
            })

            $("#search-box-input").on('input', function () {

                let val = $(this).val();

                if (val.length > 2) {
                    $("#result-search-wrapper").show(15);
                    $.ajax({
                        url: "/Home/getsearch",
                        dataType: "html",
                        data: {
                            val: val,
                        },
                        success: function (data) {
                            $("#result-search-wrapper").html(data);
                        }
                    })
                }
                else {
                    $("#searchResultSection").html("")
                    $("#searchResultSection").hide();
                }
            })
        </script>
        <script>
            $('.tracotdda').click(function () {
                var ID = this.id;
                var tobeadded = $('.item_price', $(this).parent('div:first')).text();


                $.ajax({
                    url: '/Home/addtocart/',
                    dataType: 'html',
                    data: {
                        id: ID,
                        price: tobeadded

                    },
                    success: function (data) {

                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000,


                        }
                        toastr.success('محصول مورد نظر به سبد اضافه شد')



                    },
                    error: function () {

                    }
                });


            })


            var getquntity = function () {
                $.ajax({
                    url: '/Home/getquntitiy',
                    dataType: 'html',
                    success: function (data) {
                        var total = 0;
                        var srtcookie = data;

                        if (srtcookie.length > 0) {
                            srtcookie = srtcookie.replace(/&quot;/g, '"');
                            JSON.parse(srtcookie).forEach(function (item) {
                                let valueID = "value" + item.productid;
                                $("." + valueID).text(item.quantity);
                                total += parseInt(item.quantity);
                            });
                            $(".simpleCart_quantityy").text(total)

                        } else {
                            $(".simpleCart_quantityy").text("0")
                        };
                    }

                })
            };

            $(document).ready(function () {
                getquntity();
            })

        </script>
        <!--end header -->

        <link href="~/Content/font.css" rel="stylesheet" />

        <link href="~/Content/all.css" rel="stylesheet" />
    </body>

}
</html>

