@model banimo.ViewModel.MyCollectionOfCatsList




<div id="menuContainer" style="margin-top:50px;">
    <ul id="nav1">
        <li><a href="@Url.Action("Index", "Home")">خانه</a></li>

        @{
            if (Model.catsdata.First().mycatcollection != null)
            {
                foreach (var cat in Model.catsdata.First().mycatcollection)
                {
                    string srtcat = "";
                    string subsrtcat = "";
                    string subsrtcat2 = "";

                    if (cat.IsFinal == "1")
                    {
                        srtcat = "1" + cat.ID;
                        <li><a href="@Url.Action("ProductList", "Home", new { catmode = srtcat, value =  @cat.title})">@cat.title</a></li>
                    }
                    else
                    {
                        string pID = "P" + cat.parentID;
                        srtcat = "1" + cat.ID;
                        int finalint = 0;
                        <li class="has-children">
                            <p>@cat.title <i class="fa fa-chevron-down" style="float:left"></i></p>
                            @if (Model.catsdata.First().mysubcatcollection != null)
                            {
                                <ul class="dropdown arrow-top">


                                    @foreach (var SB in Model.catsdata.First().mysubcatcollection)
                                    {
                                        if (SB.CatID == cat.ID)
                                        {
                                            if (SB.IsFinal == "1")
                                            {
                                                string srtsubcat = "2" + SB.ID;
                                                <li><a href="@Url.Action("ProductList", "Home", new { catmode = srtsubcat, value =  @cat.title})">@SB.title</a></li>
                                            }
                                            else
                                            {
                                                <li class="has-children">
                                                    <p >@SB.title <i class="fa fa-chevron-down" style="float:left"></i></p>
                                                    <ul class="dropdown">
                                                        @if (Model.catsdata.First().mysubcatcollection2 != null)
                                                        {
                                                            foreach (var SB2 in Model.catsdata.First().mysubcatcollection2)
                                                            {
                                                                if (SB2.subcatid == SB.ID)
                                                                {
                                                                    subsrtcat2 = "3" + SB2.ID;

                                                                    <li><a href="@Url.Action("ProductList", "Home", new { catmode = subsrtcat2, value = @SB2.title })">@SB2.title</a></li>
                                                                }
                                                            }
                                                        }


                                                    </ul>
                                                </li>
                                            }
                                        }


                                    }
                                </ul>

                            }

                        </li>
                    }
                }
            }
        }
      
    </ul>
</div>


<style>

    
    #nav1 a {
        color: #FFFFFF;
    }

    #nav1 li ul li a:hover {
        background-color: #eee;
        color: #4d4d4d
    }



    #nav1 > li > a {
        background-color: white;
        padding: 16px 18px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #212121;
        background: linear-gradient(top, #343434, #111111);
        color: black;
    }
    #nav1 > li > p {
        background-color: white;
        padding: 16px 18px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #212121;
        background: linear-gradient(top, #343434, #111111);
        color: black;
        cursor:default;
    }

    #nav1 li ul li a {
        padding: 10px 0;
        padding-right: 30px;
        text-decoration: none;
        display: block;
        color: black;
    }
    #nav1 li ul li p {
        padding: 10px 0;
        padding-right: 30px;
        text-decoration: none;
        display: block;
        color: black;
        cursor: default;
    }

    #nav1 li ul li ul li a {
        padding: 10px 0;
        padding-right: 60px;
        text-decoration: none;
        display: block;
        color: black;
    }


    /* Hide Dropdowns by Default */
    #nav1 li ul {
        display: none;
    }
    ul {
        list-style-type: none;
    }
</style>
