


@model banimo.ViewModelPost.viewProductViewModel
@using Newtonsoft.Json;
@{
    string typeID = "";
    banimo.ViewModel.userdata userApp = Session["LogedInUser"] as banimo.ViewModel.userdata;
    if (userApp != null)
    {
        typeID = userApp.userTypeID;
    }

    double metaPrice = double.Parse(Model.price);
    double oldPrice = double.Parse(Model.oldPrice);
    if (typeID == "2")
    {
        banimo.AdminPanelBoom.ViewModel.metaVM metaModel = JsonConvert.DeserializeObject<banimo.AdminPanelBoom.ViewModel.metaVM>(Model.meta);
        metaPrice = metaModel.price;
        oldPrice = 0;
    }
}
    <div class=" contentholder" style="background-color: #fff; margin: 20px 20px 0 20px; ">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="direction:rtl; margin-bottom:15px">
                    <div class="modal-header" style="margin-bottom: 20px;">
                        <button style="float:left; font-size:40px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 style="float:right;margin-bottom: 15px;margin-right: 10px;" class="modal-title" id="exampleModalLabel">اشتراک گذاری از طریق ایمیل</h5>
                        <input id="Femail" style="padding:25px;" placeholder="ایمیل مورد نظر خورد را وارد کنید" type="text" class="form-control">
                        <i class="fa fa-envelope-open" style="position: absolute;left: 25px;bottom: 42px;font-size: 25px;"></i>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        <button type="button" class="btn btn-success" id="shareByEmail">تایید</button>
                    </div>
                </div>
            </div>
            <script>
                $("#shareByEmail").click(function () {
                    function isValidEmailAddress(emailAddress) {
                        var pattern = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                        return pattern.test(emailAddress);
                    };
                    var email = $("#Femail").val();
                    if (isValidEmailAddress(email)) {



                        $.ajax({
                            url: '/Home/sendEmail',
                            dataType: 'html',
                            data: {
                                productImage: '@Model.imgGallery.First().src',
                                siteName: '@System.Configuration.ConfigurationManager.AppSettings["siteName"]',
                                productName: '@Model.title',
                                productLink : '@Model.ID',
                                emailto: email,
                                url : '@System.Configuration.ConfigurationManager.AppSettings["serverName"]'
                            },
                            success: function (data) {
                                $("#myModal").modal('toggle')
                            },
                            error: function (request, status, error) {

                            }
                        });

                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }
                        toastr.success('ایمیل با موفقیت برای دوست شما ارسال شد')

                    }
                    else {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }
                        toastr.error('ایمیل صحیح وارد کنید')
                    }

                })
            </script>
        </div>
        <script>
            var wishonid = "wishon" + "@Model.ID";
            var wishoffid = "wishoff" + "@Model.ID";
            var shareid = "share" + "@Model.ID";
            var compareid = "compare" + "@Model.ID";

            if ("@Model.isWishList" === "isnot") {

                $("#" + wishonid).css("display", "none")
            }
            else {
                $("#" + wishoffid).css("display", "none")
            }
            $("#" + compareid).click(function () {
                var id = '@Model.ID';
                var cat = '@Model.cattree'
                var url = '@Url.Action("compare", "home", new { id = "__id__", cat = "__cat__" })';
                var URL2 = url.replace("__id__", id);
                URL2 = URL2.replace("__cat__", cat);

                window.location.href = URL2;
            })
            $("#" + shareid).click(function () {

                $("#myModal").modal('toggle');
            })
            $("#" + wishonid).click(function () {
                $(this).css("display", "none");
                $("#" + wishoffid).css("display", "block");
                var id = $(this).attr("id");

                $.ajax({
                    url: '/Home/addToWishList',
                    dataType: 'html',
                    data: {
                        ProductID: wishonid,
                        isWishList: "1"

                    },
                    success: function (data) {

                    },
                    error: function (request, status, error) {

                    }
                });

            })
            $("#" + wishoffid).click(function () {
                if ('@Session["token"]' === "") {

                    var url = '@Url.Action("Login", "Home")';
                    window.location.replace(url);
                }
                else {
                    $(this).css("display", "none");
                    $("#" + wishonid).css("display", "block");
                    var id = $(this).attr("id");

                    $.ajax({
                        url: '/Home/addToWishList',
                        dataType: 'html',
                        data: {
                            ProductID: wishonid,
                            isWishList: "0"

                        },
                        success: function (data) {

                        },
                        error: function (request, status, error) {

                        }
                    });
                }

            })
        </script>

        <div class="row">

            <div class="row" style="direction:rtl">



                <div class="col-md-12 col-sm-12 col-lg-4" style=" border-left:1px solid #ddd">
                    <script src="~/Scripts/jquery.flexslider2.js"></script>
                    @if (Model.slides != null)
                    {


                    <div id="slidholder" class=" slidemultiple" style=" margin:30px; visibility: visible; animation-delay: 0.5s; animation-name: slideInUp; background-color:#fff;">

                        <div class="flexslider" style="margin-bottom:0px">
                            <script src="~/Scripts/jquery.flexslider2.js"></script>
                            <!-- FlexSlider -->
                            <script>

                                // Can also be used with $(document).ready()
                                $('#flexslider').removeData("flexslider");
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails",
                                    direction: "horizontal",
                                    reverse: false,
                                    directionNav: false,

                                });

                            </script>
                            <!-- //FlexSlider-->
                            <ul id="ulSlide" class="slides">
                                @if (Model.slides != null)
                                {

                                    foreach (var item in Model.slides)
                                    {
                                        string imagefile = "placeholder.jpg";
                                        if (item.title != null)
                                        {
                                            imagefile = item.image;
                                        }
                                        string src = imagefile;
                                        <li data-thumb="@src">
                                            <div class="thumb-image imageitself" style=" margin: auto;">
                                                <img style="border-radius:15px; max-height:400px; max-width:400px; object-fit:cover " src="@src" data-imagezoom="true" class="img-responsive ">
                                            </div>

                                        </li>

                                    }

                                }
                            </ul>
                        </div>
                        <div class="gradientback" style="display:none">
                        </div>
                    </div>



                    }
                </div>
                <div class="col-md-12 col-lg-8 col-sm-12">
                    <div class="row" style="border-bottom:1px solid #ddd">
                        <div style="flex:1; margin:5px 0 ; display:flex; margin:30px">
                            @{
                                var wishonid = "wishon" + @Model.ID;
                                var wishoffid = "wishoff" + @Model.ID;
                                var shareid = "share" + @Model.ID;
                                var compareid = "compare" + @Model.ID;
                            }
                            @if (@System.Configuration.ConfigurationManager.AppSettings["numberType"] == "1")
                            {

                                <h3 style="" class="numEn detailTitle">@Model.title</h3>
                            }
                            else
                            {
                                <h3 style="" class="detailTitle">@Model.title</h3>
                            }

                            <div style="flex:1; display:flex; align-items:center; justify-content:left">
                                @*<i id="@wishonid" class="detailfal fal fa-heart wish_on" style="position:absolute; margin:0 20px;  cursor:pointer; font-size: 25px; z-index: 999; color:red"></i>*@
                                <i id="@wishoffid" class="detailfal fal fa-heart" style="  margin:0 20px;cursor:pointer;font-size: 25px; z-index: 999;  "></i>

                                <i id="@shareid" class="detailfal fal fa-share-alt" style="margin:0 20px;cursor:pointer;font-size: 25px; z-index: 999; "></i>

                                <i id="@compareid" class="detailfal fal fa-clone" style="margin:0 20px;cursor:pointer;font-size: 25px; z-index: 999;  ">
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="featureBox">
                            <p class="featureTitle " style="">ویژگی های اصلی</p>
                            @if (Model.filter.Count() > 0)
                            {
                                <div style="margin-top:15px; width:100%;border-bottom:1px solid #4d4d4d">
                                    @foreach (var item in Model.filter.Select(x => x.filtername).Distinct())
                                    {

                                        <div style="text-align:right; direction:rtl; display: inline-block; margin-right:15px;line-height:2.5; width:100%;border-top:1px solid #4d4d4d">
                                            <i class="fal fa-check" style="font-size:8px; background-color:#d3e3f2; padding:20px; font-size:22px"> </i>

                                            <span style="margin-right:30px; font-weight:500">@item :</span>

                                            @foreach (var newitem in Model.filter)
                                            {
                                                if (newitem.filtername == item)
                                                {

                                                    <span style="">@newitem.detailname</span>
                                                }
                                            }
                                        </div>
                                    }
                                </div>


                            }
                        </div>
                    </div>
                    <div id="dataholder" class="  dataholder  col-lg-6 col-md-12 col-sm-12">
                        <div class="row">
                            @if (Model.partnerList != null)
                            {
                                foreach (var item in Model.partnerList)
                                {
                                    <div class="row pricedetail" style="  ">
                                        <div class="row ">
                                            <div class="discountParentt" style="direction:rtl">
                                                @if (metaPrice != oldPrice)
                                                {
                                                    double difference = oldPrice - metaPrice;
                                                    if (Model.wonderDiscount != "0")
                                                    {
                                                        Model.discount = Model.wonderDiscount;
                                                    }
                                                    <p class="oldPrice" style="">
                                                        <del>@string.Format("{0:n0}", oldPrice / 10)   <span>تومان</span></del>
                                                    </p>

                                                    <p class=" discountSectence " style="">
                                                        همین امروز
                                                        <i>@string.Format("{0:n0}", difference / 10)</i> تومان  تخفیف بگیرید
                                                    </p>

                                                }

                                            </div>
                                            <div style=" min-height:65px; text-align:right; padding:0">
                                                @{
                                                    @*<div class="col-lg-6" style="margin:0px;height: 100%;">
                                                        @item.Title
                                                    </div>*@
                                                    <div class="col-lg-12" style="margin:0px;height: 100%;">
                                                        <div style="display:inline-block;height: 100%;">
                                                            @{
                                                                decimal itemprice = 0;
                                                                string finalID = Model.ID;
                                                                if (Model.otherColors != null)
                                                                {
                                                                    if (Model.otherColors.Count() > 0)
                                                                    {
                                                                        if (Model.otherColors.First().otherColorFilter != null)
                                                                        {
                                                                            itemprice = decimal.Parse(Model.otherColors.First().otherColorFilter.First().productprice);
                                                                            finalID = Model.otherColors.First().otherColorFilter.First().ID;
                                                                        }
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    itemprice = decimal.Parse(Model.partnerList.First().price);
                                                                }
                                                            }
                                                            <input id="totalIDHolder" value="@finalID" hidden />
                                                            <h4 class="item_price" style="display: inline-block;  color: red; font-size: 26px" id="priceholdersection">@string.Format("{0:n0}", itemprice)   </h4>

                                                        </div>
                                                        <div style="display:inline-block">
                                                            <p style="font-size:18px;color: red;">تومان </p>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="row pricedetail" style="  ">
                                    <div class="row ">
                                        <div style=" min-height:65px; text-align:center">
                                            @{
                                                if (Model.isAvailable == "0")
                                                {
                                                    <div class="c-product__summary js-product-summary">
                                                        <div class="c-product__stock-status c-product__stock-status--out-of-stock">
                                                            <div class="c-product-stock__title">
                                                                ناموجود
                                                            </div>
                                                            <div class="c-product-stock__body">
                                                                متاسفانه این کالا در حال حاضر موجود نیست. می‌توانید از طریق لیست پایین صفحه، از محصولات مشابه این کالا دیدن نمایید
                                                            </div>
                                                            <button id="khabaramkon" class="  c-product-stock__action c-product-stock__action--notify js-add-to-notify-button">
                                                                موجود شد به من اطلاع بده
                                                            </button>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (metaPrice > 0)
                                                    {

                                                        <div class="priceParent" style="">
                                                            <div class="discountParentt" style="">
                                                                @if (metaPrice != oldPrice)
                                                                {
                                                                    double difference = oldPrice - metaPrice;
                                                                    if (Model.wonderDiscount != "0")
                                                                    {
                                                                        Model.discount = Model.wonderDiscount;
                                                                    }
                                                                    <p class="oldPrice" style="">
                                                                        <del>@string.Format("{0:n0}", oldPrice / 10)   <span>تومان</span></del>
                                                                    </p>

                                                                    <p class=" discountSectence " style="">
                                                                        همین امروز
                                                                        <i>@string.Format("{0:n0}", difference / 10)</i> تومان  تخفیف بگیرید
                                                                    </p>

                                                                }

                                                            </div>

                                                            <div style="display:inline-block;width:100%; direction:ltr; text-align:left">
                                                                <p style="display: inline-block;font-size:18px;color: red;">تومان </p>
                                                                <h4 class="item_price" style="display: inline-block;  color: red; font-size: 26px">@string.Format("{0:n0}", metaPrice / 10)   </h4>
                                                            </div>

                                                        </div>

                                                    }
                                                    else
                                                    {

                                                        <div class="col-lg-6" style="margin:0px;height: 100%;">
                                                            <div style="display:inline-block;height: 100%;">
                                                                <h4 class="item_price" style="display: inline-block;  color: red; font-size: 26px">@string.Format("{0:n0}", metaPrice / 10)   </h4>

                                                            </div>
                                                            <div style="display:inline-block">
                                                                <p style="font-size:18px;color: red;">تومان </p>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        @if (Model.isAvailable != "0")
                                        {
                                            <div class="mybtn addtocart" style="">
                                                <div style="border-radius: 50px 0 0 50px; background-color: #d53c0b; width: 30%; padding: 10px; display: inline-block">
                                                    <i class="glyphicon glyphicon-plus" style="display:inline-block; color:white"></i>
                                                    <img style="display:inline-block; width:40px " src="/images/cart.png">
                                                </div>
                                                <p style="text-align:center; display:inline-block; font-size:15px; width:65%; color:white" class=" ">افزودن به سبد خرید</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="">

                            <div style="width:100%; padding:10px 0 10px 0 ; border-bottom: 1px solid #eee; ">

                                <div style="">



                                    @if (Model.BrandInfo != null)
                                    {
                                        if (Model.BrandInfo.Count() > 0)
                                        {
                                            <div>
                                                <a style="cursor:pointer" href="/@Model.BrandInfo.First().title"><img src="~/images/brands/@Model.BrandInfo.First().image" style="width:100px" /></a>

                                            </div>
                                        }

                                    }
                                </div>



                            </div>

                        </div>
                        <div class="col-lg-12 " style="margin:10px; padding:10px">
                            @{
                                if (Model.otherColors != null)
                                {
                                    <h3 class="nomargin">رنگبندی:</h3>
                                    <div style="display:flex; width:100%; border-bottom: solid 1px #eee;padding:20px ">

                                        @{
                                            if (Model.otherColors != null)
                                            {

                                                <style>
                                                    .activeColor {
                                                        border: 5px solid #34970b !important;
                                                        border-radius: 8px !important;
                                                    }
                                                </style>
                                                List<banimo.ViewModelPost.OtherColor> lst = Model.otherColors.ToList();

                                                foreach (var it in lst)
                                                {
                                                    if (it.imageTitle != null)
                                                    {
                                                        var myID = "o" + @it.ID;
                                                        string classname = "";
                                                        string imgsrc = it.imageTitle.Split(',').First();
                                                        string idToGo = "" + it.ID;
                                                      
                                                        var colorID = it.otherColorFilter.First().ID;
                                                        <div class="swiper-slide product">


                                                            @if (lst.IndexOf(it) == 0)
                                                            {
                                                                classname = "activeColor";
                                                            }


                                                            <div idplaceholder="@colorID"  id="@idToGo" class="swiper-slide product @classname otherNewColor">
                                                                <div style="" class=" otherColor ">
                                                                    <img style="margin:10px; aspect-ratio:1; width:100px; border-radius:5px" src="@imgsrc"
                                                                         alt="Product Swatch" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    }

                                                }

                                            }
                                        }

                                    </div>
                                }


                            }
                        </div>

                        <div class="col-lg-12 " style="margin:10px; padding:10px">

                            <h3 style="width:100%">
                                انتخاب سایز:
                            </h3>



                            <div style="width:100%; padding:20px 0 40px 0 ; border-bottom: 1px solid #eee; padding:20px">


                                @{

                                    if (Model.otherColors != null)
                                    {
                                        foreach (var colorfilter in Model.otherColors)
                                        {
                                            string displayclass = "displayitem";
                                            string slideItemID = "S" + colorfilter.ID.ToString();
                                            if (Model.otherColors.IndexOf(colorfilter) != 0)
                                            {
                                                displayclass = "hideItem";
                                            }
                                            if (colorfilter.otherColorFilter != null)
                                            {
                                                <div itemToShow="@slideItemID" class="allbegone product-form product-variation-form product-size-swatch @displayclass">


                                                    <div class="flex-wrap d-flex align-items-center anotherOption ">
                                                        @foreach (var ocolorfilter in colorfilter.otherColorFilter)
                                                        {
                                                            var price = ocolorfilter.productprice;
                                                            var myID = ocolorfilter.ID;
                                                            string classFilter = "";
                                                            var classn = "value" + myID;
                                                            if (colorfilter.otherColorFilter.IndexOf(ocolorfilter) == 0)
                                                            {
                                                                classFilter = "activeColor";
                                                            }
                                                            <p idplaceholder="@myID" priceplaceholder="@price" class="otherfilterNew nomargin @classFilter">
                                                                <span style="font-size:18px; padding:10px; margin:10px" value="@ocolorfilter.ID">@ocolorfilter.selectedFilter <input value="0" class="@classn" style="display:none" />
                                                            </p>

                                                        }
                                                    </div>
                                                </div>

                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Model.otherProductFilter != null)
                                        {

                                            if (Model.otherProductFilter.Count > 0)
                                            {

                                                <div class="product-form product-variation-form product-size-swatch">

                                                    <p class="nomargin">سایزبندی:</p>
                                                    <div class="flex-wrap d-flex align-items-center anotherOption">
                                                        @foreach (var item in Model.otherProductFilter)
                                                        {
                                                            string classFilter = "";
                                                            if (item.selectedFilter == Model.SelectedFilter)
                                                            {
                                                                classFilter = "anotherActive";
                                                            }

                                                            var classn = "value" + item.ID;
                                                            var myID = "o" + item.ID;
                                                            <p onclick="otherColorClicked('@myID')" class="otherfilter nomargin @classFilter">
                                                                <span value="@item.ID">@item.selectedFilter</span>
                                                                <span class="@classn"></span>
                                                            </p>

                                                        }
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }





                                }
                            </div>






                            @{
                                if (!String.IsNullOrEmpty(Model.tag))
                                {
                                    <div style="width:100%; border-bottom: solid 1px #eee; padding:20px 0px; margin:0px 0px">
                                        <div style="display: inline-block;  position: relative; margin-left:20px">
                                            <h5 style="font-weight: 600;"> هشتگ ها:</h5>
                                        </div>
                                        @{
                                            List<string> list2 = Model.tag.Split(',').ToList();
                                            foreach (var tag in list2)
                                            {
                                                <div style="cursor:pointer; padding:5px; margin:5px ; border-radius:5px; background-color:#64c4ef; color:white; display:inline-block" class="tag">
                                                    <a href="/Home/productlist?tag=@tag&value=@tag" style="padding:5px; color:white; text-decoration:none">@tag</a>
                                                </div>

                                            }
                                        }
                                    </div>
                                }
                            }


                            <div class="row">
                                <div class="mybtn " style="">
                                    <div style="border-radius: 50px 15px 15px 50px; background-color: #d53c0b; width: 30%; padding: 10px; display: inline-block">
                                        <i class="glyphicon glyphicon-plus" style="display:inline-block; color:white"></i>
                                        <img style="display:inline-block; width:40px " src="/images/cart.png">
                                    </div>
                                    <p onclick="addtocart('@Model.partnerList.First().pID',$('#totalIDHolder').val(),'')" style="text-align:center; display:inline-block; font-size:15px; width:65%; color:white" class=" ">افزودن به سبد خرید</p>
                                </div>
                            </div>




                        </div>
                    </div>


                </div>



            </div>
        </div>







    </div>


<script>

    $('.addtocart').click(function () {

        var tarafH = $(this).attr('tarafH');
        var ID = $('#idholder').text();
        var RealID = "addtocarto";
        var tobeid = RealID.concat(ID);
        var tobeadded ='@Model.price';


        var price = tobeadded;
        $.ajax({
            url: '/Home/addtocart',
            dataType: 'html',
            data: {
                id: tobeid,
                price: tarafH,


            },
            success: function (data) {


                getquntity();
                toastr.options = {
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "fadeIn": 300,
                    "fadeOut": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                }
                toastr.success('محصول مورد نظر به سبد اضافه شد')
                //window.location.href = "@Url.Action("checkout", "Home")";
            },

            error: function () {

            }
        });


    })
</script>