@model IEnumerable<banimo.ViewModePost.Newest>
@using Newtonsoft.Json;

@{
    banimo.ViewModel.userdata userApp = Session["LogedInUser"] as banimo.ViewModel.userdata;
    string typeID = "";
    if (userApp != null)
    {
        typeID = userApp.userTypeID;
    }
}





@foreach (var item in Model)
{
    string addID = "addtocarto" + item.ID;
    string minusID = "minus" + item.ID;
    string imagefile = "/images/placeholder.jpg";
    string src2 = "";
    List<string> srtlist = new List<string>();
    double metaPrice = double.Parse(item.price);
    double oldPrice = double.Parse(item.oldPrice);
    if (typeID == "2")
    {
        banimo.AdminPanelBoom.ViewModel.metaVM metaModel = JsonConvert.DeserializeObject<banimo.AdminPanelBoom.ViewModel.metaVM>(item.meta);
        metaPrice = metaModel.price;
        oldPrice = 0;
    }
    if (item.title != null)
    {
        srtlist = item.image.Trim(',').Split(',').ToList();
        imagefile = srtlist[0];
        if (srtlist.Count == 2)
        {
            src2 = srtlist[1];
        }
    }
    string ID = "N" + item.ID.ToString();
    string addtocartid = "addtocart" + ID;
    string price = item.price;

    string src = imagefile;


    <div class="item " style="flex: 1 0 18%;" id=@ID>

        @{



            string newurl = "/Home/ProductDetail?id=" + ID;
            if (item.meta != "null" && item.meta != null)
            {
                banimo.ViewModePost.metaData metaModel = JsonConvert.DeserializeObject<banimo.ViewModePost.metaData>(@item.meta);
                newurl = metaModel.curl;
            }
            else
            {

            }
        }

        <a onclick="newProductDetail('@newurl')">
            <div class="item brandItemVitrin img-hover-zooom" style="border-radius:8px; padding:15px; position:relative">
                <img style="width:100%; object-fit:cover; max-height:250px!important;border-radius: 35px" onerror="this.onerror=null; this.src='/images/placeholder.jpg'" src="@src" style="" class="" />
                <div class="infoItem" style="display:none; padding: 10px;text-align: center;background-color: rgba(0,0,0,0.5);color: white;position: absolute;bottom: 0; left:0; top:0;width: 100%;">
                    <div class="titleholder">
                        @{
                            if (@System.Configuration.ConfigurationManager.AppSettings["numberType"] == "1")
                            {
                                <p class="numEn"> @item.title</p>
                            }
                            else
                            {
                                <p style="font-size:18px">@item.title</p>
                            }

                        }
                    </div>
                    <div style="margin-top:10px; position:absolute; bottom:0">
                        @{
                            if (item.isAvailable == "0")
                            {
                                <div class="c-product-box__row c-product-box__row--price"><div class="c-price"><div class="c-price__value c-price__value--plp"></div></div><div class="c-promotion-box__cover c-promotion-box__cover--out-of-stock"><div class="c-promotion-box__cover-text js-product-status">ناموجود</div></div></div>
                            }
                            else
                            {
                                if (item.price == "0")
                                {
                                    <div class="row" style="margin: 0px 15px; min-height: 49px; margin-bottom: 10px;">
                                        <p style="display:inline-block"> تماس بگیرید</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="wholeSectionPrice">
                                        <div class="discountParent" style="">
                                            @if (oldPrice != metaPrice)
                                            {
                                                <span style="" class="vitrinDiscount priceItem">
                                                    @item.discount%
                                                </span>
                                            }

                                        </div>
                                        <div style="flex:1">
                                            <div>
                                                <div class="sectionPrice" style="">
                                                    <div class="">
                                                        <div class="">
                                                            @if (metaPrice != oldPrice)
                                                            {
                                                                <p style="display: inline-block; "> تومان </p> <del class="oldPrice priceItem" style=""> @string.Format("{0:n0}", Convert.ToInt32(@item.oldPrice) / 10) </del>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sectionPrice">
                                                    <p style="display: inline-block; "> تومان </p> <p class="newPrice priceItem" style="color:white">@string.Format("{0:n0}", metaPrice / 10)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }


                    </div>
                </div>
            </div>
        </a>

    </div>

}

<script>
    var newProductDetail = function (e) {

        window.location.href = "/" + e;

    }
    $(".imageitself").hover(function () {
        var url = $(this).attr('srt2');
        if (url != "") {
            $(this).attr('src', url);
        }


    }, function () {
        var url = $(this).attr('srt1');
        $(this).attr('src', url);
    });
</script>
<style>
    .showmedetail {
        cursor: pointer
    }

    .mainParent {
        padding: 15px;
        background-color: white
    }

    .vitrinDiscount {
        color: white;
        font-size: 18px;
        font-weight: 600;
        background-color: red;
        border-radius: 15px;
        padding: 5px 10px;
    }

    .sectionPrice {
        margin: 0px 15px;
        min-height: 20px;
        text-align: right
    }

    .discountParent {
        width: 20%;
        margin-right: 5px;
        text-align: right
    }

    .oldPrice {
        font-size: 15px
    }

    .newPrice {
        color: black;
        display: inline-block;
        font-size: 20px;
        font-weight: 600
    }

    .wholeSectionPrice {
        display: flex;
        align-items: center;
        margin-bottom: 10px
    }

    .addButtonP {
        font-size: 12px !important;
        direction: rtl !important;
        color: white !important;
        width: 100% !important;
        text-align: center !important;
        background-color: #FF4500 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 5px !important;
        border: unset !important;
    }

        .addButtonP i {
            margin: 0 10px;
        }

    @@media only screen and (max-width: 600px) {
        .mainParent {
            padding: 5px
        }

        .vitrinDiscount {
            color: white;
            font-size: 12px;
            font-weight: 500;
            background-color: red;
            border-radius: 15px;
            padding: 5px;
        }

        .sectionPrice {
            margin: 0;
            padding: 5px;
            text-align: right
        }

        .addButtonP i {
            margin: 0 5px;
        }

        .addButtonP p {
            width: 70%
        }
    }
</style>