@model  banimo.ViewModel.TimeListMarketPlace

<div class="row  deliverVendor" style="direction:ltr">
    @{
        if (Model.deliver_node != null)
        {

            <table style="direction:rtl">
                <thead>
                    <tr>
                        <th>
                            ردیف
                        </th>
                        <th>
                            فروشنده
                        </th>
                        <th>
                            قیمت ارسال
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.deliver_node)
                    {
                        int index = Model.deliver_node.IndexOf(item) + 1;
                        <tr>
                            <td>@index.ToString()</td>
                            <td>@item.title</td>
                            <td>@item.price</td>
                        </tr>
                    }
                </tbody>

            </table>

            <style>
                .deliverVendor td {
                    text-align: center;
                    padding: 10px;
                    border: 1px solid #ddd
                }
            </style>

            @*<div class="col-lg-6 col-sm-6 Mmaster">
                    @foreach (var item in Model.times)
                    {
                        int index = Model.times.IndexOf(item);
                        string checkname = "check" + index;
                        <div class="halfrow master" checkS="@checkname">

                            <i class="fa fa-check dispath" checkID="@checkname"  style="display:none"></i>
                            <p  class="priceItem">@item.title</p>
                        </div>
                    }
                </div>*@

        }

        <script>
            function addCommas(nStr) {
                nStr += '';
                var x = nStr.split('.');
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }
            let price = '@Model.deliver_node.Sum(c=>c.price)';
           
            
            price = price.replace(",", "");
            let finalAmount = $("#finalamount").text().trim();
            finalAmount = finalAmount.replace(",", "");
            let final = parseFloat(price) + parseFloat(finalAmount);

           


            $("#deliveramount").text(addCommas(price));
            $("#finalamount").text(addCommas(final));

            $(".infoD").text("true")
      
        </script>
    }

</div>


<script>
    $(".master").click(function () {

        $(".dispath").css("display", "none");
        var i = $(this).children();
        i.css("display", "block");

        var id = i.attr("checkID");


        $(".slave").css("display", "none");
        $("#" + id).show();
        $(this).find('i').css("display", "block");
        $("#" + id).children().children().first().css("display", "block");
        $("#hourid").val($("#" + id).children().children().first().attr("id"));


    })
    $(".slave .halfrow").click(function () {
        $(".finalrow").css("display", "none");
        var i = $(this).children();
        i.css("display", "block");
        var id = i.attr("id");
        $("#hourid").val(id);
    })
</script>