@model banimo.ViewModel.addressPartialVM

<style>

    .Itemholderr {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 25px;
        cursor: pointer;
    }

        .Itemholderr .itemtitle {
            font-weight: 700;
        }

        .Itemholderr .itemvalue {
            margin-right: 10px;
        }

        .Itemholderr .Item {
            padding: 10px;
            text-align: right;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

            .Itemholderr .Item p {
                display: inline-block;
                text-align: right;
                direction: rtl
            }
</style>


<div class="modal fade" id="removeItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body">
               آیا از حذف آیتم مورد نظر اطمینان دارید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                <button id="removeVerify" type="button" class="btn btn-primary">تایید</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="overflow-x:auto;padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                <form method="post" id="getPDF" action="/Admin/createUserAddress">
                    <input name="data" hidden />
                    <input name="id" hidden />
                    <input value="user" name="type" hidden />
                    <h3 class="panel-title"><i class="fa fa-home fa-fw"></i> آدرس های کاربر     <i id="addAddress" class="fa fa-plus" style="float:left; font-size:20px; cursor:pointer"></i>  </h3>
                   
                </form>

            </div>
            <div class="panel-body">
                <div id="morris-area-chart">
                    <div style="overflow:auto;direction:rtl; margin-right:1px">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>عنوان </th>
                                    <th>استان </th>
                                    <th>شهر</th>
                                    <th>آدرس</th>
                                    <th>کد پستی</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody style="">

                                <tr id="newHolder" class="itemdetail" style="display:none ">
                                    <td>
                                        
                                    </td>
                                    <td>
                                       
                                        <input id="addtitle" class="city form-control" />
                                    </td>
                                    <td>
                                        
                                        <input id="addstate"class="city form-control" />
                                    </td>
                                    <td>
                                       
                                        <input id="addcity" class="city form-control" />
                                    </td>
                                    <td>
                                       
                                        <input id="addaddress"  class="address form-control" />

                                    </td>
                                    <td>
                                       
                                        <input id="addpostalcode" class="postalcode form-control" />
                                    </td>
                                    <td>
                                        
                                        <span  class="btn btn-success addverif">تایید</span>
                                    </td>

                                </tr>
                                @if (Model.MyProperty.address != null)
                                {
                                    foreach (var item in Model.MyProperty.address)
                                    {

                                        int i = Model.MyProperty.address.IndexOf(item) + 1;


                                <tr class="itemdetail" style="cursor:pointer ">
                                    <td>
                                        <span class="">@i</span>
                                        <input style="display:none" class="ID form-control" value="@item.ID" />
                                    </td>
                                    <td>
                                        <span class="lbl"> @item.title</span>
                                        <input style="display:none" class="title form-control" />
                                    </td>
                                    <td>
                                        <span class="lbl">@item.state</span>
                                        <input style="display:none" class="state form-control" />
                                    </td>
                                    <td>
                                        <span class="lbl">@item.city</span>
                                        <input style="display:none" class="city form-control" />
                                    </td>
                                    <td>
                                        <span class="lbl">@item.address</span>
                                        <input style="display:none" class="address form-control" />

                                    </td>
                                    <td>
                                        <span class="lbl">@item.postalCode</span>
                                        <input style="display:none" class="postalcode form-control" />
                                    </td>
                                    <td>
                                        <span class="btn btn-success edit">ویرایش</span>
                                        <span style="display:none" class="btn btn-success verif">تایید</span>
                                    </td>
                                    <td>
                                        <span class="btn btn-success remove">حذف</span>
                                       
                                    </td>


                                </tr>
                                    }
                                }




                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".edit").click(function () {
        $(this).hide();
        $(this).parent().parent().find(".lbl").each(function () {
            $(this).siblings().val(($(this).text()));
            $(this).hide(); 
            $(this).siblings().show();

        })
        $(this).siblings().show()
    })

    $("#addAddress").click(function () {
        $("#newHolder").show();
    });
    let toBeDelete = "";
    $(".remove").click(function () {
        toBeDelete = $(this).parent().parent().find(".ID").val();
        $("#removeItem").modal('toggle');
    })

    $("#removeVerify").click(function () {

       
        $.ajax({
            url: "/admin/removeAddress",
            data: {
                id: toBeDelete
            },
            success: function (data) {
                $("#removeItem").modal('toggle');
                $("#loading").hide();
                $.ajax({
                    url: '/Admin/AddressUser',
                    dataType: 'html',
                    data: {
                         id: @Model.ID,
                    },
                    success: function (data) {
                       
                        $("#addressList").html(data)
                        $('html,body').animate({
                            scrollTop: $("#addressList").offset().top
                        }, 'fast');
                        $("#loading").hide();
                    },
                    error: function () {

                    }
                });
            }
        })

    })
    $(".addverif").click(function () {
        let address = $("#addaddress");
        let title = $("#addtitle");
        let state = $("#addstate");
        let city = $("#addcity");
        let postalCode = $("#addpostalcode");
        $.ajax({
            url: "/admin/setAddress",
            data: {
                address: address.val(),
                postalCode: postalCode.val(),
                title: title.val(),
                city: city.val(),
                state: state.val(),
                userID: '@Model.ID'
            },
            success: function (data) {

                if (data === "200") {
                    $.ajax({
                        url: '/Admin/AddressUser',
                        dataType: 'html',
                        data: {
                            id: @Model.ID,
                        },
                        success: function (data) {

                            $("#addressList").html(data)
                            $('html,body').animate({
                                scrollTop: $("#addressList").offset().top
                            }, 'fast');
                        },
                        error: function () {

                        }
                    });
                }
            }
        })
    })
    $(".verif").click(function () {

        let address = $(this).parent().parent().find(".address");
        let title = $(this).parent().parent().find(".title");
        let state = $(this).parent().parent().find(".state");
        let city = $(this).parent().parent().find(".city");
        let postalCode = $(this).parent().parent().find(".postalcode");
        
       
        let ID = $(this).parent().parent().find(".ID");
        $.ajax({
            url: "/Home/setAddress",
            data: {
                address: address.val(),
                postalCode: postalCode.val(),
                title: title.val(),
                city: city.val(),
                state: state.val(),
                id: ID.val()
            },
            success: function (data) {
                
                if (data === "200") {
                  

                    address.siblings().text(address.val());
                    address.siblings().show();
                    address.hide(); 

                    postalCode.siblings().text(postalCode.val());
                    postalCode.siblings().show();
                    postalCode.hide();

                    title.siblings().text(title.val());
                    title.siblings().show();
                    title.hide();

                    city.siblings().text(city.val());
                    city.siblings().show();
                    city.hide();

                    state.siblings().text(state.val());
                    state.siblings().show();
                    state.hide();
                }
            }
        })

        $(this).hide();
        $(this).siblings().show()


    })
</script>