@{
    ViewBag.Title = "Payment Verificatin";
    Layout = "~/Views/Shared/_Layout7.cshtml";
}


<style>
    .p {
        width: 70%;
        margin: auto;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .childofp {
        margin: 3%;
    }

        .childofp p {
            text-align: right
        }
</style>



@{
    if (@ViewBag.message == "موفق")
    {
        <div class="container" style="text-align:center; direction:rtl; padding:50px 50px;background-color: white;margin-top: 20px;margin-bottom:20px; border: 1px #ddd solid;border-radius: 10px;">

            <div class="row" style="display:flex">
                <img style="width:150px; float:left; margin:auto" src="~/images/successPayment.png" />
            </div>

            <h4 style="text-align:center; float:right;color:#4d4d4d;padding: 30px;width:100%; ">
                Order is registered successfully
            </h4>
            <h4 style="text-align:center;font-size:18px;">Factor Number:   <span style="font-size:25px"></span>@ViewBag.message3 </h4>
            <div class="btn btn-default" style="margin:25px"><a href="/">Back To Main Page</a> </div>





        </div>

    }
    else
    {
        <div class="container" style="text-align:center; direction:rtl; padding:50px 50px;background-color: white;margin-top: 20px;border: 1px #ddd solid;border-radius: 10px;">

            <div class="row" style="display:flex">

                <img src="~/images/paymentError.png" style="width:150px; float:left; margin:auto" />
            </div>

            <h4 style="text-align:center; float:right;color:#4d4d4d;padding: 30px;width:100%; ">
                Error ! Somthing is wrong.
            </h4>

            <div class="btn btn-default" style="margin:25px"><a href="/Home/index">Back To Main Page</a> </div>


            @{
                string srt = ViewBag.package + "//" + "mellatgate-" + @ViewBag.message + "-" + @ViewBag.message3;

                <div class="btn btn-default" style="margin:25px"> <a style="font-size:15px" id="android" href="@srt">Back To App</a></div>

            }





        </div>

    }
}





