@model banimo.AdminPanel.ViewModel.FeatureModel


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home0-tab" data-bs-toggle="tab" data-bs-target="#nav-home0" type="button" role="tab" aria-controls="nav-home0" aria-selected="true">@Resources.res.createItem  </button>
        <button class="nav-link " id="nav-profile0-tab" data-bs-toggle="tab" data-bs-target="#nav-profile0" type="button" role="tab" aria-controls="nav-profile0" aria-selected="false">@Resources.res.removeItem </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home0" role="tabpanel" aria-labelledby="nav-home0-tab">
        @{

            List<SelectListItem> listofmainF = new List<SelectListItem>();
            if (Model.featureData[0].mainFeatures != null)
            {
                foreach (var item in Model.featureData[0].mainFeatures)

                {
                    listofmainF.Add(new SelectListItem
                    {
                        Text = item.title,
                        Value = item.ID
                    });


                }
            }


        }

        <div style="display:flex; align-items:center; margin:35px">
            <div class="component ">
                @Html.DropDownList("mainF", listofmainF, Resources.res.choosParent, new { id = "mainF", style = "width:100%", @class = "form-control" })
            </div>

            <div class="component " style="margin:0 20px">
                <input class="form-control" type="text" id="level1title" placeholder="@Resources.res.PrentOrChildTitle" />
            </div>






            <div class="component " style="direction:rtl">

                @* <button id="DEFcatok" class="btn btn-primary" onclick="DEFcatokclicked(DEFcatok)">تایید</button>*@
                <button id="createfeature" class="btn btn-primary">@Resources.res.OK</button>
                <script>
                $("#createfeature").click(function () {

                    var level1title = $("#level1title").val();
                    var catID = $("#maincat").val();
                    var mainF = $("#mainF").val();



                    if (level1title != "" & catID != "") {

                        $.ajax({
                            url: '/Node/createFeature',
                            dataType: 'html',
                            data: {
                                level1title: level1title,
                                catID: catID,
                                mainF: mainF

                            },
                            success: function (data) {

                                $.ajax({
                                    url: '/Node/getfeature',
                                    dataType: 'html',
                                    data: {
                                        catID: catID,

                                    },
                                    success: function (data) {
                                        $("#featureholder").html(data);
                                    },
                                    error: function () {
                                        alert("@Resources.res.error")
                                    }
                                });

                            },
                            error: function () {
                                alert("@Resources.res.error")
                            }
                        });

                    }

                })

                </script>


            </div>
        </div>
        
    </div>
    <div class="tab-pane fade " id="nav-profile0" role="tabpanel" aria-labelledby="nav-profile0-tab">
       

        <div style="display:flex; align-items:center; margin:35px">
            <div class="component ">
                @Html.DropDownList("mainf", listofmainF, Resources.res.SelectParent, new { id = "mainf", style = "width:100%", @class = "form-control" })
            </div>

            @{
                List<SelectListItem> listofsubF = new List<SelectListItem>();
                if (Model.featureData[0].subFeatures != null)
                {

                    foreach (var item in Model.featureData[0].subFeatures)
                    {
                        listofsubF.Add(new SelectListItem
                        {
                            Text = item.title,
                            Value = item.ID
                        });


                    }
                }


            }
            <div class="component " style="margin:0 25px">
                @Html.DropDownList("subf", listofsubF, Resources.res.selectitem, new { id = "subf", style = "width:100%", @class = "form-control" })
            </div>





            <div class="component " style="direction:rtl">

                @* <button id="DEFcatok" class="btn btn-primary" onclick="DEFcatokclicked(DEFcatok)">تایید</button>*@
                <button id="deletefeature" class="btn btn-primary">@Resources.res.OK</button>
                <script>
                $("#deletefeature").click(function () {

                    var subf = $("#subf").val();
                    var mainf = $("#mainf").val();
                    var maincatdel = $("#maincat").val();


                    if (level1title != "" && (mainf != "" || subf != "")) {

                        $.ajax({
                            url: '/Node/deleteFeature',
                            dataType: 'html',
                            data: {

                                subf: subf,
                                mainf: mainf

                            },
                            success: function (data) {

                                if (data === "subexist") {
                                    toastr.options = {
                                        "debug": false,
                                        "positionClass": "toast-top-center",
                                        "onclick": null,
                                        "fadeIn": 300,
                                        "fadeOut": 1000,
                                        "timeOut": 5000,
                                        "extendedTimeOut": 1000
                                    }

                                    toastr.error('@Resources.res.ItemHasSubItem')
                                }
                                else {
                                    $.ajax({
                                        url: '/Node/getfeature',
                                        dataType: 'html',
                                        data: {
                                            catID: maincatdel,

                                        },
                                        success: function (data) {
                                            $("#featureholder").html(data);
                                        },
                                        error: function () {
                                            alert("@Resources.res.error")
                                        }
                                    });
                                }


                            },
                            error: function () {
                                alert("@Resources.res.error")
                            }
                        });

                    }

                })

                </script>


            </div>
        </div>
      
    </div>
</div>


