@model banimo.AdminPanel.ViewModel.productDetailPageViewModel




<div class="row" style="margin:30px">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home0-tab" data-bs-toggle="tab" data-bs-target="#nav-home0" type="button" role="tab" aria-controls="nav-home0" aria-selected="true">New Filter </button>
            <button class="nav-link " id="nav-profile0-tab" data-bs-toggle="tab" data-bs-target="#nav-profile0" type="button" role="tab" aria-controls="nav-profile0" aria-selected="false">Filter Options</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home0" role="tabpanel" aria-labelledby="nav-home0-tab">
            <div class="">

                <div class="form-group " id="newfilterholder" style=" ">
                    <div style="" class="control-label component" for="first-name">
                        <p class="titlesection">Define Filter Item</p>
                    </div>
                    <div class="row form-holder">
                        <label style="display:inline-block" class="control-label component col-lg-2" for="first-name">
                            Title :
                        </label>

                        <input style="display:inline-block" class="col-lg-8 form-control" type="text" id="newFilteName" />
                    </div>


                    <div class="component form-holder" style="direction: rtl; ">
                        <button id="addfilterbut" class="btn btn-primary">Verify</button>
                        <script>
                            $(document).ready(function () {
                                $("#addfilterbut").click(function () {

                                    var newFilterName = $("#newFilteName").val();
                                    var VALUE = $("#selectedCatForEdit").val();
                                    if (newFilterName.length > 0) {
                                        $.ajax({
                                            url: '/Node/addNewFilter',
                                            dataType: 'html',
                                            data: {
                                                name: newFilterName,
                                                catid: VALUE
                                            },
                                            success: function (data) {

                                                if (data === "error") {
                                                    toastr.options = {
                                                        "debug": false,
                                                        "positionClass": "toast-top-center",
                                                        "onclick": null,
                                                        "fadeIn": 300,
                                                        "fadeOut": 1000,
                                                        "timeOut": 5000,
                                                        "extendedTimeOut": 1000
                                                    }

                                                    toastr.success('Error');
                                                    location.reload();
                                                }
                                                if (data === "success") {


                                                    $.ajax({
                                                        url: '/Node/getfilters',
                                                        dataType: 'html',
                                                        data: {
                                                            catID: VALUE,
                                                        },
                                                        success: function (data) {

                                                            $("#mainDetailHolder").html(data)
                                                            $("#questioncolorholder").css("display", "inline")
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.success('item is added');

                                                        },
                                                        error: function () {
                                                            alert("Error")
                                                        }
                                                    });
                                                    //location.reload();
                                                }


                                            },
                                            error: function () {
                                                alert("Error")
                                            }
                                        });
                                    }
                                    else {
                                        alert("Enter title")

                                    }

                                })
                            })

                        </script>
                    </div>
                </div>
                <div class="form-group " id="delfilterholder" style=" ">
                    <div style="" class="control-label component" for="first-name">
                        <p class="titlesection">Remove Filter Item</p>
                    </div>
                    <div class="row form-holder">
                        <label class="control-label component" for="first-name">
                            Select Item :
                        </label>

                        <div class="component " id="filterfordelholder">

                            @{

                                List<SelectListItem> listItems = new List<SelectListItem>();
                                if (Model.filterlist != null)
                                {
                                    foreach (var item in Model.filterlist)
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = item.filtername,
                                            Value = item.ID
                                        });
                                    }
                                }

                                @Html.DropDownList("selectedFilter", listItems, "-- Select Status --", new { id = "selectedFilter", style = "width:100%", @class = "form-control" })


                            }
                        </div>
                        <div class="component form-holder" style="direction: rtl; ">
                            <button id="Delfilterbutton" class="btn btn-primary">Verify</button>
                            <script>
                                $(document).ready(function () {
                                    $("#Delfilterbutton").click(function () {

                                        var strUser = $("#selectedFilter").val();
                                        var VALUE = $("#selectedCatForEdit").val();

                                        if (strUser.length !== 0) {

                                            $.ajax({
                                                url: '/Node/delFilter',
                                                dataType: 'html',
                                                data: {
                                                    name: strUser,
                                                },
                                                success: function (data) {




                                                    $.ajax({
                                                        url: '/Node/getfilters',
                                                        dataType: 'html',
                                                        data: {
                                                            catID: VALUE,
                                                        },
                                                        success: function (data) {

                                                            $("#mainDetailHolder").html(data)
                                                            $("#questioncolorholder").css("display", "inline")
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.success('Item is deleted');

                                                        },
                                                        error: function () {
                                                            alert("Error")
                                                        }
                                                    });
                                                    //location.reload();

                                                },
                                                error: function () {
                                                    alert("Error")
                                                }
                                            });
                                        }
                                        else {
                                            alert("choose category");
                                        }

                                    })
                                })

                            </script>
                        </div>
                    </div>

                </div>
                <div class="form-group " id="editfilterholder" style=" ">
                    <div style="" class="control-label component" for="first-name">
                        <p class="titlesection">Edit Filter Item</p>
                    </div>

                    <div class="form-holder">
                        <label class="control-label component" for="first-name">
                            Select Filter Item :
                        </label>
                        <div class="component" id="filterfordelholder">
                            @Html.DropDownList("selectedFilter", listItems, "-- Select Status --", new { id = "selectedFilterEdit", style = "width:100%", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-holder">
                        <label class="control-label component" for="first-name">
                            New Title  :
                        </label>
                        <input class="form-control" type="text" id="newFileNameEdit" />
                    </div>


                    <div class="component form-holder" style="direction: rtl; ">
                        <button id="EditFilter" class="btn btn-primary">Verify Edit</button>
                        <script>
                            $(document).ready(function () {
                                $("#EditFilter").click(function () {

                                    var strUser = $("#selectedFilterEdit").val();
                                    var NewVALUE = $("#newFileNameEdit").val();
                                    var VALUE = $("selectedCatForEdit").val();
                                    if (strUser.length !== 0) {

                                        $.ajax({
                                            url: '/Node/editFilter',
                                            dataType: 'html',
                                            data: {
                                                name: strUser,
                                                newvalue: NewVALUE,
                                            },
                                            success: function (data) {


                                                if (data === "success") {
                                                    $.ajax({
                                                        url: '/Node/getfilters',
                                                        dataType: 'html',
                                                        data: {
                                                            catID: VALUE,
                                                        },
                                                        success: function (data) {

                                                            $("#mainDetailHolder").html(data)
                                                            $("#questioncolorholder").css("display", "inline")
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.success('ویرایش انجام شد');

                                                        },
                                                        error: function () {
                                                            alert("Error")
                                                        }
                                                    });
                                                }

                                                else {
                                                    toastr.options = {
                                                        "debug": false,
                                                        "positionClass": "toast-top-center",
                                                        "onclick": null,
                                                        "fadeIn": 300,
                                                        "fadeOut": 1000,
                                                        "timeOut": 5000,
                                                        "extendedTimeOut": 1000
                                                    }

                                                    toastr.error('Error در ارتباط با سرور');

                                                }

                                                //location.reload();

                                            },
                                            error: function () {
                                                alert("Error")
                                            }
                                        });
                                    }
                                    else {
                                        alert("choose category");
                                    }

                                })
                            })

                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="nav-profile0" role="tabpanel" aria-labelledby="nav-profile0-tab">

            @{
                if (@Model.filterlist != null && @Model.filterlist != null)
                {
                    <div style="margin:30px">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                @foreach (var myitem in Model.filterlist)
                                {

                                    string classname = Model.filterlist.IndexOf(myitem) == 0 ? "active" : "";
                                    string itemname = "item" + myitem.ID;
                                    <button class="nav-link @classname" id="nav-@itemname-tab" data-bs-toggle="tab" data-bs-target="#nav-@itemname" type="button" role="tab" aria-controls="nav-@itemname" aria-selected="true">@myitem.filtername</button>

                                }
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            @foreach (var myitem in Model.filterlist)
                            {
                                string classname = Model.filterlist.IndexOf(myitem) == 0 ? "show active" : "";
                                string itemname = "item" + myitem.ID;
                                string ID = myitem.ID;
                                string createbutt = "createbutt" + ID;
                                string delbutt = "delbutt" + ID;
                                string editbutt = "editbutt" + ID;
                                string filterdetailtitle = "filterdetailtitle" + ID;
                                string filterdetaillist = "filterdetaillist" + ID;
                                string filterdetaillistEdit = "filterdetaillistEdit" + ID;
                                string filterdetailNewtitle = "filterdetailNewtitle" + ID;
                                <div class="tab-pane fade @classname" id="nav-@itemname" role="tabpanel" aria-labelledby="nav-@itemname-tab">
                                    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left ">


                                        <div class="holderofformgroup">
                                            <div class="form-group ">
                                                <div style="" class="control-label component" for="first-name">
                                                    <p class="titlesection"> Defint New Option  (@myitem.filtername)</p>
                                                </div>
                                                <div class="row form-holder">
                                                    <label class="control-label component" for="first-name">
                                                        Title :
                                                    </label>
                                                    <div class="component">
                                                        <input type="text" id=@filterdetailtitle required="required" class="form-control INP">
                                                    </div>
                                                </div>



                                                <div class="component form-holder" style="direction:rtl">

                                                    @* <button id="DEFcatok" class="btn btn-primary" onclick="DEFcatokclicked(DEFcatok)">تایید</button>*@
                                                    <button id=@createbutt class="btn btn-primary butt">Verify Option Title</button>

                                                </div>
                                                <script>
                                            $(document).ready(function () {
                                                var index = "@myitem.ID";
                                                var classname = "createbutt" + index;
                                                var filterdetailtitle = "filterdetailtitle" + index;

                                                $("#" + classname).click(function () {

                                                    var VALUE = $("#" + filterdetailtitle).val();


                                                    $.ajax({
                                                        url: '/Node/setnewfilter',
                                                        dataType: 'html',
                                                        data: {
                                                            filterid: index,
                                                            detailtitle: VALUE,
                                                        },
                                                        success: function (data) {

                                                            if (data === "1") {
                                                                $("#" + filterdetailtitle).val('');
                                                                var newvluew = $("#selectedCatForEdit").val();
                                                                //$.ajax({
                                                                //    url: '/Node/getfilters',
                                                                //    dataType: 'html',
                                                                //    data: {
                                                                //        catID: newvluew,
                                                                //    },
                                                                //    success: function (data) {

                                                                //        $("#mainDetailHolder").html(data)
                                                                //        $("#questioncolorholder").css("display", "inline")


                                                                //    },
                                                                //    error: function () {
                                                                //        alert("Error")
                                                                //    }
                                                                //});
                                                                toastr.options = {
                                                                    "debug": false,
                                                                    "positionClass": "toast-top-center",
                                                                    "onclick": null,
                                                                    "fadeIn": 300,
                                                                    "fadeOut": 1000,
                                                                    "timeOut": 5000,
                                                                    "extendedTimeOut": 1000
                                                                }

                                                                toastr.success('Filter option is added successfully')


                                                                //  setTimeout(
                                                                //function () {
                                                                //    location.reload();
                                                                //}, 1500);


                                                            }
                                                            else if (data === "0") {
                                                                toastr.options = {
                                                                    "debug": false,
                                                                    "positionClass": "toast-top-center",
                                                                    "onclick": null,
                                                                    "fadeIn": 300,
                                                                    "fadeOut": 1000,
                                                                    "timeOut": 5000,
                                                                    "extendedTimeOut": 1000
                                                                }

                                                                toastr.error('Item Not Found ')

                                                            }
                                                            else {
                                                                toastr.options = {
                                                                    "debug": false,
                                                                    "positionClass": "toast-top-center",
                                                                    "onclick": null,
                                                                    "fadeIn": 300,
                                                                    "fadeOut": 1000,
                                                                    "timeOut": 5000,
                                                                    "extendedTimeOut": 1000
                                                                }

                                                                toastr.error('Error')
                                                            }


                                                        },
                                                        error: function () {
                                                            alert("Error")
                                                        }
                                                    });
                                                })
                                            })

                                                </script>


                                            </div>
                                            <div class="form-group ">
                                                <div style="" class="control-label component" for="first-name">
                                                    <p class="titlesection"> Remove  Option Item (@myitem.filtername)</p>
                                                </div>
                                                <div class="form-holder row">
                                                    <label class="control-label component" for="first-name">
                                                        Select Option To Remove  :
                                                    </label>
                                                    <div class="component">

                                                        <select id=@filterdetaillist name=filterdetaillist style="width:100%" class="form-control">
                                                            @if (myitem.filterdetailes != null)
                                                            {
                                                                foreach (var detail in myitem.filterdetailes)
                                                                {

                                                                    <option value=@detail.ID> @detail.detailname</option>
                                                                }
                                                            }



                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="component form-holder" style="direction:rtl">

                                                    <button id=@delbutt class="btn btn-primary">Verify Remove</button>
                                                </div>

                                            </div>
                                            <script>
                                        $(document).ready(function () {

                                            var index = "@myitem.ID";
                                            var delclassname = "delbutt" + index;
                                            var filterdetaillist = "filterdetaillist" + index;

                                            $("#" + delclassname).click(function () {

                                                var filterVALUE = $("#" + filterdetaillist + " option:selected").val();

                                                $.ajax({
                                                    url: '/Node/delfilterdetail',
                                                    dataType: 'html',
                                                    data: {
                                                        detailid: filterVALUE,
                                                    },
                                                    success: function (data) {

                                                        if (data === "1") {
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.success(' Item is deleted Successfully')
                                                            $("#" + filterdetaillist + " option:selected").remove()
                                                             var newvluew = $("#selectedCatForEdit").val();
                                                            //$.ajax({
                                                            //    url: '/Node/getfilters',
                                                            //    dataType: 'html',
                                                            //    data: {
                                                            //        catID: newvluew,
                                                            //    },
                                                            //    success: function (data) {

                                                            //        $("#mainDetailHolder").html(data)
                                                            //        $("#questioncolorholder").css("display", "inline")


                                                            //    },
                                                            //    error: function () {
                                                            //        alert("Error")
                                                            //    }
                                                            //});
                                                        }

                                                        else {
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.error('Error')
                                                        }


                                                    },
                                                    error: function () {
                                                        alert("Error")
                                                    }
                                                });
                                            })
                                        })


                                            </script>

                                            <div class="form-group ">
                                                <div style="" class="control-label component" for="first-name">
                                                    <p class="titlesection"> Edit Option Item (@myitem.filtername)</p>
                                                </div>
                                                <div class="row form-holder">
                                                    <label class="control-label component" for="first-name">
                                                        Option Title :
                                                    </label>
                                                    <div class="component">

                                                        <select id=@filterdetaillistEdit name=@filterdetaillistEdit style="width:100%" class="form-control">
                                                            @if (myitem.filterdetailes != null)
                                                            {
                                                                foreach (var detail in myitem.filterdetailes)
                                                                {

                                                                    <option value=@detail.ID> @detail.detailname</option>
                                                                }
                                                            }



                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-holder">
                                                    <label class="control-label component" for="first-name">
                                                        New Title :
                                                    </label>
                                                    <div class="component">
                                                        <input type="text" id=@filterdetailNewtitle required="required" class="form-control INP">
                                                    </div>
                                                </div>

                                                <div class="component form-holder" style="direction:rtl">

                                                    <button id=@editbutt class="btn btn-primary">Verify Edit</button>
                                                </div>

                                            </div>
                                            <script>
                                        $(document).ready(function () {

                                            var index = "@myitem.ID";
                                            var editclassname = "editbutt" + index;
                                            var filterdetaillistEdit = "filterdetaillistEdit" + index;
                                            var filterdetailNewtitle = "filterdetailNewtitle" + index;
                                            $("#" + editclassname).click(function () {

                                                var filterVALUE = $("#" + filterdetaillistEdit + " option:selected").val();

                                                var newVALUE = $("#" + filterdetailNewtitle).val();

                                                $.ajax({
                                                    url: '/Node/editfilterdetail',
                                                    dataType: 'html',
                                                    data: {
                                                        detailid: filterVALUE,
                                                        newvalue: newVALUE
                                                    },
                                                    success: function (data) {

                                                        if (data === "1") {
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.success('Edit Is Done Successfully ')

                                                             var newvluew = $("#selectedCatForEdit").val();
                                                            $.ajax({
                                                                url: '/Node/getfilters',
                                                                dataType: 'html',
                                                                data: {
                                                                    catID: newvluew,
                                                                },
                                                                success: function (data) {

                                                                    $("#mainDetailHolder").html(data)
                                                                    $("#questioncolorholder").css("display", "inline")


                                                                },
                                                                error: function () {
                                                                    alert("Error")
                                                                }
                                                            });
                                                        }

                                                        else {
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 5000,
                                                                "extendedTimeOut": 1000
                                                            }

                                                            toastr.error('Error')
                                                        }


                                                    },
                                                    error: function () {
                                                        alert("Error")
                                                    }
                                                });
                                            })
                                        })


                                            </script>





                                        </div>

                                        <div class="ln_solid"></div>





                                    </div>
                                </div>


                            }
                        </div>
                    </div>




                }

            }
        </div>
    </div>
</div>


@*<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-select-tab" data-bs-toggle="tab" data-bs-target="#nav-select" type="button" role="tab" aria-controls="nav-select" aria-selected="true">Selectable Filters</button>
        <button class="nav-link " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Range Filters</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-select" role="tabpanel" aria-labelledby="nav-select-tab">




    </div>
    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row" style="margin:30px">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home00-tab" data-bs-toggle="tab" data-bs-target="#nav-home00" type="button" role="tab" aria-controls="nav-home00" aria-selected="true">Manage Item </button>
                    <button class="nav-link " id="nav-profile00-tab" data-bs-toggle="tab" data-bs-target="#nav-profile00" type="button" role="tab" aria-controls="nav-profile00" aria-selected="false">Remove Item</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home00" role="tabpanel" aria-labelledby="nav-home00-tab">
                    <div class="form-group " id="newfilterholder" style=" ">
                        <div class="row ">
                            <div style="" class="control-label component" for="first-name">
                                <p class="titlesection">Define Filter Range  </p>
                            </div>




                        </div>
                        <div class="row" style="margin-top:20px">

                            <div class="col-lg-6 col-md-6  col-sm-12">
                                <label class="control-label component" for="first-name" style="width:100%">
                                    Title :
                                </label>
                                <input id="rangeFieldSelected" style="display:inline-block;" class="form-control" />
                            </div>

                            <div class="col-lg-6 col-md-6  col-sm-12">
                                <label class="control-label component" for="first-name" style="width:100%">
                                    Unit :
                                </label>
                                <input id="rangeFieldSelectedVahed" style="display:inline-block;" class="form-control" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">

                            <div class="col-lg-6 col-md-6  col-sm-12">
                                <label class="control-label component" for="first-name" style="width:100%">
                                    Start Point  :
                                </label>
                                <input id="FromSelected" style="display:inline-block;" class="form-control" />
                            </div>

                            <div class="col-lg-6 col-md-6  col-sm-12">
                                <label class="control-label component" for="first-name" style="width:100%">
                                    End Point  :
                                </label>
                                <input id="ToSelected" style="display:inline-block;" class="form-control" />
                            </div>

                        </div>






                        <div class="component form-holder" style="direction: rtl; ">
                            <button id="addRangeFilter" class="btn btn-primary">Verify</button>
                            <script>
                                $(document).ready(function () {
                                    $("#addRangeFilter").click(function () {

                                        var rangeFieldSelected = $("#rangeFieldSelected").val();
                                        var rangeFieldSelectedVahed = $("#rangeFieldSelectedVahed").val();
                                        var FromSelected = $("#FromSelected").val();
                                        var ToSelected = $("#ToSelected").val();
                                        var catID = $("#selectedCatForEdit").val();

                                        if (rangeFieldSelected != "" && FromSelected != "" && ToSelected != "") {
                                            $.ajax({
                                                url: '/Node/addNewRangFilter',
                                                dataType: 'html',
                                                data: {
                                                    rangeFieldSelected: rangeFieldSelected,
                                                    Vahed: rangeFieldSelectedVahed,
                                                    FromSelected: FromSelected,
                                                    ToSelected: ToSelected,
                                                    catID: catID
                                                },
                                                success: function (data) {

                                                    if (data === "error") {
                                                        toastr.options = {
                                                            "debug": false,
                                                            "positionClass": "toast-top-center",
                                                            "onclick": null,
                                                            "fadeIn": 300,
                                                            "fadeOut": 1000,
                                                            "timeOut": 5000,
                                                            "extendedTimeOut": 1000
                                                        }

                                                        toastr.error('Error');
                                                        // location.reload();
                                                    }
                                                    if (data === "success") {

                                                        var newvluew = $("#selectedCatForEdit").val();
                                                        toastr.options = {
                                                            "debug": false,
                                                            "positionClass": "toast-top-center",
                                                            "onclick": null,
                                                            "fadeIn": 300,
                                                            "fadeOut": 1000,
                                                            "timeOut": 5000,
                                                            "extendedTimeOut": 1000
                                                        }

                                                        toastr.success('Successfully Added');
                                                        $.ajax({
                                                            url: '/Node/getfilters',
                                                            dataType: 'html',
                                                            data: {
                                                                catID: newvluew,
                                                            },
                                                            success: function (data) {

                                                                $("#mainDetailHolder").html(data)
                                                                $("#questioncolorholder").css("display", "inline")


                                                            },
                                                            error: function () {
                                                                alert("Error")
                                                            }
                                                        });
                                                    }

                                                },
                                                error: function () {
                                                    alert("Error")
                                                }
                                            });
                                        }
                                        else {
                                            alert("Insert Title First")

                                        }

                                    })
                                })

                            </script>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="nav-profile00" role="tabpanel" aria-labelledby="nav-profile00-tab">
                    <div class="form-group " id="delfilterholder" style=" ">

                        <div class="row ">
                            <div style="" class="control-label component" for="first-name">
                                <p class="titlesection">Define Filter Range  </p>
                            </div>




                        </div>
                        <div class="form-holder">
                            <label class="control-label component" for="first-name">
                                Title :
                            </label>
                            @{

                                List<SelectListItem> rangeActive = new List<SelectListItem>();
                                if (Model.Range != null)
                                {
                                    if (Model.Range != null)
                                    {
                                        foreach (var item in Model.Range)
                                        {
                                            rangeActive.Add(new SelectListItem
                                            {
                                                Text = item.title,
                                                Value = item.ID
                                            });
                                        }
                                    }

                                }

                                @Html.DropDownList("rangeFieldActiveSelected", rangeActive, "-- Select Status --", new { id = "rangeFieldActiveSelected", style = " display:inline-block", @class = "form-control" })


                            }
                        </div>


                        <div class="component form-holder" style="direction: rtl; ">
                            <button data-toggle="modal" data-target="#rangeModal" id="delRangeFilter" class="btn btn-primary">Verify</button>
                            <div class="modal fade" id="rangeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <p style="text-align:left">No Product Must Be Attached  </p>
                                            <p style="text-align:left">Are You Sure Deleting This Item</p>

                                            <div class="button-box">
                                                <button type="button" class="btn btn--no" data-bs-dismiss="modal" data-bs-original-title="">Cancel</button>
                                                <button type="button" class="btn  btn--yes btn-primary" data-bs-original-title="" title="" id="Rangedelete">Verify</button>
                                                <script>
                                                    $("#Rangedelete").click(function () {
                                                        var rangeFieldSelected = $("#rangeFieldActiveSelected").val();
                                                        if (rangeFieldSelected != "") {
                                                            $.ajax({
                                                                url: '/Node/delNewRangFilter',
                                                                dataType: 'html',
                                                                data: {
                                                                    id: rangeFieldSelected,

                                                                },
                                                                success: function (data) {

                                                                    if (data === "error") {
                                                                        toastr.options = {
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-center",
                                                                            "onclick": null,
                                                                            "fadeIn": 300,
                                                                            "fadeOut": 1000,
                                                                            "timeOut": 5000,
                                                                            "extendedTimeOut": 1000
                                                                        }

                                                                        toastr.success('Error');
                                                                        // location.reload();
                                                                    }
                                                                    else if (data === "success") {


                                                                        var newvluew = $("#selectedCatForEdit").val();
                                                                        $.ajax({
                                                                            url: '/Node/getfilters',
                                                                            dataType: 'html',
                                                                            data: {
                                                                                catID: newvluew,
                                                                            },
                                                                            success: function (data) {

                                                                                $("#mainDetailHolder").html(data)
                                                                                $("#questioncolorholder").css("display", "inline")


                                                                            },
                                                                            error: function () {
                                                                                alert("Error")
                                                                            }
                                                                        });
                                                                    }
                                                                    else if (data === "exist") {

                                                                        toastr.options = {
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-center",
                                                                            "onclick": null,
                                                                            "fadeIn": 300,
                                                                            "fadeOut": 1000,
                                                                            "timeOut": 5000,
                                                                            "extendedTimeOut": 1000
                                                                        }

                                                                        toastr.error('Some Product Still Are Attached');

                                                                    }


                                                                },
                                                                error: function () {
                                                                    alert("Error")
                                                                }
                                                            });
                                                        }
                                                        else {
                                                            alert("Enter title please")

                                                        }
                                                        $("#rangeModal").modal('hide');
                                                    })

                                                </script>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <script>
                                $("#delRangeFilter").click(function () {
                                    $("#rangeModal").modal('toggle');
                                })
                            </script>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>*@

<style>
    .form-group {
        padding: 15px;
        margin: 30px;
        -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        border-radius: 15px
    }

    .titlesection {
        padding: 10px 0;
        font-weight: 600;
        font-size: 16px;
        border-bottom: 2px solid purple;
        margin-bottom: 20px;
    }

    .form-holder {
        padding: 10px;
        margin: 10px
    }
</style>





