@model banimo.ViewModel.UserListOfAdmin

<table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:70px">
    <thead>
        <tr>

            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Title</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Email</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Phone</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Actions</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Users != null)
        {
            foreach (var item in Model.Users)
            {

                string cls = "odd";
                if (Model.Users.IndexOf(item) + 1 % 2 == 0)
                {
                    cls = "even";
                }

                <tr class="@cls">

                    <td style="display: none" id="mobileHolder">@item.token</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullname)
                    </td>
                    <td style="">
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td style="">
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>




                    <td>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">

                                    <i id=@item.token class="ri-user-2-line checkPartnerbutton"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <a href="javascript:void(0)">
                                        <i id=@item.ID class="ri-pencil-fill Pbutton"></i>
                                    </a>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">

                                    <i id=@item.ID class="ri-delete-bin-line Dbutton"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        }




    </tbody>
</table>
<script>
                                    var id
                                $(".checkPartnerbutton").click(function () {
                                    var id = $(this).attr("id");
                                    var phone = $(this).parent().parent().find('#mobileHolder').text().trim();

                                    $.ajax({
                                        url: '/Node/checkPartnerStatus',
                                        dataType: 'html',
                                        data: {
                                            id: id,
                                        },
                                        success: function (data) {

                                            $("#partnerDataHolder").html(data);
                                            $("#partnerDataHolder").scroll();
                                            $(".patnerUsername").val(phone);

                                        },
                                        error: function () {

                                        }
                                    });
                                });
                                    $("#removeU").click(function () {
                                        var id = $(".idToRemove").text();

                                        $.ajax({
                                            url: '/Node/DeleteUser',
                                            dataType: 'html',
                                            data: {
                                                id: id,
                                            },
                                            success: function (data) {

                                                $("#changeUserList").click();
                                                $("#delmodal").modal("toggle");

                                            },
                                            error: function () {

                                            }
                                        });
                                    })

                                $(".Dbutton").click(function () {

                                    var id = $(this).attr("id");
                                    $(".idToRemove").text(id);
                                    $("#delmodal").modal("toggle");

                                });
                                  $(".Pbutton").click(function () {
                                    var rowid = $(this).attr("id");
                                    var articles = @Html.Raw(Json.Encode(Model.Users));
                                    $("#editUserModal").modal("toggle");
                                    $("#detailholder").css("display", "inline-block");
                                    $('html,body').animate({
                                        scrollTop: $("#detailholder").offset().top
                                    }, 'fast');

                                    $.each(articles, function (index, item) {
                                        if (item.ID.toString() === rowid) {

                                            $("#UserListUpdate option").each(function () {

                                                if ($(this).val() === item.userTypeID) {

                                                    $("option:selected").removeAttr("selected");
                                                    $(this).attr("selected", "selected");
                                                }
                                            })

                                            var imagaddress = "/images/panelimages/" + item.image;
                                            $("#fullnameUpdate").val(item.fullname);
                                            $("#emailupdate").val(item.email);
                                            $("#phoneupdate").val(item.mobile);
                                            $("#addressupdate").val(item.address);
                                            $("#IDupdate").val(item.ID);



                                        }


                                    });

                                });
                                  $(".Terminate").click(function () {
                                      var token = $(this).attr('id');
                                      $.ajax({
                                          url: '/Node/checkPartnerStatus',
                                          dataType: 'html',
                                          data: {
                                              id: id,
                                          },
                                          success: function (data) {

                                              $("#partnerDataHolder").html(data);
                                              $("#partnerDataHolder").scroll();
                                              $(".patnerUsername").val(phone);

                                          },
                                          error: function () {

                                          }
                                      });
                                   })
</script>


