@model AdminPanelBoom.ViewModel.NewDatumm


<div>
    <div>
        <div>
            <div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <!-- Details Start -->
        <div class="card">
            <div class="card-body">
                <div class="form-group " style="display:inline-block; width:100%">


                    <div>
                        <div class="addpanel" style="display:flex">
                            <input id="addsonItem" style="display:none" />
                            <div class="">
                                <input id="addsonName" class="form-control" placeholder="Name " />
                            </div>

                            <div class="itemform">
                                <label>Multiple?</label>
                                <input id="addsonMultiple" type="checkbox" />
                            </div>
                            <div class="itemform">
                                <label>Required?</label>
                                <input id="addsonRequired" type="checkbox" />
                            </div>
                            <div class="">
                                <button class="btn btn-success" id="setAddsOn">Verify</button>
                            </div>

                            <script>
                                  $("#setAddsOn").click(function () {
                                      var title = $("#addsonName").val();
                                      var multiple = "";
                                      var required = "";
                                      var addsonID = idtosend;// $("#addsonItem").val();
                                      if ($("#addsonMultiple").is(':checked')) {
                                          multiple = "on";
                                      }
                                      if ($("#addsonRequired").is(':checked')) {
                                          required = "on";
                                      }

                                      $.ajax({
                                          url: '/partner/setNewAddson',
                                          dataType: 'html',
                                          data: {
                                              title: title,
                                              multiple: multiple,
                                              required: required,
                                              productID: '@Model.ID',
                                              addsonID: addsonID
                                          },
                                          success: function (data) {
                                               $.ajax({
                                                  url: '/partner/getAddsonTitle',
                                                  dataType: 'html',
                                                  data: {
                                                      id: '@Model.ID',
                                                  },
                                                   success: function (data) {
                                                       //alert(data);
                                                      $("#addsonDataHolder").html(data);
                                                  },
                                                  error: function () {

                                                  }
                                              });
                                          },
                                          error: function () {

                                          }
                                      });
                                  })
                            </script>
                        </div>
                        <div class="tablepanel">

                            @if (Model.addson != null)
                            {
                                <div class="row" style="padding:20px">
                                    <div class="panel-body">
                                        <div id="morris-area-chart">
                                            <div style="overflow:auto">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>

                                                            <th>
                                                                Title
                                                            </th>
                                                            <th>
                                                                Multiple?
                                                            </th>
                                                            <th>
                                                                Required?
                                                            </th>
                                                            <th>

                                                            </th>

                                                            <th>

                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.addson.adds != null)
                                                            {
                                                                foreach (var item in Model.addson.adds)
                                                                {

                                                                    <tr id="@item.ID">

                                                                        <td>
                                                                            <span class="tableTitle"> @Html.DisplayFor(modelItem => item.title)</span>

                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                string ischecked = "";
                                                                                if (item.isMultiple == "on")
                                                                                {
                                                                                    ischecked = "checked";
                                                                                }
                                                                                <input type="checkbox" @ischecked class="checkbox_animated tableMultiple" />
                                                                            }

                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                ischecked = "";
                                                                                if (item.isRquired == "on")
                                                                                {
                                                                                    ischecked = "checked";
                                                                                }
                                                                                <input type="checkbox" @ischecked class="checkbox_animated tableRequired" />
                                                                            }

                                                                        </td>
                                                                        <td style="text-align: center;">

                                                                            @{

                                                                                <a class="btn btn-primary addsonDetailButton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;"> Detail</a>

                                                                            }

                                                                        </td>
                                                                        <td style="text-align: center;">

                                                                            @{
                                                                                var ID = @item.ID;
                                                                                <a class="btn btn-primary editAddson" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">Edit</a>

                                                                            }

                                                                        </td>
                                                                        <td style="text-align: center;">

                                                                            @{

                                                                                <a class="btn btn-primary addsonRemove" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">Remove</a>

                                                                            }

                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }



                                                    </tbody>
                                                </table>
                                                <script>
                                                    var idtosend;
                                                    $(".addsonDetailButton").click(function () {
                                                        var addsonid = $(this).parent().parent().attr('id');
                                                        $("#addsonItem").val(addsonid);

                                                        $.ajax({
                                                            url: '/partner/getAddsonDetail',
                                                            dataType: 'html',
                                                            data: {
                                                                id: addsonid,
                                                            },
                                                            success: function (data) {

                                                                $("#addsonDetailHolder").html(data)
                                                            },
                                                            error: function () {

                                                            }
                                                        });
                                                    })
                                                    $(".editAddson").click(function () {
                                                        var addsonid = $(this).parent().parent().attr('id');
                                                        idtosend = addsonid;
                                                        var addsontitle = $(this).parent().parent().find(".tableTitle").text().trim();
                                                        var addsonRequired = $(this).parent().parent().find(".tableRequired").is(":checked");
                                                        var addsonMultiple = $(this).parent().parent().find(".tableMultiple").is(":checked");


                                                        $("#addsonName").val(addsontitle);
                                                        if (addsonMultiple == true) {
                                                            $("#addsonMultiple").attr("checked", "checked");
                                                        }
                                                        if (addsonRequired == true) {
                                                            $("#addsonRequired").attr("checked", "checked");
                                                        }
                                                    })
                                                    $(".addsonRemove").click(function () {
                                                        var addsonid = $(this).parent().parent().attr('id');
                                                        var parent = $(this).parent().parent();
                                                        $.ajax({
                                                            url: '/partner/removeAddsonTitle',
                                                            dataType: 'html',
                                                            data: {
                                                                id: addsonid,
                                                            },
                                                            success: function (data) {
                                                                parent.remove();
                                                            },
                                                            error: function () {

                                                            }
                                                        });

                                                    })
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>


                    <div id="addsonDetailHolder"></div>



                </div>
            </div>
        </div>
    </div>
</div>
