@model banimo.AdminPanelBoom.ViewModel.oderdetaillistNew
@using Newtonsoft.Json;
@*@model PagedList.IPagedList<AdminPanelBoom.ViewModel.orderdetail>*@
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = Resources.res.productList;
}


@*@using (Html.BeginForm("Index", "Student", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }*@
@{


    <!-- Modal -->
    <p style="display:none" id="modalValue"></p>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                <div class="modal-body">
                    <p id="modalmessage">@Resources.res.removeConfirm </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:7px;">@Resources.res.cancel</button>
                    <button id="confirmdelete" type="button" class="btn btn-default" data-dismiss="modal" style="margin: 7px;">@Resources.res.OK</button>
                    <script>
                        $("#confirmdelete").click(function () {
                            $("#myModal").modal('hide');
                            var id = $("#modalValue").text();
                            $.ajax({
                                url: '/Admin/Delete',
                                dataType: 'html',
                                data: {
                                    id: id,
                                },
                                success: function (data) {
                                    if (data == "error") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error(@Resources.res.workFlowAlert)
                                    }
                                    else {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.success('@Resources.res.done')
                                        var value = $("#listofproduct").val();
                                        var partner = $("#partnerList").val();
                                        $.ajax({
                                            url: '/Admin/GetTheListOfItems',
                                            dataType: 'html',
                                            data: {
                                                value: value,
                                                partner: partner
                                            },
                                            success: function (data) {

                                                $('#listholder').html(data);
                                                $('#listholder').css("display", "block");
                                            },
                                            error: function () {
                                                alert("@Resources.res.error")
                                            }
                                        });
                                    }


                                },
                                error: function () {
                                    alert("@Resources.res.error")
                                }
                            });
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="addItemCountModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                <div class="modal-body">
                    <p id="addCountLable"></p>
                    <div style="display:flex">
                        <input id="ProductSelectedID" style="display:none" />

                        <div style="margin:5px;">
                            <p id="modalmessage">@Resources.res.price </p>
                            <input id="addprice" class="form-control" value="1" />
                        </div>
                        <div style="margin:5px;">
                            <p id="modalmessage">@Resources.res.count</p>
                            <input id="addcount" class="form-control" value="1" />
                        </div>
                        @*<div style="margin:5px;">
                                <p id="modalmessage">امانی</p>
                                <input id="addamani" type="checkbox" class="form-control" />
                            </div>*@
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin:7px;">@Resources.res.cancel</button>
                    <button id="confirmAddItemCount" type="button" class="btn btn-success" data-dismiss="modal" style="margin: 7px;">@Resources.res.OK</button>
                    <script>
                        $("#confirmAddItemCount").click(function () {
                            $("#myModal").modal('hide');
                            var amani = "";
                            if ($("#addamani").is(':checked')) {
                                amani = "1";
                            }
                            else {
                                amani = "0";
                            }
                            var price = $("#addprice").val();
                            var count = $("#addcount").val();
                            var ID = $("#ProductSelectedID").val();

                            $.ajax({
                                url: '/Partner/SetNewFactorFromSail',
                                dataType: 'html',
                                data: {
                                    amani: amani,
                                    price: price,
                                    count: count,
                                    ID: ID,


                                },
                                success: function (data) {
                                    if (data == "error") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('@Resources.res.workFlowAlert')
                                    }
                                    else {
                                        window.location.reload();
                                    }


                                },
                                error: function () {
                                    alert("@Resources.res.error")
                                }
                            });
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="returnItemCountModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                <div class="modal-body">
                    <p id="returnCountLable"></p>
                    <div style="display:flex">
                        <input id="ProductSelectedID0" style="display:none" />

                        <div style="margin:5px;">
                            <p id="modalmessage">@Resources.res.purchasePrice</p>
                            <input id="returnprice" class="form-control" value="1" />
                        </div>
                        <div style="margin:5px;">
                            <p id="modalmessage">@Resources.res.count</p>
                            <input id="returncount" class="form-control" value="1" />
                        </div>
                        @*<div style="margin:5px;">
                                <p id="modalmessage">امانی</p>
                                <input id="returnamani" type="checkbox" class="form-control" />
                            </div>*@
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin:7px;">@Resources.res.cancel</button>
                    <button id="confirmReturnItemCount" type="button" class="btn btn-success" data-dismiss="modal" style="margin: 7px;">@Resources.res.OK</button>
                    <script>
                        $("#confirmReturnItemCount").click(function () {
                            $("#returnItemCount").modal('hide');
                            var amani = "";
                            if ($("#returnamani").is(':checked')) {
                                amani = "1";
                            }
                            else {
                                amani = "0";
                            }
                            var price = $("#returnprice").val();
                            var count = $("#returncount").val();
                            var ID = $("#ProductSelectedID0").val();
                            $.ajax({
                                url: '/Partner/SetReturnFactorFromSail',
                                dataType: 'html',
                                data: {
                                    amani: amani,
                                    price: price,
                                    count: count,
                                    ID: ID

                                },
                                success: function (data) {
                                    if (data == "error") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('@Resources.res.workFlowAlert')
                                    }
                                    else {
                                        window.location.reload();
                                    }


                                },
                                error: function () {
                                    alert(" @Resources.res.error")
                                }
                            });
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="repeatOrder" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                <div class="modal-body">
                    <p id="modalmessage">@Resources.res.removeConfirm ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:7px;"> @Resources.res.cancel</button>
                    <button id="confirmdelete" type="button" class="btn btn-default" data-dismiss="modal" style="margin: 7px;"> @Resources.res.OK </button>
                    <script>
                        $("#confirmdelete").click(function () {
                            $("#myModal").modal('hide');
                            var id = $("#modalValue").text();
                            $.ajax({
                                url: '/Admin/Delete',
                                dataType: 'html',
                                data: {
                                    id: id,
                                },
                                success: function (data) {
                                    if (data == "error") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('@Resources.res.workFlowAlert')
                                    }
                                    else {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.success('@Resources.res.done')
                                        var value = $("#listofproduct").val();
                                        var partner = $("#partnerList").val();
                                        $.ajax({
                                            url: '/Partner/GetTheListOfItems',
                                            dataType: 'html',
                                            data: {
                                                value: value,
                                                partner: partner
                                            },
                                            success: function (data) {

                                                $('#listholder').html(data);
                                                $('#listholder').css("display", "block");
                                            },
                                            error: function () {
                                                alert("@Resources.res.error")
                                            }
                                        });
                                    }


                                },
                                error: function () {
                                    alert("@Resources.res.error")
                                }
                            });
                        })

                    </script>
                </div>
            </div>
        </div>
    </div> if (Model.data == null)
    {
        <p style="text-align:center">@Resources.res.itemNotFound</p>
    }
    else
    {

        <style>

            .imagelistholderEdit {
                display: inline-block;
               
                padding: 5px;
                
                margin: 3px
            }

            .conEdit {
                position: relative;
                width: 100%;
            }

                /* Make the image responsive */
                .conEdit img {
                    width: 100%;
                    height: auto;
                    border-radius: 25px;
                }

                /* Style the button and place it in the middle of the container/image */
                .conEdit .btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #555;
                    color: white;
                    font-size: 8px;
                    padding: 2px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                }

            .con .btn:hover {
                background-color: black;
            }
        </style>
        <div class="row" style="overflow-x:scroll">
            <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:70px">
                <thead>
                    <tr>

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;"> @Resources.res.ID </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.productTitle </th>
                        @if (!string.IsNullOrEmpty(Model.data.First().color))
                        {
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.color </th>
                        }
                        @if (!string.IsNullOrEmpty(Model.data.First().selectedFilter))
                        {
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.feature </th>
                        }

                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.count</th>
                        @*<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Price Befor Discount</th>*@
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.price</th>
                        @*<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Discount(percent)</th>*@
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.active?</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.available?</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.image</th>

                    </tr>
                </thead>

                <tbody>


                    @foreach (var item in Model.data.OrderBy(x => x.color))
                    {
                        string cls = "odd";
                        if (Model.data.IndexOf(item) + 1 % 2 == 0)
                        {
                            cls = "even";
                        }
                        Int64 coWorkerPrice = 0;
                        if (!String.IsNullOrEmpty(item.meta) && item.meta != "null")
                        {
                            banimo.AdminPanelBoom.ViewModel.metaVM metamodel = JsonConvert.DeserializeObject<banimo.AdminPanelBoom.ViewModel.metaVM>(item.meta);
                            coWorkerPrice = metamodel.price;
                        }


                        string color = item.color;

                    <tr id="@item.ID" class="@cls">
                        <td style="display:none" class="metaHolder">@item.meta</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td class="titemHOlder">
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        @if (!string.IsNullOrEmpty(Model.data.First().color))
                        {
                            <td>
                                <div style=" height:40px ; border-radius:15px; background-color:@color; border:1px solid #ddd"></div>
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(Model.data.First().selectedFilter))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.selectedFilter)
                            </td>
                        }


                        <td >
                          
                            <div id="@item.parentID" style="text-align: center; align-items:center; border:none; display:flex; justify-content:center; align-items:center">
                                @{
                                    <p class=" addItemCount" style=" font-size:18px; color:green; margin:10px; cursor:pointer; "><i class="fa fa-plus"></i></p>

                                    if (item.count == "-1")
                                    {
                                        <p style="color : green;margin:0 10px">@Resources.res.available </p>
                                    }
                                    else if (item.count == "0")
                                    {
                                        <p style="color : red;margin:0 10px">@Resources.res.notAvailable</p>
                                    }
                                    else
                                    {
                                        <p style="margin:0 10px" class="">@Html.DisplayFor(modelItem => item.count)</p>

                                    }

                                    <p class=" minusItemCount" style=" font-size:18px; color:red; margin:10px; cursor:pointer"><i class="fa fa-minus"></i></p>

                                    <input style="display:none" value="@item.count" class=" quickCount returnItemCount" />

                                }
                            </div>
                            
                           
                        </td>
                        @* <td>
        <div>

             <p class="quickEditInput">@item.oldPrice</p>
             <input style="display:none" value="@item.oldPrice" class="quickEditInput  quickPrice" />
         </div>
                        <div>
            <p>همکار</p>
            <p class="quickEditInput  ">@string.Format("{0:n0}", @coWorkerPrice) </p>
            <input style="display:none" value="@coWorkerPrice" class="quickEditInput  quickFinalWorkerPrice" />
        </div>

                        </td>*@
                        <td>
                            <div>

                                <p class="quickEditInput  ">@item.price</p>
                                <input style="display:none" value="@item.price" class="quickEditInput  quickFinalPrice" />
                            </div>


                        </td>
                        @*<td>
            <p class="discountLable">@item.discount</p>
          <input style="display:none" value="@item.discount" class="quickEditInput  quickDiscount" />
        </td>*@

                        <td style="text-align: center;">
                            @if (item.isActive == "1")
                            {
                                <input id=@item.ID type="checkbox" class=Active checked />
                            }
                            else
                            {
                                <input id=@item.ID type="checkbox" class=Active />

                            }
                        </td>
                        <td style="text-align: center;">
                            @if (item.IsAvailable == "1")
                            {
                                <input id=@item.ID type="checkbox" class=Available checked />
                            }
                            else
                            {
                                <input id=@item.ID type="checkbox" class=Available />

                            }
                        </td>
                        @*<td style="text-align: center;">
            @{

                if (item.isOffer == "1")
                {
                    <input id=@item.ID type="checkbox" class=Offer checked />
                }
                else
                {
                    <input id=@item.ID type="checkbox" class=Offer />

                }

            }
        </td>
        <td style="text-align: center;">
            @{

                if (item.specialOffer == "1")
                {
                    <input id=@item.ID type="checkbox" class="specialOffer" checked />
                }
                else
                {
                    <input id=@item.ID type="checkbox" class="specialOffer" />

                }

            }
        </td>*@
                        <td>
                            @{
                                string myListOfImage = "";
                                string uploadID = "uploadimg" + item.ID;
                                string imageName = "imagesName" + item.ID;

                                if (item.images != null)
                                {

                                    foreach (var img in item.images)
                                    {
                                        myListOfImage = myListOfImage + img.title + ",";

                                        string ID = img.ID.ToString();
                                        string deletetid = "addtocart" + ID;
                                        string title = "titleofEdit" + ID;
                                        string id = item.ID;

                                        <div class="imagelistholderEdit">

                                            <div class="conEdit">

                                                <img src="@img.title" data-imagezoom="true" class=" back">
                                                <div id=@deletetid class="btn deleteimageForEdit "><i class="fa fa-remove"></i></div>
                                                <div style="display:none" id=@title>@img.title</div>
                                            </div>




                                        </div>

                                    }
                                }

                                <div class="imagelistholderEdit">

                                    <div itemToShow="@uploadID" class="conEdit addMoreImage">

                                        <i class="fa fa-plus-circle" style="font-size:20px; color:green"></i>


                                    </div>




                                </div>
                                <p style="display:none" class="@imageName"></p>
                                <input style="display:none" id="@uploadID" imageName="@imageName" type="file" required="required" class="form-control INP imageFileHolderAdd">


                                <input id="ImageList" name="ImageList" type="hidden" value="@myListOfImage" />
                            }



                        </td>

                        <td>
                            @*<a class="btn btn-primary quickEdit">ویرایش سریع</a>*@
                            <a class="btn btn-primary quickEdit quickVerify" style="display:none">تایید</a>

                        </td>

                        @if (string.IsNullOrEmpty(item.parentID))
                        {
                            <td>
                                <button type="button" class="btn btn-info addtoserver" data-toggle="modal" data-target="#serverModal" id="@item.ID">مطابقت</button>
                            </td>
                        }

                    </tr>
                    }



                </tbody>
            </table>


        </div>






        <br />
        @*Page @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        <p id="selectedForServer"></p>
        <script>
            $(".deleteimageForEdit").click(function () {
                var el = $(this).parent().parent();
                var orderid = $(this).parent().parent().parent().parent().attr('id');
                var id = this.id;
                var res = id.substring(9, id.length);
                var titleid = "titleofEdit" + res;
                var name = $('#' + titleid).text();


                $.ajax({
                    url: '/Admin/Deleteimage',
                    dataType: 'html',
                    data: {
                        id: id,
                        title: name,
                        orderid: orderid
                    },
                    success: function (data) {

                        el.hide();
                    },
                    error: function () {

                    }
                });
            })
        </script>
        <script>
            $(".quickEdit").click(function () {

                $(this).parent().parent().find(".quickEdit").toggle();
                $(this).parent().parent().find(".quickEditInput").toggle();
            })

            $(".quickVerify").click(function () {


                var meta = $(this).parent().parent().find(".metaHolder");
                var price = $(this).parent().parent().find(".quickPrice");
                var count = $(this).parent().parent().find(".quickCount");
                var finalprice = $(this).parent().parent().find(".quickFinalPrice");
                var finalCoworkerPrice = $(this).parent().parent().find(".quickFinalWorkerPrice");
                var discount = $(this).parent().parent().find(".discountLable");




                var ID = $(this).parent().parent().attr('id')


                $.ajax({
                    url: '/Admin/ChangeProductPriceForEdit',
                    dataType: 'html',
                    data: {

                        ID: ID,
                        price: price.val(),
                        finalprice: finalprice.val(),
                        count: count.val(),
                        finalCoworkerPrice: finalCoworkerPrice.val(),
                        meta: meta.text()
                    },
                    success: function (data) {
                        finalCoworkerPrice.parent().find(".quickEditInput").text(finalCoworkerPrice.val());
                        finalprice.parent().find(".quickEditInput").text(finalprice.val());
                        count.siblings().text(count.val());
                        price.parent().find(".quickEditInput").text(price.val())
                        var percent = parseInt(100 - (100 * parseInt(finalprice.val())) / parseInt(price.val()));
                        discount.text(percent)
                    },
                    error: function () {

                    }
                });
            })
        </script>
        <script>
            $(".addtoserver").click(function () {

                $("#selectedForServer").text($(this).attr('id'));

            })
            $(".specialOffer").click(function () {
                if ($(this).is(':checked')) {
                    var productValue = "1";
                }
                else {
                    var productValue = "0";
                }
                var Prodcutid = $(this).attr("id");

                $.ajax({
                    url: '/Admin/ChangeProductSpecialOffer',
                    dataType: 'html',
                    data: {
                        id: Prodcutid,
                        value: productValue
                    },
                    success: function (data) {


                    },
                    error: function () {

                    }
                });
            })
            $(".Offer").click(function () {
                if ($(this).is(':checked')) {
                    var productValue = "1";
                }
                else {
                    var productValue = "0";
                }
                var Prodcutid = $(this).attr("id");

                $.ajax({
                    url: '/Admin/ChangeProductOffer',
                    dataType: 'html',
                    data: {
                        id: Prodcutid,
                        value: productValue
                    },
                    success: function (data) {


                    },
                    error: function () {

                    }
                });
            })
            $(".Active").click(function () {
                if ($(this).is(':checked')) {
                    var productValue = "1";
                }
                else {
                    var productValue = "0";
                }
                var Prodcutid = $(this).attr("id");

                $.ajax({
                    url: '/Admin/ChangeProductActive',
                    dataType: 'html',
                    data: {
                        id: Prodcutid,
                        value: productValue
                    },
                    success: function (data) {


                    },
                    error: function () {

                    }
                });
            })
            $(".Available").click(function () {
                if ($(this).is(':checked')) {
                    var productValue = "1";
                }
                else {
                    var productValue = "0";
                }
                var Prodcutid = $(this).attr("id");

                $.ajax({
                    url: '/Admin/ChangeProductAvailable',
                    dataType: 'html',
                    data: {
                        id: Prodcutid,
                        value: productValue
                    },
                    success: function (data) {


                    },
                    error: function () {

                    }
                });
            })

            $(".minusItemCount").click(function () {
                var id = $(this).parent().attr('id');
                $("#ProductSelectedID0").val(id);
                var text = $(this).parent().parent().find(".titemHOlder").text().trim();
                var lableText = "@Resources.res.returningProduct   " + text;
                $("#returnCountLable").text(lableText)
                $("#returnItemCountModal").modal('toggle');
            })

            $(".addItemCount").click(function () {
                var id = $(this).parent().attr('id');
                $("#ProductSelectedID").val(id);
                var text = $(this).parent().parent().find(".titemHOlder").text().trim();
                var lableText = "  Add Inventory For " + text;
                $("#addCountLable").text(lableText)

                $("#addItemCountModal").modal('toggle');

            })

            $(".returnItemCount").click(function () {

            })


        </script>




    }
}

<script src="~/Scripts/downloadIMGPartner.js"></script>
<script>
    $(".addMoreImage").click(function () {
        var id = $(this).attr('itemtoshow');
        $("#" + id).click();
    })
    $(".imageFileHolderAdd").on('change', function () {
        var id = $(this).attr('id');
        var imageName = $(this).attr('imageName');
        var productid = $(this).parent().parent().attr('id');

        uploadImage(id, imageName, this, productid)
    });
</script>
<style>
    .imageCover{
        margin:auto;
    }
</style>