@model banimo.AdminPanelBoom.ViewModel.setVM



<div id="myModal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p style="display:none" id="productsetToRemove"></p>

                <h5 class="modal-title" id="staticBackdropLabel">@Resources.res.removeItem </h5>
                <p id="modalmessage">@Resources.res.removeConfirm?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal" data-bs-original-title="" title="">@Resources.res.cancel</button>
                    <button id="confirmdelete" type="button" class="btn  btn--yes btn-primary" data-bs-original-title="" title="">@Resources.res.OK</button>
                </div>
                <script>
                        $("#confirmdelete").click(function () {
                            $("#myModal").modal('hide');
                            var id = $("#productsetToRemove").text();
                            var parent = $("productParent").text();
                            $.ajax({
                                url: '/partner/DeleteSetItem',
                                dataType: 'html',
                                data: {
                                    ID: id,
                                },
                                success: function (data) {
                                    if (data == "error") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('@Resources.res.workFlowAlert ')
                                    }
                                    else {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.success('Item is deleted successfully')

                                        $("#" + ID).remove();

                                        @*$.ajax({
                                            url: '/partner/GetTheListOfItems',
                                            dataType: 'html',
                                            data: {
                                                value: value,
                                                partner: partner
                                            },
                                            success: function (data) {

                                                $('#listholder').html(data);
                                                $('#listholder').css("display", "block");
                                            },
                                            error: function () {
                                                alert("@Resources.res.error")
                                            }
                                        });*@
                                    }


                                },
                                error: function () {
                                    alert("@Resources.res.error")
                                }
                            });
                        })

                </script>
            </div>
        </div>
    </div>
</div>


<div style="border:1px solid #ddd; border-radius:8px;margin:15px 0 ; padding:15px" class="">

    @if (Model.setList == null)
    {
        <p style="text-align:center">@Resources.res.itemNotFound </p>
    }
    else
    {

        <table class="table all-package theme-table table-product dataTable no-footer" id="table_id" style="margin-top:10px">
            <thead>
                <tr>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.image </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.title</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.color</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.selectFilterItem</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">@Resources.res.option</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.setList)
                {
                    string cls = "odd";
                    if (Model.setList.IndexOf(item) + 1 % 2 == 0)
                    {
                        cls = "even";
                    }

                    <tr id="@item.ID" class="@cls">
                        <td>
                            <div class="table-image">
                                <img src="@item.image" class="img-fluid" alt="">
                            </div>
                        </td>

                        <td>@item.title</td>
                        <td><div style="width:100px ; height:60px; background-color:@item.color"></div></td>
                        <td>@item.selectedFilter</td>


                        <td>
                            <ul>



                                <li>
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">


                                        <i idtoremove=@item.ID class="ri-delete-bin-line removeProduct" id=""></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }



            </tbody>
        </table>







        <br />
        @*Page @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        <p id="selectedForServer"></p>
        <script>



            $(".removeProduct").click(function () {
                var id = $(this).attr('idtoremove')
                var parent =
                    $("#productsetToRemove").text(id);


                $("#myModal").modal('toggle');

            });
        </script>
    }
</div>
